force-app/main/default/flows/Add_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_Values</name>
        <label>Assign Default Values</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>scoreVar.animalos__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreVar.animalos__Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreVar.animalos__Vet_Consult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vetConsultId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreVar.animalos__Score_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Score_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score</name>
        <label>Assign Score</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>scoreValueVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreVar.animalos__Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scoreValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Score</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4a</name>
        <choiceText>4a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4b</name>
        <choiceText>4b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Animal_ID_empty_and_can_be_retrieved</name>
        <label>Is Animal ID empty and can be retrieved?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Animal ID isn&apos;t empty or can not be retrieved</defaultConnectorLabel>
        <rules>
            <name>Animal_ID_is_empty_and_can_be_retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>animalId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vetConsultId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Animal_ID</targetReference>
            </connector>
            <label>Animal ID is empty and can be retrieved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>scoreValue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!scoreValueVar})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Score (Custom)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Score</name>
        <label>Create Score</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputReference>scoreVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_ID</name>
        <label>Get Animal ID</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vetConsultId</elementReference>
            </value>
        </filters>
        <object>animalos__Vet_Consult__c</object>
        <outputAssignments>
            <assignToReference>animalId</assignToReference>
            <field>animalos__Animal__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Score_Screen</name>
        <label>Add Score Screen</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Score</targetReference>
        </connector>
        <fields>
            <name>Add_Score_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Score_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>scoreVar.animalos__Vet_Consult__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Score_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>scoreVar.animalos__Animal__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Score_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Score_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>scoreVar.animalos__Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Score_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Score</name>
                    <choiceReferences>X1</choiceReferences>
                    <choiceReferences>X2</choiceReferences>
                    <choiceReferences>X3</choiceReferences>
                    <choiceReferences>X4a</choiceReferences>
                    <choiceReferences>X4b</choiceReferences>
                    <choiceReferences>X5</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>scoreVar.animalos__Score_Date_Time__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Animal_ID_empty_and_can_be_retrieved</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Animal ID</description>
        <name>animalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Default Type</description>
        <name>defaultType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scoreValueVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scoreVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Score__c</objectType>
    </variables>
    <variables>
        <description>Vet Consult ID</description>
        <name>vetConsultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
