force-app/main/default/flows/Animal_Disable_Do_Not_Euthanise_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Alert_to_the_List</name>
        <label>Add Alert to the List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Alerts_Loop.animalos__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alerts_Loop.animalos__End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlertsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alerts_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerts_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Do_Not_Euthanise_Alert</name>
        <label>Is Do Not Euthanise Alert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Alerts_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Euthanise_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alerts_Loop.animalos__Message_Formatted__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DO NOT EUTHANISE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Alert_to_the_List</targetReference>
            </connector>
            <label>Do Not Euthanise Alert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Animal - Disable Do Not Euthanise Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Disable Do Not Euthanise Alert</label>
    <loops>
        <name>Alerts_Loop</name>
        <label>Alerts Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Alerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Do_Not_Euthanise_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Alerts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Alerts</name>
        <label>Get Existing Alerts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alerts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>animalos__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>animalos__End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>animalos__Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Alerts</name>
        <label>Update Alerts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AlertsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Alerts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Euthanise__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>animalos__Animal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AlertsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Alert__c</objectType>
    </variables>
</Flow>
