force-app/main/default/flows/animalos__Start_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Referral_JSON</name>
        <label>Get Referral JSON</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <actionName>animalos__GetSObjectJSONInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Start_Referral</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>animalos__Referral__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>animalos__GetSObjectJSONInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Referral_Record_Type_Id_And_Name</name>
        <label>Assign Referral Record Type Id And Name</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>referralVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referral_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Selected_Record_Type</name>
        <label>Selected Record Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adoption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adoption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Adoption</targetReference>
            </connector>
            <label>Adoption</label>
        </rules>
        <rules>
            <name>Inbound_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound_Animal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Inbound_Animal</targetReference>
            </connector>
            <label>Inbound Animal</label>
        </rules>
        <rules>
            <name>Outbound_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound_Animal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Outbound_Animal</targetReference>
            </connector>
            <label>Outbound Animal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Referral_Record_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Referral__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Start Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Start Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Referral_Record_Type</name>
        <label>Get Referral Record Type</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Referral_Record_Type_Id_And_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referral_Record_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Referral_Record_Type</name>
            <choiceReferences>Referral_Record_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Referral</name>
        <label>Start Referral</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Start_Referral_Flow_Step</name>
            <extensionName>animalos:StartReferralFlowStep</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>referralJSON</name>
                <value>
                    <elementReference>Get_Referral_JSON.recordJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Start_Referral_Adoption</name>
        <label>Start Referral - Adoption</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Referral_Record_Type</targetReference>
        </connector>
        <flowName>animalos__Start_Referral_Adoption</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Inbound_Animal</name>
        <label>Start Referral - Inbound Animal</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Referral_Record_Type</targetReference>
        </connector>
        <flowName>animalos__Start_Referral_Inbound_Animal</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Outbound_Animal</name>
        <label>Start Referral - Outbound Animal</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Referral_Record_Type</targetReference>
        </connector>
        <flowName>animalos__Start_Referral_Outbound_Animal</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Referral__c</objectType>
    </variables>
</Flow>
