force-app/main/default/flows/animalos__AnimalOS_Manage_Animals_Example_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decision element to create new records if they were added to the table.</description>
        <name>Create_Records</name>
        <label>Create Records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Updated_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new records</defaultConnectorLabel>
        <rules>
            <name>New_records_need_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Animals_LWC.createdRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Animal_Records</targetReference>
            </connector>
            <label>New records need to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Records</name>
        <label>Delete Records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records to delete</defaultConnectorLabel>
        <rules>
            <name>Records_need_to_be_deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Animals_LWC.deletedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Animal_Records</targetReference>
            </connector>
            <label>Records need to be deleted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision element to update existing records if changes were performed in the table</description>
        <name>Updated_Records</name>
        <label>Updated Records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Delete_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records to update</defaultConnectorLabel>
        <rules>
            <name>Records_need_to_be_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_Animals_LWC.editedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Animal_Records</targetReference>
            </connector>
            <label>Records need to be updated</label>
        </rules>
    </decisions>
    <description>Example flow demonstrating the use of the Manage Animals lightning web component</description>
    <environments>Default</environments>
    <interviewLabel>AnimalOS - Manage Animals Example Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AnimalOS - Manage Animals Example Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates all new animal records from sobject collection output of the table</description>
        <name>Create_New_Animal_Records</name>
        <label>Create New Animal Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Updated_Records</targetReference>
        </connector>
        <inputReference>Manage_Animals_LWC.createdRows</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Deleted animal records from the sobject collection output of the table</description>
        <name>Delete_Selected_Animal_Records</name>
        <label>Delete Selected Animal Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <inputReference>Manage_Animals_LWC.deletedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Returns first 500 Animal records in the organisation. Limit or filter returns as required</description>
        <name>Get_First_500_Animals</name>
        <label>Get First 500 Animals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Animals_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>500.0</numberValue>
        </limit>
        <object>animalos__Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update animal records from the sobject collection output of the table</description>
        <name>Update_Existing_Animal_Records</name>
        <label>Update Existing Animal Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <inputReference>Manage_Animals_LWC.editedRows</inputReference>
    </recordUpdates>
    <screens>
        <description>Presents Animals in table view for quick creation, editing, and deleting.</description>
        <name>Manage_Animals_Screen</name>
        <label>Manage Animals Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <fields>
            <name>Manage_Animals_LWC</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>animalos__Animal__c</typeValue>
            </dataTypeMappings>
            <extensionName>animalos:manageAnimals</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>animalos__AnimalOS_Manage_Animals_Default</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>animals</name>
                <value>
                    <elementReference>Get_First_500_Animals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provides a summary of all actions performed</description>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>summaryText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Summary Of Actions Performed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outputs_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Number of Created Rows &lt;/strong&gt;{!Manage_Animals_LWC.totalNumberOfCreatedRecords}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Number of Deleted Rows: &lt;/strong&gt;{!Manage_Animals_LWC.totalNumberOfDeletedRecords}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Number of Edited Rows: &lt;/strong&gt;{!Manage_Animals_LWC.totalNumberOfEditedRecords}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Number of Selected Rows: &lt;/strong&gt;{!Manage_Animals_LWC.totalNumberOfSelectedRecords}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Number of Rows: &lt;/strong&gt;{!Manage_Animals_LWC.totalNumberOfRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_500_Animals</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
