force-app/main/default/flows/AOS_Job_Attendance_Safety_Declaration_Rescue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>JobSafetyClassificationChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>animalos__Job_Safety_Classification__c</picklistField>
        <picklistObject>animalos__Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AOS Job - Attendance Safety Declaration Rescue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AOS Job - Attendance Safety Declaration Rescue v1.2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job_Activity</name>
        <label>Create Job Activity</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Safety_Declaration_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Activity_Note__c</field>
            <value>
                <elementReference>Notes_comments_in_relation_to_the_task_including_additional_controls_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Job__c</field>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Safety_Declaration_Date__c</field>
            <value>
                <elementReference>Effective_date_of_declaration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Type_of_Work__c</field>
            <value>
                <stringValue>Attendance Safety Declaration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Checked_No_Harm_Risk_to_Myself_or__c</field>
            <value>
                <elementReference>Have_I_checked_that_I_will_not_harm_myself_or_affect_other_people_nearby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Checked_Working_Area_for_Hazards__c</field>
            <value>
                <elementReference>Have_I_checked_my_working_area_for_potential_hazards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Control_measures_put_in_place_or__c</field>
            <value>
                <elementReference>Control_measures_put_in_place_or_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Hazards_Controlled_in_Risk_Register__c</field>
            <value>
                <elementReference>Have_all_hazards_been_controlled_in_a_Risk_Assessment_or_Risk_Register</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Other_Hazards_Identified__c</field>
            <value>
                <elementReference>Have_you_identified_any_Hazard_s_from_the_Take_5_Assessment_Which_are_not_includ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Prestart_Checks_Completed__c</field>
            <value>
                <elementReference>Have_I_visually_checked_tooling_equipment_and_carried_out_required_prestarts_ins</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Required_Equipment_to_Complete_Task__c</field>
            <value>
                <elementReference>Do_I_have_ALL_the_required_tools_PPE_and_equipment_for_the_task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Skills_Required_to_Complete_Task__c</field>
            <value>
                <elementReference>Do_I_have_the_required_training_skills_and_licences_to_carry_out_the_task_safely</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Understand_Requirements_to_Complete__c</field>
            <value>
                <elementReference>Have_I_read_understood_the_Risk_Assessment_SOP_or_Work_Instruction_for_the_task</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Job_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Safety_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>animalos__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Safety_Declaration_Record_Type</name>
        <label>Get Safety Declaration Record Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Job_Activity__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Safety_Declaration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Safety_Assessment</name>
        <label>Safety Assessment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Safety_Declaration_Record_Type</targetReference>
        </connector>
        <fields>
            <name>SafetyIntroductionText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Play it safe - for myself, others nearby and my family and friends&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;IF ANSWERED &quot;NO&quot; OR YOU ARE UNSURE OF ANY QUESTION, STOP AND ASK YOUR TEAM LEADER / MANAGER FOR DIRECTION / ASSISTANCE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;If you have answered &quot;YES&quot; to all questions, then works can commence with care.&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_I_checked_my_working_area_for_potential_hazards</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have I checked my working area for potential hazards?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_I_have_the_required_training_skills_and_licences_to_carry_out_the_task_safely</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do I have the required training, skills and licences to carry out the task safely?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_I_have_ALL_the_required_tools_PPE_and_equipment_for_the_task</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do I have ALL the required tools, PPE and equipment for the task?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_I_read_understood_the_Risk_Assessment_SOP_or_Work_Instruction_for_the_task</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have I read &amp; understood the Risk Assessment / SOP or Work Instruction for the task?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_I_checked_that_I_will_not_harm_myself_or_affect_other_people_nearby</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have I checked that I will not harm myself or affect other people nearby?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_I_visually_checked_tooling_equipment_and_carried_out_required_prestarts_ins</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have I visually checked tooling / equipment and carried out required prestarts inspections for the task?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_all_hazards_been_controlled_in_a_Risk_Assessment_or_Risk_Register</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have all hazards been controlled in a Risk Assessment or Risk Register?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_you_identified_any_Hazard_s_from_the_Take_5_Assessment_Which_are_not_includ</name>
            <fieldText>Have you identified any Hazard(s) from the Take 5 Assessment (Which are not included in the Risk Register or Task Risk Assessment):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Control_measures_put_in_place_or_required</name>
            <fieldText>Control measures put in place or required:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IfInDoubtStop</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;IF IN DOUBT STOP TASK&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes_comments_in_relation_to_the_task_including_additional_controls_required</name>
            <fieldText>Notes / comments in relation to the task - including additional controls required:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Effective_date_of_declaration</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Effective date of declaration:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
