force-app/main/default/flows/AOS_Job_Add_Inspection_with_Assigned_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Assigned_Resource_to_collection</name>
        <label>Add Assigned Resource</label>
        <locationX>338</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AssignedResource.animalos__Job_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Job_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedResource.animalos__Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignedResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User</name>
        <label>Assign Current User</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>AssignedResource.animalos__Job_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Job_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedResource.animalos__Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_User_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignedResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Assigned_Resources</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Any_Assigned_Resources</name>
        <label>Any Assigned Resources?</label>
        <locationX>314</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>FinishScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resources Are Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Resources_Are_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedResources</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assigned_Resource</targetReference>
            </connector>
            <label>Resources Are Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Resources_Selected</name>
        <label>Any Resources Selected?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Current_User_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resources Are Not Selected</defaultConnectorLabel>
        <rules>
            <name>Resources_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InspectorsDataTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Selected_Resources</targetReference>
            </connector>
            <label>Resources Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_User_Has_Resource</name>
        <label>Current User Has Resource</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Any_Assigned_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User_Resource.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_User</targetReference>
            </connector>
            <label>User Has Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Resources_Selected</name>
        <label>Other Resources Selected?</label>
        <locationX>470</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Resources Are Not Selected</defaultConnectorLabel>
        <rules>
            <name>OtherResourcesSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Selected_Resources.animalos__User__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseSafeUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Assigned_Resource_to_collection</targetReference>
            </connector>
            <label>Other Resources Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ServicesProvidedChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>animalos__Services_Provided__c</picklistField>
        <picklistObject>animalos__Job_Activity__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>caseSafeUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>AOS Job - Add Inspection with Assigned Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AOS Job - Add Inspection with Assigned Resources v1.1</label>
    <loops>
        <name>Loop_through_Selected_Resources</name>
        <label>Loop through Selected Resources</label>
        <locationX>250</locationX>
        <locationY>890</locationY>
        <collectionReference>InspectorsDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Other_Resources_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_User_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>AssignedResources</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Activity</name>
        <label>Create Job Activity</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Resources</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inspection_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Activity_Note__c</field>
            <value>
                <elementReference>Activity_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Address__City__s</field>
            <value>
                <elementReference>Inspection_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Address__CountryCode__s</field>
            <value>
                <elementReference>Inspection_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Address__PostalCode__s</field>
            <value>
                <elementReference>Inspection_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Address__StateCode__s</field>
            <value>
                <elementReference>Inspection_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Address__Street__s</field>
            <value>
                <elementReference>Inspection_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Awaiting_Response__c</field>
            <value>
                <elementReference>Awaiting_Notification_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__End_Date_Time__c</field>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Job__c</field>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Notebook_Number__c</field>
            <value>
                <elementReference>Notebook_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Page_Number__c</field>
            <value>
                <elementReference>Page_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Recheck__c</field>
            <value>
                <elementReference>Recheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Services_Provided__c</field>
            <value>
                <elementReference>Services_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Start_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Type_of_Work__c</field>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Written_Directions__c</field>
            <value>
                <elementReference>Written_Directions</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Job_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_User_Resource</name>
        <label>Get Current User Resource</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_User_Has_Resource</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>animalos__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSafeUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>animalos__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Record_Type</name>
        <label>Get Inspection Record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job_Activity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Job_Activity__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Introduction_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>animalos__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resources</name>
        <label>Get Resources</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Resources</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>animalos__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>animalos__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Text</name>
            <fieldText>&lt;p&gt;Job Activity and Resources are added for the Job &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job.Name}&lt;/span&gt; - {!Get_Job.animalos__Subject__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Additionally, &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;more Inspectors can be added manually later on, if needed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>Finish Screen</label>
        <locationX>578</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Created Job Activity with no Assigned Resources.  These can be added manually later on if needed. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction_Screen</name>
        <label>Introduction Screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Inspection_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Job_Id_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Job Id: {!Get_Job.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Introduction_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Introduction_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Start Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Introduction_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Activity_Note</name>
            <fieldText>Activity Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Written_Directions</name>
            <fieldText>Written Directions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Introduction_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Introduction_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recheck</name>
                    <dataType>Date</dataType>
                    <fieldText>Recheck</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Introduction_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Awaiting_Notification_Response</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Awaiting Notification Response</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Introduction_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Introduction_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notebook_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Notebook Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Introduction_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Page_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Page Number (eg 1-17)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Services_Provided</name>
            <choiceReferences>ServicesProvidedChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Services Provided</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Inspection_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Inspection Address (please update if different than Job address)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Job.animalos__Address__Street__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Job.animalos__Address__City__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Job.animalos__Address__StateCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <stringValue>Australia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Job.animalos__Address__PostalCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Job.animalos__Address__CountryCode__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>Get_Job.animalos__Address__StateCode__s</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Resources</name>
        <label>Select Resources</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Any_Resources_Selected</targetReference>
        </connector>
        <fields>
            <name>Add_Resource_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Add Assigned Resources&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Did any other Inspector/s attend with you?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;YES&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; - please select their names below. &lt;/span&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;NO&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; - simply click &apos;Next&apos;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InspectorsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>animalos__Resource__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inspectors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Resources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b459&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Resource Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>AssignedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
