force-app/main/default/flows/Assigned_Resource_Update_Trap_Resource_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Collected</name>
        <label>Is Collected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_Resource_Collected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trap_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Activity</targetReference>
            </connector>
            <label>Assigned Resource Collected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TrapStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Trap_Status__c}, &apos;Collected&apos;), &apos;Available&apos;,  TEXT({!$Record.Trap_Status__c}))</expression>
    </formulas>
    <interviewLabel>Assigned Resource - Update Trap Resource Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned Resource - Update Trap Resource Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Job_Activity</name>
        <label>Update Job Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.animalos__Job_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>animalos__End_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Job_Activity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource</name>
        <label>Update Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Collected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.animalos__Resource__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>TrapStatus</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Resource__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trap_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>animalos__Assigned_Resource__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
