force-app/main/default/flows/Campaign_Set_Receipt_Text_Filled_In.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Receipt_Text_Filled_In_FALSE</name>
        <label>Receipt Text Filled In = FALSE</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ReceiptTextFilledIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Opportunitites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Receipt_Text_Filled_In_TRUE</name>
        <label>Receipt Text Filled In = TRUE</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ReceiptTextFilledIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Opportunitites</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Receipt_Text_Filled_In</name>
        <label>Is Receipt Text Filled In?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Receipt_Text_Filled_In_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Receipt_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt_Text_Filled_In_TRUE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>https://verticconsulting.atlassian.net/browse/RQJ-43</description>
    <environments>Default</environments>
    <interviewLabel>Campaign - Set Receipt Text Filled In {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign - Set Receipt Text Filled In</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPDATE_Campaign</name>
        <label>UPDATE Campaign</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Receipt_Text_Filled_In__c</field>
            <value>
                <elementReference>ReceiptTextFilledIn</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Opportunitites</name>
        <label>UPDATE Opportunitites</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>UPDATE_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Receipt_Text__c</field>
            <value>
                <elementReference>$Record.Receipt_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Receipt_Text_Filled_In</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ReceiptTextFilledIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
