force-app/main/default/flows/Contact_Birthdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Birthdate</name>
        <label>Set Birthdate</label>
        <locationX>333</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>$Record.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BirthdateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Birthday_Estimated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Birthdate_Estimated</name>
        <label>Set Birthdate Estimated</label>
        <locationX>767</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Birthday_Estimated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Birthdate_Fields_Populated</name>
        <label>Is Birthdate Fields Populated</label>
        <locationX>528</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Set_Birthdate_Estimated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not All Populated</defaultConnectorLabel>
        <rules>
            <name>All_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Birth_Day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Birth_Month__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Birth_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Birthdate</targetReference>
            </connector>
            <label>All populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BirthdateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Birth_Year__c}),VALUE(TEXT({!$Record.Birth_Month__c})),{!$Record.Birth_Day__c})</expression>
    </formulas>
    <interviewLabel>Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Birthdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Birthdate_Fields_Populated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Birth_Day__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Birth_Month__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Birth_Year__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
