force-app/main/default/flows/Contact_Make_Deceased.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Contact_Values</name>
        <label>ASSIGN Contact Values</label>
        <locationX>536</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>GET_Contact.npsp__Deceased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.npsp__Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.HasOptedOutOfFax</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.DoNotCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.Do_Not_Mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.SMS_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Recurring_Donations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Recurring_Donation_Values</name>
        <label>ASSIGN Recurring Donation Values</label>
        <locationX>1028</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>LOOP_Recurring_Donations.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOOP_Recurring_Donations.npsp__ClosedReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deceased Donor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Variable_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Recurring_Donations_Exist</name>
        <label>ASSIGN Recurring Donations Exist</label>
        <locationX>695</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>Recurring_Donations_Exist_Indicator</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Recurring_Donations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Variable_to_Collection</name>
        <label>ASSIGN Variable to Collection</label>
        <locationX>1028</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>Recurring_Donations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Recurring_Donations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Recurring_Donations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VALIDATE_Recurring_Donations_Exist</name>
        <label>VALIDATE Recurring Donations Exist</label>
        <locationX>528</locationX>
        <locationY>1023</locationY>
        <defaultConnector>
            <targetReference>UPDATE_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Donations Do NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donations_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Recurring_Donations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Recurring_Donations_Exist</targetReference>
            </connector>
            <label>Recurring Donations Exist</label>
        </rules>
    </decisions>
    <description>Screen flow allows User to mark the Contact as Deceased and closes any open Recurring Donations.</description>
    <environments>Default</environments>
    <interviewLabel>Contact - Make Deceased {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Make Deceased</label>
    <loops>
        <name>LOOP_Recurring_Donations</name>
        <label>LOOP Recurring Donations</label>
        <locationX>884</locationX>
        <locationY>831</locationY>
        <collectionReference>GET_Recurring_Donations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Recurring_Donation_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_Recurring_Donations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_Task</name>
        <label>CREATE Task</label>
        <locationX>885</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>UPDATE_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This Contact has been marked as deceased and their Recurring Donation(s) have been closed.  Please login to the Stripe Dashboard and ensure their Stripe Subscription(s) are also cancelled.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GET_Contact.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deceased Contact - Cancel Stripe Subscription(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>GET_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET Contact</label>
        <locationX>536</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Deceased</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recurring_Donations</name>
        <label>GET Recurring Donations</label>
        <locationX>536</locationX>
        <locationY>825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Recurring_Donations_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Contact</name>
        <label>UPDATE Contact</label>
        <locationX>883</locationX>
        <locationY>1266</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>GET_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Recurring_Donations</name>
        <label>UPDATE Recurring Donations</label>
        <locationX>884</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>CREATE_Task</targetReference>
        </connector>
        <inputReference>Recurring_Donations</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Deceased</name>
        <label>Contact Deceased</label>
        <locationX>536</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deceased_Date</targetReference>
        </connector>
        <fields>
            <name>Instruction_Text</name>
            <fieldText>&lt;p&gt;If you have been notified this person is now deceased, click &lt;strong&gt;Next&lt;/strong&gt; to proceed with updating their records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deceased_Date</name>
        <label>Deceased Date</label>
        <locationX>536</locationX>
        <locationY>526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Contact_Values</targetReference>
        </connector>
        <fields>
            <name>Instruction_Text_0</name>
            <fieldText>&lt;p&gt;Please set the Deceased Date below.  (This can be the actual or informed date.) &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GET_Contact.Deceased_Date__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>883</locationX>
        <locationY>1421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Instruction_Text_0_0</name>
            <fieldText>&lt;p&gt;This Contact has been marked as Deceased.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Success_Message_Conditional</name>
            <fieldText>&lt;p&gt;The Contact&apos;s related Recurring Donation(s) have now been closed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Task has been assigned to the Philanthropy team to cancel the Stripe Subscription(s).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GET_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recurring_Donations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>Recurring_Donations_Exist_Indicator</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
