force-app/main/default/flows/Contact_Create_Estate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Estate_Account_Id</name>
        <label>ASSIGN Estate Account Id</label>
        <locationX>409</locationX>
        <locationY>1757</locationY>
        <assignmentItems>
            <assignToReference>GET_Estate_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estate_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_in_Will_Opportunity_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Estate_Name_0</name>
        <label>ASSIGN Estate Name</label>
        <locationX>1001</locationX>
        <locationY>1757</locationY>
        <assignmentItems>
            <assignToReference>GET_Estate_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estate_Name_Living_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Opportunity_Values</name>
        <label>ASSIGN Opportunity Values</label>
        <locationX>1174</locationX>
        <locationY>1831</locationY>
        <assignmentItems>
            <assignToReference>LOOP_Selected_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOOP_Selected_Opportunities.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Estate_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOOP_Selected_Opportunities.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOOP_Selected_Opportunities.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Estate_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOOP_Selected_Opportunities.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estate_Name_Living_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Variable_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_Type_ID</name>
        <label>ASSIGN Record Type ID</label>
        <locationX>1001</locationX>
        <locationY>1555</locationY>
        <assignmentItems>
            <assignToReference>GET_Estate_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Estate_Account_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Estate_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Estate_Name_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_Type_ID_0</name>
        <label>ASSIGN Record Type ID</label>
        <locationX>581</locationX>
        <locationY>1393</locationY>
        <assignmentItems>
            <assignToReference>Estate_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Estate_Account_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Estate_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Estate_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estate_Name_Living_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Estate_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Variable_to_Collection</name>
        <label>ASSIGN Variable to Collection</label>
        <locationX>1174</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>Update_Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_Estate_Exists</name>
        <label>DECISION Estate Exists?</label>
        <locationX>720</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>GET_Household_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estate Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Estate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Estate_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_in_Will_Opportunity_Review</targetReference>
            </connector>
            <label>Estate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Household_Contains_Living_Members</name>
        <label>DECISION Household Contains Living Members?</label>
        <locationX>845</locationX>
        <locationY>1395</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household Does NOT Contain Living Members</defaultConnectorLabel>
        <rules>
            <name>Living_Members_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Living_Household_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Record_Type_ID_0</targetReference>
            </connector>
            <label>Living Members Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_GiW_Opportunities_Exist</name>
        <label>VALIDATE GiW Opportunities Exist?</label>
        <locationX>526</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>No_GiW_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GiW Opportunities Do NOT Exist</defaultConnectorLabel>
        <rules>
            <name>GiW_Opportunities_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_GiW_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Estate_Account_Record_Type_ID</targetReference>
            </connector>
            <label>GiW Opportunities Exist</label>
        </rules>
    </decisions>
    <description>Guided screen flow retrieves or creates Estate record and allows updates to selected Gift in Will Opportunities.</description>
    <environments>Default</environments>
    <formulas>
        <name>Estate_Name_All_Deceased</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot;+{!GET_Contact.LastName}+&quot; Estate&quot;</expression>
    </formulas>
    <formulas>
        <name>Estate_Name_Living_Members</name>
        <dataType>String</dataType>
        <expression>&quot;The Estate of the Late &quot;+{!GET_Contact.Name}</expression>
    </formulas>
    <interviewLabel>Contact - Create Estate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Create Estate</label>
    <loops>
        <name>LOOP_Selected_Opportunities</name>
        <label>LOOP Selected Opportunities</label>
        <locationX>1050</locationX>
        <locationY>1922</locationY>
        <collectionReference>Selected_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Opportunity_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_Opportunities_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_Estate_Account</name>
        <label>CREATE Estate Account</label>
        <locationX>409</locationX>
        <locationY>1393</locationY>
        <connector>
            <targetReference>UPDATE_Contact</targetReference>
        </connector>
        <inputReference>Estate_Account</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET Contact</label>
        <locationX>536</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Estate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Estate_Account</name>
        <label>GET Estate Account</label>
        <locationX>534</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Estate_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Estate_Account_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Estate_Account_Record_Type_ID</name>
        <label>GET Estate Account Record Type ID</label>
        <locationX>534</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Estate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Estate_Record_Type</name>
        <label>GET Estate Record Type</label>
        <locationX>683</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Selected_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_GiW_Opportunities</name>
        <label>GET GiW Opportunities</label>
        <locationX>716</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_GiW_Opportunities_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_GiW_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_GiW_Record_Type_ID</name>
        <label>GET GiW Record Type ID</label>
        <locationX>716</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_GiW_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gift_in_Will</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Household_Account</name>
        <label>GET Household Account</label>
        <locationX>991</locationX>
        <locationY>1018</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Living_Household_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>GET_Estate_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Living_Household_Members</name>
        <label>GET Living Household Members</label>
        <locationX>991</locationX>
        <locationY>1191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Household_Contains_Living_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Account</name>
        <label>UPDATE Account</label>
        <locationX>848</locationX>
        <locationY>1757</locationY>
        <connector>
            <targetReference>Gift_in_Will_Opportunity_Review</targetReference>
        </connector>
        <inputReference>GET_Estate_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Contact</name>
        <label>UPDATE Contact</label>
        <locationX>409</locationX>
        <locationY>1577</locationY>
        <connector>
            <targetReference>ASSIGN_Estate_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Estate_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Estate_Name_Living_Members</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Opportunities_0</name>
        <label>UPDATE Opportunities</label>
        <locationX>1049</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>Update_Opportunities</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Estate</name>
        <label>Create Estate</label>
        <locationX>536</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_GiW_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>Instruction_Text</name>
            <fieldText>&lt;p&gt;Click &lt;strong&gt;Next&lt;/strong&gt; to review this deceased Contact&apos;s Gift in Will Opportunities and create Estates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gift_in_Will_Opportunity_Review</name>
        <label>Gift in Will Opportunity Review</label>
        <locationX>683</locationX>
        <locationY>1757</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_Estate_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Instruction_Text_0</name>
            <fieldText>&lt;p&gt;The table below lists all the open Gift in Will Opportunities for the deceased Contact ({!GET_Contact.Name}).&lt;/p&gt;&lt;p&gt;Please review and indicate which Opportunities should be converted to an Estate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gift_in_Will_Opportunities</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Gift in Will Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_GiW_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-571c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-84c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-ab44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-a6e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Gift_Type__c&quot;,&quot;guid&quot;:&quot;column-21bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Gift Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Opportunities</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_GiW_Opportunities</name>
        <label>No GiW Opportunities</label>
        <locationX>235</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;Error.  No Gift in Will Opportunities were found for this Contact.&lt;/p&gt;&lt;p&gt;No Estate record can be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1049</locationX>
        <locationY>2389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p&gt;The Estate record has been created and all selected Gift in Will Opportunities successfully updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GET_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Estate_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Update_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
