force-app/main/default/flows/Create_Medical_Behavioural_Scores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>What_is_Populated</name>
        <label>What is Populated</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Medical_Score_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both</defaultConnectorLabel>
        <rules>
            <name>Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medical_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Behaviour_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medical_Score_Record_Type</targetReference>
            </connector>
            <label>Medical</label>
        </rules>
        <rules>
            <name>Behavioural</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Behaviour_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medical_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Behavioural_Score_Record_Type</targetReference>
            </connector>
            <label>Behavioural</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Animal_Fields_to_Update</name>
        <label>Which Animal Fields to Update?</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_Fields_on_Animals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both</defaultConnectorLabel>
        <rules>
            <name>Medical_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medical_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Behaviour_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Medical_Fields_on_Animals</targetReference>
            </connector>
            <label>Medical Assessment</label>
        </rules>
        <rules>
            <name>BehaviouralAssessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Behaviour_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medical_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Behavioural_Fields_on_Animals</targetReference>
            </connector>
            <label>Behavioural Assessment</label>
        </rules>
    </decisions>
    <description>Test</description>
    <dynamicChoiceSets>
        <name>BehaviouralScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>aos_Behavioural_Score__c</picklistField>
        <picklistObject>aos_Assessment_Score__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BehaviouralScoreAppliedAt</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>aos_Behavioural_Score_Applied_At__c</picklistField>
        <picklistObject>aos_Assessment_Score__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MedicalScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>aos_Medical_Score__c</picklistField>
        <picklistObject>aos_Assessment_Score__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MedicalScoreAppliedAt</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>aos_Medical_Score_Applied_At__c</picklistField>
        <picklistObject>aos_Assessment_Score__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CEntered Scores {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Medical &amp; Behavioural Scores</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Behavioural_Score</name>
        <label>Behavioural Score</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Which_Animal_Fields_to_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Behavioural_Score_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Animal__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Behavioural_Score_Applied_At__c</field>
            <value>
                <elementReference>BehaviouralScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Behavioural_Score__c</field>
            <value>
                <elementReference>Behaviour_Score</elementReference>
            </value>
        </inputAssignments>
        <object>aos_Assessment_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Behavioural_Score</name>
        <label>Copy 1 of Behavioural Score</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Which_Animal_Fields_to_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Get_Behavioural_Score_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Animal__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Behavioural_Score_Applied_At__c</field>
            <value>
                <elementReference>BehaviouralScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Behavioural_Score__c</field>
            <value>
                <elementReference>Behaviour_Score</elementReference>
            </value>
        </inputAssignments>
        <object>aos_Assessment_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Assessment Score Record of the Animal &amp; Behavioural Score Record Type</description>
        <name>Copy_1_of_Medical_Score</name>
        <label>Copy 1 of Medical Score</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_Behavioural_Score</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Get_Medical_Score_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Animal__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score_Applied_At__c</field>
            <value>
                <elementReference>MedicalScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score__c</field>
            <value>
                <elementReference>Medical_Score</elementReference>
            </value>
        </inputAssignments>
        <object>aos_Assessment_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Assessment Score Record of the Animal &amp; Behavioural Score Record Type</description>
        <name>Medical_Score_Create</name>
        <label>Medical Score</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Which_Animal_Fields_to_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Medical_Score_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Animal__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score_Applied_At__c</field>
            <value>
                <elementReference>MedicalScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score__c</field>
            <value>
                <elementReference>Medical_Score</elementReference>
            </value>
        </inputAssignments>
        <object>aos_Assessment_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Behavioural_Score_Record_Type</name>
        <label>Copy 1 of Get Behavioural Score Record Type</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Medical_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment_Score__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Behavioural_Score</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Medical_Score_Record_Type</name>
        <label>Copy 1 of Get Medical Score Record Type</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Behavioural_Score_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment_Score__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical_Score</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Behavioural_Score_Record_Type</name>
        <label>Get Behavioural Score Record Type</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Behavioural_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment_Score__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Behavioural_Score</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medical_Score_Record_Type</name>
        <label>Get Medical Score Record Type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Medical_Score_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment_Score__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical_Score</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Behavioural_Fields_on_Animals</name>
        <label>Update Behavioural Fields on Animals</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>aos_Behavioural_Score_Applied_At__c</field>
            <value>
                <elementReference>BehaviouralScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Behavioural_Score__c</field>
            <value>
                <elementReference>Behaviour_Score</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_on_Animals</name>
        <label>Update Fields on Animals</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>aos_Behavioural_Score_Applied_At__c</field>
            <value>
                <elementReference>BehaviouralScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Behavioural_Score__c</field>
            <value>
                <elementReference>Behaviour_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score_Applied_At__c</field>
            <value>
                <elementReference>MedicalScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score__c</field>
            <value>
                <elementReference>Medical_Score</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Medical_Fields_on_Animals</name>
        <label>Update Medical Fields on Animals</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>aos_Medical_Score_Applied_At__c</field>
            <value>
                <elementReference>MedicalScoreAppliedAtc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Medical_Score__c</field>
            <value>
                <elementReference>Medical_Score</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Animal__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Medical_Behavioral_Score</name>
        <label>Create Medical &amp; Behavioral Score</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_is_Populated</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please add scores outcome:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Medical_Behavioral_Score_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Medical_Behavioral_Score_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medical_Score</name>
                    <choiceReferences>MedicalScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Medical Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Medical_Behavioral_Score_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MedicalScoreAppliedAtc</name>
                    <choiceReferences>MedicalScoreAppliedAt</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Applied At</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please add behaviour score outcome:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Medical_Behavioral_Score_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Medical_Behavioral_Score_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Behaviour_Score</name>
                    <choiceReferences>BehaviouralScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Behaviour Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Medical_Behavioral_Score_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BehaviouralScoreAppliedAtc</name>
                    <choiceReferences>BehaviouralScoreAppliedAt</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Applied At</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>578</locationX>
        <locationY>1346</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Done1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your scores were created successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Applied_at_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 29, 29); font-size: 18px;&quot;&gt;An error has occurred, please contact System Administrator&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Medical_Behavioral_Score</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssesmentScoreCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aos_Assessment_Score__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScoreSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aos_Assessment_Score__c</objectType>
    </variables>
    <variables>
        <name>SelectedScores</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
