force-app/main/default/flows/Create_recurring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Assigment_0</name>
        <label>Recurring Donation Assigment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Assigment_0_0</name>
        <label>Recurring Donation Assigment</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paypal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.npsp__Day_of_Month__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Assigment_0_0_0</name>
        <label>Recurring Donation Assigment</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.npsp__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Date_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.npe03__Date_Established__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.PayPal_Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.PayPal_Subscription_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp_plus__Stripe_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.npsp_plus__Stripe_Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id</name>
        <label>Set Id</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Campaign_Code_is_null</name>
        <label>Campaign Code is null?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_or_Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Campaign_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaign.Campaign_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donation_Assigment_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Amount_Was_Set</name>
        <label>Recurring Amount Was Set?</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No_Is_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recurringDonation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recurringDonation.npe03__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Code_is_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PayPal_Subscription_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recurringDonation.PayPal_Subscription_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>I-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donation_Assigment_0_0</targetReference>
            </connector>
            <label>PayPal Subscription Id</label>
        </rules>
        <rules>
            <name>Stripe_Subscription_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recurringDonation.npsp_plus__Stripe_Subscription__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>sub_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donation_Assigment_0</targetReference>
            </connector>
            <label>Stripe Subscription Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amountPlusFee</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!recurringDonationAmount}), 0, {!recurringDonationAmount}) + IF(AND(NOT(ISNULL({!paymentFee})), OR(LEFT({!campaignCodeFormula}, 2) == &apos;AC&apos;), BEGINS({!campaignCodeFormula}, &apos;GA&apos;)), {!paymentFee}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>campaignCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!campaign.Campaign_Code__c}), {!campaignCode}, {!campaign.Campaign_Code__c})</expression>
    </formulas>
    <formulas>
        <name>recurringStartDateFormula</name>
        <dataType>Number</dataType>
        <expression>DAY({!recurringStartDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create rec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Recurring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recurring</name>
        <label>Create Recurring</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>recurringDonation</inputReference>
    </recordCreates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recurring_Amount_Was_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_or_Create_Campaign</name>
        <label>Get or Create Campaign</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Recurring_Donation_Assigment_0_0_0</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>campaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>campaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>campaign</assignToReference>
            <name>campaign</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCardType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringDonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
