force-app/main/default/flows/CreateOrganisation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Deduplicate</name>
        <label>Contact Deduplicate</label>
        <locationX>1592</locationX>
        <locationY>1202</locationY>
        <actionName>DeduplicateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObjects</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeduplicateInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Organlsation_Duplicate</name>
        <label>Organlsation Duplicate</label>
        <locationX>638</locationX>
        <locationY>731</locationY>
        <actionName>DeduplicateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_Decision</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sObjects</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObjects</name>
            <value>
                <elementReference>organisation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeduplicateInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Contact_Assigment</name>
        <label>Contact Assigment</label>
        <locationX>1427</locationX>
        <locationY>1203</locationY>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Deduplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Organisation_Assigment</name>
        <label>Organisation Assigment</label>
        <locationX>500</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>organisation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationWebsite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organlsation_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assigment_PayPal</name>
        <label>Payment Assigment PayPal</label>
        <locationX>3329</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assigment_Stripe</name>
        <label>Payment Assigment Stripe</label>
        <locationX>3318</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>payment.PayPal_Transation_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>1744</locationX>
        <locationY>1253</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact id is null</defaultConnectorLabel>
        <rules>
            <name>Contact_has_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact has id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Decision</name>
        <label>Organisation Decision</label>
        <locationX>776</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Create_Organistion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation id is null</defaultConnectorLabel>
        <rules>
            <name>Organisation_Has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisation.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organisation</targetReference>
            </connector>
            <label>Organisation Has Id</label>
        </rules>
    </decisions>
    <interviewLabel>CreateOrganisation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Organisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>2011</locationX>
        <locationY>1417</locationY>
        <inputReference>contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Organistion</name>
        <label>Create Organistion</label>
        <locationX>1041</locationX>
        <locationY>642</locationY>
        <inputReference>organisation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Records</name>
        <label>Get Payment Records</label>
        <locationX>2635</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1946</locationX>
        <locationY>1096</locationY>
        <inputReference>contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organisation</name>
        <label>Update Organisation</label>
        <locationX>1034</locationX>
        <locationY>813</locationY>
        <inputReference>organisation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records Payment</label>
        <locationX>3642</locationX>
        <locationY>1009</locationY>
        <inputReference>payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>374</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Organisation_Assigment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emptyline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
