force-app/main/default/flows/Created_Related_Animal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Error_Output</name>
        <label>Error Output</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Animal_to_Related_Animal</name>
        <label>Set Animal to Related Animal</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>relatedAnimal.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Animal_By_Shelterbuddy_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_Related_Animal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_related_Animal</name>
        <label>Set related Animal</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>relatedAnimal.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animal.Shelterbuddy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityVar.Animal_Adopt_a_Pet_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Animal_By_Shelterbuddy_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_related_Animal_0</name>
        <label>Set related Animal</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>relatedAnimal.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiftVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animal.Shelterbuddy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiftVar.Animal_Adopt_a_Pet_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Animal_By_Shelterbuddy_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Animal_Id</name>
        <label>Set Related Animal Id</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>relatedAnimalId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Animal_Id_Was_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Animal_Id_0</name>
        <label>Set Related Animal Id</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>relatedAnimalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedAnimal.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Animal_Id_Was_Set</name>
        <label>Animal Id Was Set ?</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_id_was_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>opportunityVar.Animal_Adopt_a_Pet_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GiftVar.Animal_Adopt_a_Pet_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_or_Donation</targetReference>
            </connector>
            <label>Yes, id was set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Animal_was_found</name>
        <label>Animal was found?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Animal_By_Shelterbuddy_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Animal_to_Related_Animal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_or_Donation</name>
        <label>Gift or Donation</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GiftVar.Animal_Adopt_a_Pet_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GiftVar.Animal_Adopt_a_Pet_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_related_Animal_0</targetReference>
            </connector>
            <label>Gift</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityVar.Animal_Adopt_a_Pet_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityVar.Animal_Adopt_a_Pet_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_related_Animal</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Created Related Animal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Created Related Animal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Created_Related_Animal</name>
        <label>Created Related Animal</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Set_Related_Animal_Id_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Output</targetReference>
        </faultConnector>
        <inputReference>relatedAnimal</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_By_Shelterbuddy_ID</name>
        <label>Get Animal By Shelterbuddy ID</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Animal_was_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Output</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shelterbuddy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>animal.Shelterbuddy_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Related_Animal_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>animal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>animalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GiftVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>relatedAnimal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Related_Animal__c</objectType>
    </variables>
    <variables>
        <name>relatedAnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
