force-app/main/default/flows/Create_ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>output_Error</name>
        <label>OutputError</label>
        <locationX>577</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ticket_Assigment</name>
        <label>Ticket Assigment</label>
        <locationX>862</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>eventticket.Ticket_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Family_Tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketFamily</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Family_Tickets_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketFamilyAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Tickets_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketAduitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketChild</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Concession_Tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketsConcession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Child_Tickets_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketChildAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Total_Concession_Tickets_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketsConcessionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Event Ticket Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ticketAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaignIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventticket.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ticket</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Gif_Card_Null</name>
        <label>Event ticket (Null)</label>
        <locationX>701</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ticketAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>getCampaignIdFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Campaign.campaign.Id}=null, {!campaign.Id}, {!Get_Campaign.campaign.Id})</expression>
    </formulas>
    <formulas>
        <name>StageName</name>
        <dataType>String</dataType>
        <expression>IF({!ticketStage}=&quot;&quot;,&quot;Closed Won&quot;,{!ticketStage})</expression>
    </formulas>
    <interviewLabel>Create ti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ticket</name>
        <label>Create ticket</label>
        <locationX>862</locationX>
        <locationY>1097</locationY>
        <faultConnector>
            <targetReference>output_Error</targetReference>
        </faultConnector>
        <inputReference>eventticket</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>866</locationX>
        <locationY>716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ticket_Assigment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event_Ticket</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>583</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>Gif_Card_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>869</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>campaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>campaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventticket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketAduitAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketChild</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketChildAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketFamily</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketFamilyAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketsConcession</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketsConcessionAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
</Flow>
