force-app/main/default/flows/Create_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>2030</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Payment_Assigment_PayPal</name>
        <label>Payment Assigment PayPal</label>
        <locationX>1304</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npsp_plus__Gateway_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentVar.npsp_plus__Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assignment_Stripe</name>
        <label>Payment Assignment Stripe</label>
        <locationX>1040</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npsp_plus__Gateway_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentVar.npsp_plus__Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Method_Assignment_PayPal</name>
        <label>Payment Method Assignment PayPal</label>
        <locationX>776</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Gift_Card_OR_Donation_OR_Both</name>
        <label>Gift Card OR Donation OR Both OR Recurring</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donation_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recurringDonationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsStripe</targetReference>
            </connector>
            <label>Recurring Donation Id</label>
        </rules>
        <rules>
            <name>Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>giftVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donationVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>giftVar.Multiple_Gift_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Gift_Cards</targetReference>
            </connector>
            <label>Gift</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donationVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Payment</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Parent_Opportunity_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>parentOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentOpportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Payment</targetReference>
            </connector>
            <label>Parent Opportunity Id</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donationVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>giftVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStripe</name>
        <label>IsStripe</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GET_First_Installment_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PayPal Subscription</defaultConnectorLabel>
        <rules>
            <name>Stripe_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recurringVar.npsp_plus__Stripe_Subscription__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>sub_</stringValue>
                </rightValue>
            </conditions>
            <label>Stripe Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Gift_Cards</name>
        <label>Multiple Gift Cards?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GET_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single</defaultConnectorLabel>
        <rules>
            <name>Is_Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>giftVar.Multiple_Gift_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Multi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Donation_Opportunity</name>
        <label>Recurring Donation Opportunity</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Transaction_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-Off</defaultConnectorLabel>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_First_Installment_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription_Type</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Type</name>
        <label>Subscription Type</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Payment_Method_Assignment_PayPal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PayPal Subscription ID</defaultConnectorLabel>
        <rules>
            <name>Stripe_Subscription_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recurringVar.npsp_plus__Stripe_Subscription__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>sub_</stringValue>
                </rightValue>
            </conditions>
            <label>Stripe Subscription ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>1172</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Payment_Assigment_PayPal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PayPal Transaction Id</defaultConnectorLabel>
        <rules>
            <name>Stripe_Transaction_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>pi_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Assignment_Stripe</targetReference>
            </connector>
            <label>Stripe Transaction Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_First_Installment_Opportunity</name>
        <label>GET First Installment Opportunity</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Payment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recurringDonationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Payment</name>
        <label>GET Payment</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recurring_Donation_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donationVar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>giftVar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_First_Installment_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Payment</name>
        <label>UPDATE Payment</label>
        <locationX>908</locationX>
        <locationY>1274</locationY>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>GET_Payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gift_Card_OR_Donation_OR_Both</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>donationAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>error</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>isStripePledgedOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>parentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentCollectionDonation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentCollectionGift</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
