force-app/main/default/flows/Create_Gift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Gift_Card_Assignment_0</name>
        <label>Gift Card Assignment</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>giftCard.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentOpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Gift_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gift_Card_Assignment_0_0</name>
        <label>Gift Card Assignment</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>giftCard.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gift Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Card_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftCard.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.npsp__Acknowledgment_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Ad_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.UTM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>donationAmount_Null_OR_Multiple_GC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>490</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Id</name>
        <label>Set Id</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>giftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftCard.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>donationAmount_Null_OR_Multiple_GC</name>
        <label>donationAmount (Null) OR Multiple GC</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Gift_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_or_Multiple_GC</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>giftCard.Multiple_Gift_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donationVar.Amount</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donationVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_Card_Assignment_0</targetReference>
            </connector>
            <label>Not Null or Multiple GC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Amount_Was_Set</name>
        <label>Gift Amount Was Set?</label>
        <locationX>600</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>giftCard.Amount</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>giftCard</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Campaign_Code_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Campaign_Code_Null</name>
        <label>If Campaign Code Null</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Gift_Card_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>campaignCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaignCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>acknowledgementStatus</name>
        <dataType>String</dataType>
        <expression>IF ({!StageName}=&quot;Closed Won&quot;, &quot;Email Acknowledgment Now&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>amountPlusFee</name>
        <dataType>Currency</dataType>
        <expression>{!giftCard.Amount} + 
IF(
	AND(
		ISNULL({!donationVar.Amount}),ISNULL({!recuringDonationVar.npe03__Amount__c}), NOT(ISNULL({!paymentFee}))), 
		{!paymentFee}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaParentOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!donationVar.Parent_Opportunity__c}),{!donationVar.Id}, {!donationVar.Parent_Opportunity__c})</expression>
    </formulas>
    <formulas>
        <name>getCampaignIdFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Campaign.campaign.Id}=null, {!campaign.Id}, {!Get_Campaign.campaign.Id})</expression>
    </formulas>
    <formulas>
        <name>PlusAmount</name>
        <dataType>Currency</dataType>
        <expression>{!splitPaymentOpportunity.Amount}+{!giftCard.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StageName</name>
        <dataType>String</dataType>
        <expression>IF({!giftStage}=&quot;&quot;,&quot;Closed Won&quot;,{!giftStage})</expression>
    </formulas>
    <interviewLabel>Create Gift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Gift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Gift_Card</name>
        <label>Create Gift Card</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>giftCard</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Gift_Card_Record_Type</name>
        <label>Get Gift Card Record Type</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gift_Card_Assignment_0_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gift_Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gift_Amount_Was_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Gift_Card_Record_Type</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>campaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>campaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmMedium</name>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmSource</name>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ErrorObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>giftAnimalAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>giftClosedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>giftEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftFromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftGiftCardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>giftToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastGiftCard</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multipleGiftCards</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recuringDonationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>splitPaymentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>splitPaymentOpportunityAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>splitPaymentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
