force-app/main/default/flows/Create_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Donation_Assignment</name>
        <label>Donation Assignment</label>
        <locationX>435</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>donation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Ad_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmObject.UTM_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npsp__Acknowledgment_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentOpportunityIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npe03__Recurring_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Amount_Was_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>996</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Id</name>
        <label>Set Id</label>
        <locationX>435</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Receipt_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Donation_Assignment</name>
        <label>Update Donation Assignment</label>
        <locationX>116</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>donation.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonationOpportunityNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.npe03__Date_Established__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Without_OppPayment_Assignment</name>
        <label>Without OppPayment Assignment</label>
        <locationX>303</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>donation.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Code_Null</name>
        <label>Campaign Code Null</label>
        <locationX>435</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Campaign_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaign.Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation_Amount_Was_Set</name>
        <label>Donation Amount Was Set?</label>
        <locationX>979</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>donation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donation.Amount</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Code_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Amount_Was_Set</name>
        <label>Gift Amount Was Set?</label>
        <locationX>435</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Create_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gift_Amount_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gift.Amount</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gift</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Without_OppPayment_Assignment</targetReference>
            </connector>
            <label>Gift Amount Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>isStripe</name>
        <label>isStripe</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GET_Recurring_Donation_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stripe_Subscription_Id_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stripeSubscriptionFormula</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>sub_</stringValue>
                </rightValue>
            </conditions>
            <label>Stripe Subscription Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pledge_Opportunity_Exist</name>
        <label>Pledge Opportunity Exist</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Donation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Pledge_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donation.npe03__Recurring_Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Donation_Assignment</targetReference>
            </connector>
            <label>Pledge Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Donation</name>
        <label>Recurring Donation</label>
        <locationX>435</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Donation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One Off</defaultConnectorLabel>
        <rules>
            <name>isRecurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recurringDonation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recurringDonation.npe03__Amount__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isStripe</targetReference>
            </connector>
            <label>isRecurring</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>acknowledgmentStatus</name>
        <dataType>String</dataType>
        <expression>IF({!donationStage}=&quot;Closed Won&quot;, &quot;Email Acknowledgment Now&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>amountPlusFee</name>
        <dataType>Currency</dataType>
        <expression>{!donationAmount} + 
IF(ISBLANK({!recurringId}),
  IF(AND(NOT(ISBLANK({!paymentFee})), LEFT({!campaignCodeFormula}, 2) == &apos;GA&apos;), {!paymentFee}, 0),
  IF(AND(NOT(ISBLANK({!paymentFee})), OR(LEFT({!campaignCodeFormula}, 2) == &apos;AC&apos;, CONTAINS({!campaignCodeFormula}, &apos;GA&apos;))), {!paymentFee}, 0)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>campaignCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!campaign.Campaign_Code__c}), {!campaignCode}, {!campaign.Campaign_Code__c})</expression>
    </formulas>
    <formulas>
        <name>DonationOpportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!donation.Primary_Contact_Full_Name__c} &amp;
 &quot; &quot; &amp;
&quot;$&quot;&amp;
TEXT({!donation.Amount}) &amp;
&quot; &quot; &amp;
&quot;Donation &quot; &amp;
TEXT(DAY({!recurringDonation.npe03__Date_Established__c})) &amp;
&quot;/&quot; &amp;
TEXT(MONTH({!recurringDonation.npe03__Date_Established__c})) &amp; 
&quot;/&quot; &amp;
TEXT(YEAR({!recurringDonation.npe03__Date_Established__c}))</expression>
    </formulas>
    <formulas>
        <name>parentOpportunityIdFormula</name>
        <dataType>String</dataType>
        <expression>IF({!gift.Amount} = NULL,&quot;&quot;,{!parentOpportunityId})</expression>
    </formulas>
    <formulas>
        <name>stripeSubscriptionFormula</name>
        <dataType>String</dataType>
        <expression>{!recurringDonation.npsp_plus__Stripe_Subscription__c}</expression>
    </formulas>
    <interviewLabel>Create Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>435</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>donation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Receipt_Number</name>
        <label>Get Receipt Number</label>
        <locationX>435</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>receiptNumber</assignToReference>
            <field>Receipt_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Donation</name>
        <label>Get Record Type Donation</label>
        <locationX>435</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recurring_Donation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recurring_Donation_Opportunity</name>
        <label>GET Recurring Donation Opportunity</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pledge_Opportunity_Exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recurringDonation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>donation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>npe03__Recurring_Donation__c</queriedFields>
        <queriedFields>npsp__Acknowledgment_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Contact_Full_Name__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Amount</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Donation</name>
        <label>UPDATE Donation</label>
        <locationX>116</locationX>
        <locationY>1190</locationY>
        <inputReference>donation</inputReference>
    </recordUpdates>
    <start>
        <locationX>853</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Donation_Amount_Was_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>303</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Record_Type_Donation</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>campaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>campaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmMedium</name>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmSource</name>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>campaign</assignToReference>
            <name>campaign</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationAnimalAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAnimalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>receiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>text</stringValue>
        </value>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
