force-app/main/default/flows/CSV_Import_EziDebit_Duplicate_Payments_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Fault_Message</name>
        <label>ASSIGN Fault Message</label>
        <locationX>2155</locationX>
        <locationY>2013</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message_0</name>
        <label>ASSIGN Fault Message</label>
        <locationX>1208</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Recurring Donation or Opportunity found for this line.  Please review source data.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message_0_0_0</name>
        <label>ASSIGN Fault Message</label>
        <locationX>1455</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Payment found for the Opportunity.  Please review source data.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Opportunity_Values</name>
        <label>ASSIGN Opportunity Values</label>
        <locationX>1465</locationX>
        <locationY>1945</locationY>
        <assignmentItems>
            <assignToReference>GET_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Values_0_0</name>
        <label>ASSIGN Payment Values</label>
        <locationX>1457</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npsp__Gateway_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gateway_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Values_0_0_0</name>
        <label>ASSIGN Payment Values</label>
        <locationX>1749</locationX>
        <locationY>1233</locationY>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npsp__Gateway_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gateway_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Payment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Refund_Payment_Values</name>
        <label>ASSIGN Refund Payment Values</label>
        <locationX>1457</locationX>
        <locationY>1489</locationY>
        <assignmentItems>
            <assignToReference>Refund_Payment.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund_Payment.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refund_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund_Payment.npsp__Gateway_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gateway_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund_Payment.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refund_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund_Payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EziDebit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund_Payment.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund_Payment.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_Dishonoured_Payment</name>
        <label>DECISION Dishonoured Payment</label>
        <locationX>1741</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Payment_Values_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dishonoured_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dishonoured</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Payment_Values_0_0_0</targetReference>
            </connector>
            <label>Dishonoured</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Opportunity</name>
        <label>VALIDATE Opportunity</label>
        <locationX>1198</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Fault_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity NOT Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Payment</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Payment_0_0</name>
        <label>VALIDATE Payment</label>
        <locationX>1449</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Fault_Message_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment NOT Found</defaultConnectorLabel>
        <rules>
            <name>Payment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DECISION_Dishonoured_Payment</targetReference>
            </connector>
            <label>Payment Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Recurring_Donation</name>
        <label>VALIDATE Recurring Donation</label>
        <locationX>752</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Fault_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Donation Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donation_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Recurring_Donation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Donation_Record_Type</targetReference>
            </connector>
            <label>Recurring Donation Exists</label>
        </rules>
    </decisions>
    <description>CSV to Flow for importing and processing duplicate payments created during the initial payment run in NPSP+.
Flow handles the correction of the Payment data by refunding relevant Payments and inserting Payments created by EziDebit.</description>
    <environments>Default</environments>
    <interviewLabel>CSV Import - EziDebit Duplicate Payments Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Import - EziDebit Duplicate Payments Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Payment</name>
        <label>CREATE Payment</label>
        <locationX>1457</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>ASSIGN_Opportunity_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Refund_Payment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Donation_Record_Type</name>
        <label>GET Donation Record Type</label>
        <locationX>759</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Opportunity</name>
        <label>GET Opportunity</label>
        <locationX>987</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Recurring_Donation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Donation_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Payment</name>
        <label>GET Payment</label>
        <locationX>1207</locationX>
        <locationY>895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Payment_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7)</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EziDebit</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EziDebit_Transaction_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EziDebit_Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Gateway_Payment_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Gateway_Payment_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recurring_Donation</name>
        <label>GET Recurring Donation</label>
        <locationX>752</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Recurring_Donation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EziDebit_Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Opportunity</name>
        <label>UPDATE Opportunity</label>
        <locationX>1465</locationX>
        <locationY>2162</locationY>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>GET_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Payment</name>
        <label>UPDATE Payment</label>
        <locationX>1457</locationX>
        <locationY>1276</locationY>
        <connector>
            <targetReference>ASSIGN_Refund_Payment_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>GET_Payment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Payment_0</name>
        <label>UPDATE Payment</label>
        <locationX>1749</locationX>
        <locationY>1525</locationY>
        <connector>
            <targetReference>ASSIGN_Opportunity_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>GET_Payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>626</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GET_Recurring_Donation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Cleared</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Fees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Payment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Transaction</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Client_Contract_Ref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dishonour_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dishonour_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dishonour_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dishonoured</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EziDebit_Payer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Gateway_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Original_Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Refund_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Refund_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Refund_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>Settlement_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Written_Off</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
