force-app/main/default/flows/CSV_Import_Donor_Data_Paypal_Only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Formatted_Mobile_Phone</name>
        <label>Formatted Mobile Phone</label>
        <locationX>887</locationX>
        <locationY>710</locationY>
        <actionName>InsightRaffleImportMobileFormat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Contact_Mobile_Phone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsightRaffleImportMobileFormat</nameSegment>
        <outputParameters>
            <assignToReference>Mobile</assignToReference>
            <name>formattedPhoneNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isMobilePhone</assignToReference>
            <name>isMobilePhone</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Formatted_Mobile_Phone_0</name>
        <label>Formatted Mobile Phone</label>
        <locationX>428</locationX>
        <locationY>849</locationY>
        <actionName>InsightRaffleImportMobileFormat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Contact_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsightRaffleImportMobileFormat</nameSegment>
        <outputParameters>
            <assignToReference>Mobile</assignToReference>
            <name>formattedPhoneNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isMobilePhone</assignToReference>
            <name>isMobilePhone</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>743</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>contactVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.npsp__Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Opt_In</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_0</name>
        <label>Assign Contact</label>
        <locationX>629</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>contactVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Address_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Opt_In</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.npsp__Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Email_Opt_In_Value</name>
        <label>ASSIGN Email Opt In Value</label>
        <locationX>474</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>Email_Opt_In</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Email_Opt_In_Value_0</name>
        <label>ASSIGN Email Opt In Value</label>
        <locationX>818</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>Email_Opt_In</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message</name>
        <label>ASSIGN Fault Message</label>
        <locationX>1232</locationX>
        <locationY>1194</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>742</locationX>
        <locationY>1386</locationY>
        <assignmentItems>
            <assignToReference>Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Donation_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Mobile_Phone</name>
        <label>Set Contact Mobile Phone</label>
        <locationX>742</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>621</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Formatted_Mobile_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact DOES NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_DOES_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Mobile_Phone_0</targetReference>
            </connector>
            <label>Contact DOES Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Campaign_Exists</name>
        <label>DECISION Campaign Exists</label>
        <locationX>373</locationX>
        <locationY>1759</locationY>
        <defaultConnectorLabel>Campaign Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>TRANSFORM_Email_Opt_In</name>
        <label>TRANSFORM Email Opt In</label>
        <locationX>629</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_In_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Opt_In</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Email_Opt_In_Value_0</targetReference>
            </connector>
            <label>Email Opt In = TRUE</label>
        </rules>
        <rules>
            <name>Email_Opt_In_FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Opt_In</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Email_Opt_In_Value</targetReference>
            </connector>
            <label>Email Opt In = FALSE</label>
        </rules>
    </decisions>
    <description>CSV to Flow import for Donor Data Paypal Only sheet</description>
    <environments>Default</environments>
    <formulas>
        <name>Campaign_End_Date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},4)</expression>
    </formulas>
    <formulas>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <expression>IF({!Ongoing} = &quot;Ongoing&quot;, {!Pet_Supporter_Campaign_Id}, {!Ticket_Purchase_Campaign_Id})</expression>
    </formulas>
    <formulas>
        <name>MailingStreetFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND({!Primary_Address_Street} != null ,{!Mailing_Address_Street_2} != null), {!Mailing_Address_Street_2} + &apos;, &apos; + {!Primary_Address_Street}, 
IF({!Primary_Address_Street} != null, {!Primary_Address_Street}, {!Mailing_Address_Street_2})
)</expression>
    </formulas>
    <formulas>
        <name>PhoneLength</name>
        <dataType>Number</dataType>
        <expression>LEN(SUBSTITUTE({!Mobile}, &quot; &quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CSV Import - Donor Data Paypal Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Import - Donor Data Paypal Only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Campaign</name>
        <label>CREATE Campaign</label>
        <locationX>397</locationX>
        <locationY>1626</locationY>
        <assignRecordIdToReference>GET_Campaign.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Campaign_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Raffle_Donation_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>Insight</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <stringValue>Individual Giving</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <stringValue>Acquisition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Fundraising_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp_plus__Channel__c</field>
            <value>
                <stringValue>Third Party</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Contact</name>
        <label>CREATE Contact</label>
        <locationX>742</locationX>
        <locationY>1208</locationY>
        <connector>
            <targetReference>Set_Contact_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>contactVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Opportunity</name>
        <label>CREATE Opportunity</label>
        <locationX>621</locationX>
        <locationY>1485</locationY>
        <assignRecordIdToReference>Opportunity_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Transaction_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Settlement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donor Data Paypal Only Import</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Donation_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Do_Not_Automatically_Create_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Payment</name>
        <label>CREATE Payment</label>
        <locationX>621</locationX>
        <locationY>1643</locationY>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>Transaction_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>Settlement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Campaign</name>
        <label>GET Campaign</label>
        <locationX>396</locationX>
        <locationY>1363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Raffle_Donation_Campaign_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>637</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Donation_Record_Type</name>
        <label>GET Donation Record Type</label>
        <locationX>628</locationX>
        <locationY>1279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Fundraising_Record_Type_ID</name>
        <label>GET Fundraising Record Type ID</label>
        <locationX>394</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Contact</name>
        <label>UPDATE Contact</label>
        <locationX>629</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>GET_Donation_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>contactVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>511</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TRANSFORM_Email_Opt_In</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Bank_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Customer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_Created</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Do_Not_Contact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_Frequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Opt_In</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Entry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Insight_WP_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMobilePhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Last_Entry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_Address_Street_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MiscInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ongoing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pet_Supporter_Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Address_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Address_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Address_Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Address_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Address_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Raffle_Donation_Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sale_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Settlement_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ticket_Issued</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Ticket_Purchase_Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Week_Ending</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
