force-app/main/default/flows/CSV_Import_Dishonoured_Payment_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Fault_Message</name>
        <label>ASSIGN Fault Message</label>
        <locationX>817</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Payment found with that Payment Number.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message_0</name>
        <label>ASSIGN Fault Message</label>
        <locationX>838</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Payment records exist for this Opportunity, please review manually.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Opportunity_Values</name>
        <label>ASSIGN Opportunity Values</label>
        <locationX>535</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>GET_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_GAU_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Values</name>
        <label>ASSIGN Payment Values</label>
        <locationX>535</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Payment.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Opportunity_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_Additional_Payment_Records</name>
        <label>DECISION Additional Payment Records</label>
        <locationX>527</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Payment_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Payment_Records_EXIST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Additional_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Fault_Message_0</targetReference>
            </connector>
            <label>Additional Payment Records EXIST</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_GAU_Allocations</name>
        <label>DECISION GAU Allocations</label>
        <locationX>527</locationX>
        <locationY>1878</locationY>
        <defaultConnector>
            <targetReference>UPDATE_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GAU_Allocations_EXIST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_GAU_Allocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_GAU_Allocations</targetReference>
            </connector>
            <label>GAU Allocations EXIST</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Payment_Found</name>
        <label>DECISION Payment Found</label>
        <locationX>527</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment NOT Found</defaultConnectorLabel>
        <rules>
            <name>Payment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Opportunity</targetReference>
            </connector>
            <label>Payment Found</label>
        </rules>
    </decisions>
    <description>CSV to Flow import for correctly dishonoured Payment records</description>
    <environments>Default</environments>
    <interviewLabel>CSV Import - Dishonoured Payment Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Import - Dishonoured Payment Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DELETE_GAU_Allocations</name>
        <label>DELETE GAU Allocations</label>
        <locationX>795</locationX>
        <locationY>1875</locationY>
        <connector>
            <targetReference>UPDATE_Payment</targetReference>
        </connector>
        <inputReference>GET_GAU_Allocations</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET_Additional_Payments</name>
        <label>GET Additional Payments</label>
        <locationX>535</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Additional_Payment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GET_Payment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_GAU_Allocations</name>
        <label>GET GAU Allocations</label>
        <locationX>535</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_GAU_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Opportunity</name>
        <label>GET Opportunity</label>
        <locationX>535</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Additional_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Payment.npe01__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Payment</name>
        <label>GET Payment</label>
        <locationX>536</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Payment_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Opportunity</name>
        <label>UPDATE Opportunity</label>
        <locationX>665</locationX>
        <locationY>2282</locationY>
        <inputReference>GET_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Payment</name>
        <label>UPDATE Payment</label>
        <locationX>665</locationX>
        <locationY>2093</locationY>
        <connector>
            <targetReference>UPDATE_Opportunity</targetReference>
        </connector>
        <inputReference>GET_Payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>409</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>GET_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Payment_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
