force-app/main/default/flows/CSV_Imports_Pronto_POS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Account_to_Opportunity</name>
        <label>ASSIGN Account to Opportunity</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Account_to_Opportunity_0</name>
        <label>ASSIGN Account to Opportunity</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Campaign_to_Opportunity</name>
        <label>ASSIGN Campaign to Opportunity</label>
        <locationX>688</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Contact_to_Opportunity</name>
        <label>ASSIGN Contact to Opportunity</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Account_to_Opportunity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Do_Not_Acknowledge</name>
        <label>ASSIGN Do Not Acknowledge</label>
        <locationX>622</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Email_Acknowledgment_Now</name>
        <label>ASSIGN Email Acknowledgment Now</label>
        <locationX>886</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Acknowledgment Now</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_FaultMessage</name>
        <label>ASSIGN FaultMessage</label>
        <locationX>1634</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_FlowFaultMessage</name>
        <label>ASSIGN FlowFaultMessage</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Opportunity</name>
        <label>ASSIGN Opportunity</label>
        <locationX>820</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test Opp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_To_Be_Acknowledged</name>
        <label>ASSIGN To Be Acknowledged</label>
        <locationX>1150</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Acknowledged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Account_to_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Auto_Email_Receipt_0</name>
        <label>Auto Email Receipt?</label>
        <locationX>1018</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_To_Be_Acknowledged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Email_Receipt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Email_Acknowledgment_Now</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Exists</name>
        <label>Campaign Exists?</label>
        <locationX>820</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>CREATE_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Campaign_to_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Contact_to_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Map_To_Donation_Type</name>
        <label>Map To Donation Type</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receipt_Later_0</name>
        <label>Receipt Later?</label>
        <locationX>820</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Auto_Email_Receipt_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receipt_Later</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Do_Not_Acknowledge</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>https://verticconsulting.atlassian.net/browse/RQJ-112</description>
    <environments>Default</environments>
    <interviewLabel>CSV Imports - Pronto POS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Imports - Pronto POS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Opportunity</name>
        <label>CREATE Opportunity</label>
        <locationX>820</locationX>
        <locationY>1850</locationY>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ASSIGN_FlowFaultMessage</targetReference>
        </faultConnector>
        <inputReference>opportunityVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Payment</name>
        <label>CREATE Payment</label>
        <locationX>820</locationX>
        <locationY>1958</locationY>
        <faultConnector>
            <targetReference>ASSIGN_FaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>opportunityVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Account</name>
        <label>GET Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ASSIGN_FlowFaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Constituent_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Campaign</name>
        <label>GET Campaign</label>
        <locationX>820</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipt_Later_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ASSIGN_FlowFaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET Contact</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_FlowFaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShelterBuddy_ID_PID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Constituent_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Map_To_Donation_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Auto_Email_Receipt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Constituent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Map_To</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Receipt_Later</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
