force-app/main/default/flows/CSV_Import_Insight_Raffle_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Formatted_Mobile_Phone</name>
        <label>Formatted Mobile Phone</label>
        <locationX>807</locationX>
        <locationY>624</locationY>
        <actionName>InsightRaffleImportMobileFormat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Mobile_Phone_Used</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsightRaffleImportMobileFormat</nameSegment>
        <outputParameters>
            <assignToReference>Phone</assignToReference>
            <name>formattedPhoneNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isMobilePhone</assignToReference>
            <name>isMobilePhone</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>791</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>contactVar.npe01__HomeEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Suburb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Post_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingStreetFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message</name>
        <label>ASSIGN Fault Message</label>
        <locationX>1365</locationX>
        <locationY>1767</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>791</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Mobile_Phone</name>
        <label>Set Contact Mobile Phone</label>
        <locationX>659</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Phone</name>
        <label>Set Contact Phone</label>
        <locationX>923</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>contactVar.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>621</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Formatted_Mobile_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact DOES NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_DOES_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Campaign</targetReference>
            </connector>
            <label>Contact DOES Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Campaign_Exists</name>
        <label>DECISION Campaign Exists</label>
        <locationX>673</locationX>
        <locationY>1628</locationY>
        <defaultConnector>
            <targetReference>GET_Fundraising_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Donation_Record_Type</targetReference>
            </connector>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mobile_Phone_Used</name>
        <label>Is Mobile Phone Used</label>
        <locationX>791</locationX>
        <locationY>825</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Mobile_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CSV to Flow import for Insight Raffle Donation Data</description>
    <environments>Default</environments>
    <formulas>
        <name>Campaign_End_Date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},4)</expression>
    </formulas>
    <formulas>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <expression>IF({!Ongoing} = &quot;Ongoing&quot;, {!Pet_Supporter_Campaign_Id}, {!Ticket_Purchase_Campaign_Id})</expression>
    </formulas>
    <formulas>
        <name>MailingStreetFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND({!Mailing_Address_Street} != null ,{!Mailing_Address_Street_2} != null), {!Mailing_Address_Street_2} + &apos;, &apos; + {!Mailing_Address_Street}, 
IF({!Mailing_Address_Street} != null, {!Mailing_Address_Street}, {!Mailing_Address_Street_2})
)</expression>
    </formulas>
    <formulas>
        <name>PhoneLength</name>
        <dataType>Number</dataType>
        <expression>LEN(SUBSTITUTE({!Phone}, &quot; &quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CSV Import - Insight Raffle Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Import - Insight Raffle Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Campaign</name>
        <label>CREATE Campaign</label>
        <locationX>798</locationX>
        <locationY>1816</locationY>
        <assignRecordIdToReference>GET_Campaign.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GET_Donation_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Campaign_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Raffle_Donation_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>Insight</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <stringValue>Individual Giving</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <stringValue>Acquisition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Fundraising_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp_plus__Channel__c</field>
            <value>
                <stringValue>Third Party</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Contact</name>
        <label>CREATE Contact</label>
        <locationX>791</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Set_Contact_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>contactVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Opportunity</name>
        <label>CREATE Opportunity</label>
        <locationX>683</locationX>
        <locationY>2062</locationY>
        <assignRecordIdToReference>Opportunity_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GET_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Bank_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MiscInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insight_Customer_ID__c</field>
            <value>
                <elementReference>Customer_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Insight Raffle Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Donation_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_First_Entry__c</field>
            <value>
                <elementReference>First_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Last_Entry__c</field>
            <value>
                <elementReference>Last_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalOpportunityQuantity</field>
            <value>
                <elementReference>Ticket_Issued</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Do_Not_Automatically_Create_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Email Acknowledgment Now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Payment</name>
        <label>CREATE Payment</label>
        <locationX>683</locationX>
        <locationY>2265</locationY>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>Bank_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <elementReference>Sale_Type</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Campaign</name>
        <label>GET Campaign</label>
        <locationX>462</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Campaign_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Raffle_Donation_Campaign_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>637</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Donation_Record_Type</name>
        <label>GET Donation Record Type</label>
        <locationX>531</locationX>
        <locationY>1816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Fundraising_Record_Type_ID</name>
        <label>GET Fundraising Record Type ID</label>
        <locationX>940</locationX>
        <locationY>1634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>511</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Bank_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Customer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Entry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Insight_WP_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMobilePhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Last_Entry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_Address_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_Address_Street_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_Post_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_Suburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MiscInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ongoing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pet_Supporter_Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Raffle_Donation_Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sale_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ticket_Issued</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Ticket_Purchase_Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Week_Ending</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
