force-app/main/default/flows/CSV_Import_EziDebit_Payment_File.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Fault_Message</name>
        <label>ASSIGN Fault Message</label>
        <locationX>50</locationX>
        <locationY>1929</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message_0</name>
        <label>ASSIGN Fault Message</label>
        <locationX>1105</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Recurring Donation found for this EziDebit Payer ID.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Fault_Message_0_0</name>
        <label>ASSIGN Fault Message</label>
        <locationX>1042</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Payment with the same reference number and payment outcome already exists.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_Opportunity_Values</name>
        <label>ASSIGN Opportunity Values</label>
        <locationX>552</locationX>
        <locationY>2253</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Recurring_Donation.npe03__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Recurring_Donation.npe03__Recurring_Donation_Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Settlement_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EziDebit Import</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Recurring_Donation.npe03__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npe03__Recurring_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Recurring_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Paid_Value</name>
        <label>ASSIGN Paid Value</label>
        <locationX>590</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>Paid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Duplicate_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Paid_Value_0</name>
        <label>ASSIGN Paid Value</label>
        <locationX>863</locationX>
        <locationY>1108</locationY>
        <assignmentItems>
            <assignToReference>Paid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Written_Off</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Duplicate_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Method_Value</name>
        <label>ASSIGN Payment Method Value</label>
        <locationX>527</locationX>
        <locationY>1927</locationY>
        <assignmentItems>
            <assignToReference>Payment_Method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VALIDATE_Payment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Method_Value_0</name>
        <label>ASSIGN Payment Method Value</label>
        <locationX>951</locationX>
        <locationY>1924</locationY>
        <assignmentItems>
            <assignToReference>Payment_Method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EziDebit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VALIDATE_Payment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Values</name>
        <label>ASSIGN Payment Values</label>
        <locationX>947</locationX>
        <locationY>2253</locationY>
        <assignmentItems>
            <assignToReference>Payment.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.EziDebit_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Contract_Ref</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Existing_Payment.npe01__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp__Total_Transaction_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp_plus__Failure_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dishonour_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp_plus__Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dishonour_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Written_Off</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Payment_Values_0</name>
        <label>ASSIGN Payment Values</label>
        <locationX>551</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>Payment.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.EziDebit_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Contract_Ref</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp__Total_Transaction_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp_plus__Failure_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dishonour_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npsp_plus__Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dishonour_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Written_Off</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_Payment_Method</name>
        <label>DECISION Payment Method</label>
        <locationX>733</locationX>
        <locationY>1815</locationY>
        <defaultConnector>
            <targetReference>VALIDATE_Payment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CREDITCARD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CREDITCARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Payment_Method_Value</targetReference>
            </connector>
            <label>CREDITCARD</label>
        </rules>
        <rules>
            <name>BANKACCOUNT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BANKACCOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Payment_Method_Value_0</targetReference>
            </connector>
            <label>BANKACCOUNT</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Payment_Type</name>
        <label>DECISION Payment Type</label>
        <locationX>744</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Paid_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Successful</defaultConnectorLabel>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Cleared</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Paid_Value_0</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Payment</name>
        <label>VALIDATE Payment</label>
        <locationX>735</locationX>
        <locationY>1453</locationY>
        <defaultConnector>
            <targetReference>GET_Existing_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Payment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Duplicate_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Fault_Message_0_0</targetReference>
            </connector>
            <label>Payment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Payment_0</name>
        <label>VALIDATE Payment</label>
        <locationX>732</locationX>
        <locationY>2057</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Opportunity_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Payment_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Existing_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Payment_Values</targetReference>
            </connector>
            <label>Payment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Recurring_Donation</name>
        <label>VALIDATE Recurring Donation</label>
        <locationX>744</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Fault_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Donation Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donation_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Recurring_Donation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Donation_Record_Type</targetReference>
            </connector>
            <label>Recurring Donation Exists</label>
        </rules>
    </decisions>
    <description>CSV to Flow handles import of EziDebit Payment File and creates Opportunity and Payment records related to Recurring Donation.</description>
    <environments>Default</environments>
    <interviewLabel>CSV Import - EziDebit Payment File {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Import - EziDebit Payment File</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Opportunity</name>
        <label>CREATE Opportunity</label>
        <locationX>552</locationX>
        <locationY>2453</locationY>
        <connector>
            <targetReference>ASSIGN_Payment_Values_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Payment</name>
        <label>CREATE Payment</label>
        <locationX>822</locationX>
        <locationY>2514</locationY>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Payment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Donation_Record_Type</name>
        <label>GET Donation Record Type</label>
        <locationX>752</locationX>
        <locationY>800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Payment_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Duplicate_Payment</name>
        <label>GET Duplicate Payment</label>
        <locationX>743</locationX>
        <locationY>1254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EziDebit_Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client_Contract_Ref</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Existing_Payment</name>
        <label>GET Existing Payment</label>
        <locationX>742</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Payment_Method</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EziDebit_Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client_Contract_Ref</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recurring_Donation</name>
        <label>GET Recurring Donation</label>
        <locationX>752</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Recurring_Donation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASSIGN_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EziDebit_Payer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EziDebit_Payer_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>626</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GET_Recurring_Donation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount_Cleared</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Fees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Payment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Amount_Transaction</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Client_Contract_Ref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dishonour_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dishonour_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EziDebit_Payer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>Payment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Settlement_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Written_Off</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
