force-app/main/default/flows/CUSTOM_Generate_Adoption_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Adoption_Profile</name>
        <label>Generate Adoption Profile</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>animalos__GenerateContentInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AI_Adoption_profile_complete</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>outputField</name>
            <value>
                <stringValue>animalos__Adoption_Profile__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceFields</name>
            <value>
                <stringValue>animalos__Animal_Name__c,animalos__Gender__c,animalos__Type__c, Primary_Breed_Formula__c,Home_Requirements__c,Activity_level_playfulness__c,Lifestyle__c,Age_Restriction__c,animalos__Calculated_Age__c,Adopter_Experience__c,Dog_Sociability__c,Other_Animals__c,General_Requirements__c,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>term</name>
            <value>
                <stringValue>Generate an adoption profile to generate interest for potential adopters of this animal in 250 tokens or less. Please write it in first person as if you are the animal. Include emojis in the profile.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>animalos__GenerateContentInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>CUSTOM Generate Adoption Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CUSTOM Generate Adoption Profile v1.2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>AI_Adoption_profile_complete</name>
        <label>AI Adoption profile complete</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Adoption Profile has been generated and saved. Refresh the animal’s page to see it. &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Please review the Adoption Profile immediately and amend if required prior to publication. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>animalos__Generate_Adoption_Profile</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Adoption_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
