force-app/main/default/flows/CUSTOM_customer_subscription_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Subscription_Amount</name>
        <label>Parse Subscription Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>npsp_plus__StripeParseAmountInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Subscription_Start_Date</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeAmount</name>
            <value>
                <elementReference>stripeSubscriptionAmount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseAmountInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recurringDonationVar.npe03__Amount__c</assignToReference>
            <name>parsedAmount</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Anchor_Date</name>
        <label>Parse Subscription Anchor Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Subscription_Cancel_Date</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeSubscriptionAnchorDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recurringDonationVar.npsp__StartDate__c</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Cancel_Date</name>
        <label>Parse Subscription Cancel Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RD_Assignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeSubscriptionCancelDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recurringDonationVar.npsp__EndDate__c</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Start_Date</name>
        <label>Parse Subscription Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Subscription_Anchor_Date</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeSubscriptionStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recurringDonationVar.npe03__Date_Established__c</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Stripe_Customer</name>
        <label>Save Stripe Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>npsp_plus__IntegrationItemServiceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Account_Upserted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactAccountId</name>
            <value>
                <elementReference>Upsert_Contact.contactVar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeCustomerId</name>
            <value>
                <elementReference>stripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__IntegrationItemServiceInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Results</name>
        <label>Assign Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.contactVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisationVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.campaignVar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Account_Failure</name>
        <label>Assign Upsert Account Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Campaign_Failure</name>
        <label>Assign Upsert Campaign Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Contact_Failure</name>
        <label>Assign Upsert Contact Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RD_Assignment</name>
        <label>RD Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DayOfMonthFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Assignment</name>
        <label>Recurring Donation Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp_plus__Stripe_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeSubscriptionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDInstallmentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeSubscriptionIntervalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Subscription_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reccuring_Donation_Account</name>
        <label>Set Reccuring Donation Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Campaign_Upserted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Donation_Campaign</name>
        <label>Set Recurring Donation Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.campaignVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recurring_Donation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Donation_Contact</name>
        <label>Set Recurring Donation Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.contactVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Stripe_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Upsert</name>
        <label>Check Account Upsert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Upsert_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertAccountFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Account_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Upserted</name>
        <label>Check Account Upserted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Upserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.IsUpserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reccuring_Donation_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Upsert</name>
        <label>Check Campaign Upsert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Upserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertCampaignFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Campaign.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Campaign_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Upserted</name>
        <label>Check Campaign Upserted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Campaign.IsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Donation_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Upsert</name>
        <label>Check Contact Upsert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Upsert_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertContactFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Contact.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Contact_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Upserted</name>
        <label>Check Contact Upserted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Upserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Contact.IsUpserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Donation_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPSP_Metadata</name>
        <label>NPSP+ Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>npspPlusMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Contact</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DayOfMonthFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!recurringDonationVar.npsp__Day_of_Month__c})), IF(DAY({!recurringDonationVar.npsp__StartDate__c}) == 31, &quot;Last_Day&quot;, TEXT(DAY({!recurringDonationVar.npsp__StartDate__c}))), TEXT({!recurringDonationVar.npsp__Day_of_Month__c}))</expression>
    </formulas>
    <formulas>
        <name>DonationStageFormula</name>
        <dataType>String</dataType>
        <expression>IF({!stripePaymentIntentStatus} == &quot;succeeded&quot;, &quot;Closed Won&quot;, &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsPaidFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!donationVar.StageName}, &apos;Closed Won&apos;)</expression>
    </formulas>
    <formulas>
        <name>RDAmountFormula</name>
        <dataType>Number</dataType>
        <expression>{!recurringDonationVar.npe03__Amount__c} * {!stripeSubscriptionQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RDInstallmentFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!stripeSubscriptionInterval},
&quot;day&quot;, &quot;Daily&quot;,
&quot;week&quot;, &quot;Weekly&quot;,
&quot;month&quot;, &quot;Monthly&quot;,
&quot;year&quot;, &quot;Yearly&quot;,
&quot;Monthly&quot;
)</expression>
    </formulas>
    <interviewLabel>CUSTOM customer.subscription.created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CUSTOM customer.subscription.created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recurring_Donation</name>
        <label>Create Recurring Donation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>recurringDonationVar</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>npsp_plus__customer_subscription_created</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NPSP_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upsert_Account</name>
        <label>Upsert Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Account_NPSP_Template</flowName>
        <inputAssignments>
            <name>accountVar</name>
            <value>
                <elementReference>organisationVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsert_Campaign</name>
        <label>Upsert Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Campaign_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Campaign_NPSP_Template</flowName>
        <inputAssignments>
            <name>campaignVar</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsert_Contact</name>
        <label>Upsert Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Contact_NPSP_Template</flowName>
        <inputAssignments>
            <name>contactVar</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>donationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>npspPlusMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>stripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>stripePaymentIntentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionAnchorDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionCancelDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionInterval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionIntervalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stripeSubscriptionQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>stripeSubscriptionStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
