force-app/main/default/flows/Get_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Medium_Campaign_as_Parent</name>
        <label>Assign Medium Campaign as Parent</label>
        <locationX>57</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>parentCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Campaign_By_Source_And_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_As_Found_Campaign</name>
        <label>Assign Parent As Found Campaign</label>
        <locationX>354</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentCampaign</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Campaign_Assignement</name>
        <label>New Campaign Assignement</label>
        <locationX>935</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>campaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Fundraiser_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundraiserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignNewName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Fundraiser_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundraiserURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.npsp_plus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>567</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Campaign_By_Medium</name>
        <label>Campaign By Medium</label>
        <locationX>237</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>Source_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found_Campaign_By_Medium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_As_Found_Campaign</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_By_Source_And_Medium</name>
        <label>Campaign By Source And Medium</label>
        <locationX>50</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found_UTM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_As_Found_Campaign</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Code</name>
        <label>Campaign Code</label>
        <locationX>713</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Standard</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Campaign_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaign.Campaign_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_By_Code</targetReference>
            </connector>
            <label>Is Standard</label>
        </rules>
        <rules>
            <name>Fundraiser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCampaignCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentCampaignCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Campaign_By_Code</targetReference>
            </connector>
            <label>Fundraiser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fundraiser_Campaign</name>
        <label>Fundraiser Campaign</label>
        <locationX>744</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Campaign_Assignement</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fundraiser_Id</name>
        <label>Fundraiser Id</label>
        <locationX>927</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>New_Campaign_Assignement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fundraiserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_By_Fundraiser_Id</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medium_Empty</name>
        <label>Medium Empty</label>
        <locationX>430</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Medium_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>utmMedium</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>utmMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Empty</name>
        <label>Source Empty</label>
        <locationX>237</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Assign_Medium_Campaign_as_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Source_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>utmSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>utmSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>campaignNewName</name>
        <dataType>String</dataType>
        <expression>{!parentCampaign.Name} &amp; &quot; &quot; &amp; {!contact.FirstName}</expression>
    </formulas>
    <formulas>
        <name>campaignParentNameMedium</name>
        <dataType>String</dataType>
        <expression>{!parentCampaign.Name} &amp; &apos; - &apos; &amp; {!mediumWithoutUnderscores}</expression>
    </formulas>
    <formulas>
        <name>campaignParentNameMediumSource</name>
        <dataType>String</dataType>
        <expression>{!parentCampaign.Name} &amp; &apos; - &apos; &amp; {!sourceWithoutUnderscores}</expression>
    </formulas>
    <formulas>
        <name>mediumWithoutUnderscores</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!utmMedium}, &quot;_&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>sourceWithoutUnderscores</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!utmSource}, &quot;_&quot;, &quot; &quot;)</expression>
    </formulas>
    <interviewLabel>Get Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>934</locationX>
        <locationY>730</locationY>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>campaign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_By_Code</name>
        <label>Get Campaign By Code</label>
        <locationX>520</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_As_Found_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaign.Campaign_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>parentCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_By_Fundraiser_Id</name>
        <label>Get Campaign By Fundraiser Id</label>
        <locationX>752</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fundraiser_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fundraiser_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fundraiserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fundraiser_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Campaign_By_Medium</name>
        <label>Get Child Campaign By Medium</label>
        <locationX>359</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_By_Medium</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignParentNameMedium</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Campaign_By_Source_And_Medium</name>
        <label>Get Child Campaign By Source And Medium</label>
        <locationX>57</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_By_Source_And_Medium</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignParentNameMediumSource</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Campaign_By_Code</name>
        <label>Get Parent Campaign By Code</label>
        <locationX>926</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fundraiser_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>parentCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>595</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Campaign_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
