force-app/main/default/flows/Job_Attendance_Safety_Declaration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>High_Vigilance</name>
        <choiceText>High Vigilance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Vigilance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moderate_Concern</name>
        <choiceText>Moderate Concern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderate Concern</stringValue>
        </value>
    </choices>
    <choices>
        <name>Routine</name>
        <choiceText>Routine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Routine</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Job_Classification_Job_Classification</name>
        <label>Does Job Classification = Job Classification?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Job.animalos__Job_Safety_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inspectorate_Activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobClassification</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Job.animalos__Job_Safety_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TryAgain</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job - Attendance Safety Declaration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Attendance Safety Declaration (AnimalOS)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inspectorate_Activity</name>
        <label>Create Inspectorate Activity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Safety_Declaration_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Job_Classification__c</field>
            <value>
                <elementReference>Get_Job.animalos__Job_Safety_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Job__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Safety_Declaration_Date__c</field>
            <value>
                <elementReference>Effective_date_of_declaration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Type_of_Work__c</field>
            <value>
                <stringValue>Attendance Safety Declaration</stringValue>
            </value>
        </inputAssignments>
        <object>animalos__Job_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Safety_Declaration_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>animalos__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Safety_Declaration_Record_Type_Id</name>
        <label>Get Safety Declaration Record Type Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Label01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Safety Declaration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Job_Activity__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Label01</name>
        <label>Safety Assessment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Job_Classification_Job_Classification</targetReference>
        </connector>
        <fields>
            <name>Label02</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Job Classification Awareness:&lt;/strong&gt; I acknowledge that the job has been classified as:&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>JobClassification</name>
            <choiceReferences>Routine</choiceReferences>
            <choiceReferences>Moderate_Concern</choiceReferences>
            <choiceReferences>High_Vigilance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Job Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Label04</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;and understand the associated safety requirements and expectations for my role.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Interaction Cautions:&lt;/strong&gt; I have personally reviewed or been briefed by the Officer in Charge on Interaction Cautions:&lt;/p&gt;&lt;p&gt;1.&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;associated with this Job, including Physical, Verbal, Substance and Firearms cautions.&lt;/p&gt;&lt;p&gt;2.&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;identified on related Jobs including for Persons of Interest identified in this Job, other persons identified in this job, the job’s location and locations within a relevant distance from the addresses associated with this job&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Capacity to Attend:&lt;/strong&gt; I am physically and mentally prepared to carry out the job safely, and I have the necessary training, equipment, and understanding of the risks involved. I will adhere to all safety protocols required.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Commitment to Communication:&lt;/strong&gt; I will maintain relevant, regular communication per the established protocols, including checking in with my supervisor or team leader using the designated communication devices.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Effective_date_of_declaration</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Effective date of declaration:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>I CONFRIM</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TryAgain</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Label08</name>
            <fieldText>&lt;p&gt;The Job Safety Classification you selected does not match the value associated with this job. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
