force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Contact_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Inherit_Address_from_Account</name>
        <label>Log: Inherit Address from Account</label>
        <locationX>358</locationX>
        <locationY>842</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_General_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Inherit Address from Account</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Address_from_Account</name>
        <label>Set Address from Account</label>
        <locationX>358</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Address_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount_MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount_MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount_MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount_MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount_MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_QualityIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccount_MailingAddress_QualityIndex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Inherit_Address_from_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_from_Contact</name>
        <label>Set Address from Contact</label>
        <locationX>622</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Address_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_QualityIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_QualityIndex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_General_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DNC_as_False</name>
        <label>Set Do Not Contact as False</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Address_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DNC_as_True</name>
        <label>Set Do Not Contact as True</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Address_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Address_Details</name>
        <label>Determine Address Details</label>
        <locationX>490</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Set_Address_from_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Inherit_Account_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressInheritAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasContactAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasAccountAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Address_from_Account</targetReference>
            </connector>
            <label>Inherit Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Do_Not_Contact</name>
        <label>Determine Do Not Contact</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Determine_Address_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Other]</defaultConnectorLabel>
        <rules>
            <name>Ignore_Do_Not_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreDoNotContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Address_Details</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Yes_Is_Actor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Newsletter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DNC_as_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Is_Actor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Newsletter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DNC_as_True</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_Contact</name>
        <label>Is Key Contact</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Determine_Address_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Key_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Do_Not_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HasAccountAddress</name>
        <dataType>Boolean</dataType>
        <expression>(ISBLANK({!ParentAccount_MailingAddress_City}) == FALSE) || 
(ISBLANK({!ParentAccount_MailingAddress_Country}) == FALSE) || 
(ISBLANK({!ParentAccount_MailingAddress_Postcode}) == FALSE) || 
(ISBLANK({!ParentAccount_MailingAddress_State}) == FALSE) || 
(ISBLANK({!ParentAccount_MailingAddress_Street}) == FALSE)</expression>
    </formulas>
    <formulas>
        <name>HasContactAddress</name>
        <dataType>Boolean</dataType>
        <expression>(ISBLANK({!MailingAddress_City}) == FALSE) || 
(ISBLANK({!MailingAddress_Country}) == FALSE) || 
(ISBLANK({!MailingAddress_Postcode}) == FALSE) || 
(ISBLANK({!MailingAddress_State}) == FALSE) || 
(ISBLANK({!MailingAddress_Street}) == FALSE)</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Contact - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Contact - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Key_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Set_General_Details</name>
        <label>Set General Details</label>
        <locationX>490</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Set_Platform_Key_Flow</targetReference>
        </connector>
        <flowName>md_npsp_pack__MoveData_Donation_Helper_Set_Contact_Details</flowName>
        <inputAssignments>
            <name>Birthday</name>
            <value>
                <elementReference>Birthday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactAddressOverwriteAll</name>
            <value>
                <elementReference>Config_ContactAddressOverwriteAll</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactAddressQualityIndex</name>
            <value>
                <elementReference>Config_ContactAddressQualityIndex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactIgnoreAddress</name>
            <value>
                <elementReference>Config_ContactIgnoreAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactIgnoreAddressWhenNotEmpty</name>
            <value>
                <elementReference>Config_ContactIgnoreAddressWhenNotEmpty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactIgnoreEmail</name>
            <value>
                <elementReference>Config_ContactIgnoreEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactIgnorePhone</name>
            <value>
                <elementReference>Config_ContactIgnorePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_ContactIgnoreSalutation</name>
            <value>
                <elementReference>Config_ContactIgnoreSalutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailType</name>
            <value>
                <elementReference>EmailType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstName</name>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LastName</name>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Logs</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_City</name>
            <value>
                <elementReference>Address_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_Country</name>
            <value>
                <elementReference>Address_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_Postcode</name>
            <value>
                <elementReference>Address_Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_QualityIndex</name>
            <value>
                <elementReference>Address_QualityIndex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_State</name>
            <value>
                <elementReference>Address_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_Street</name>
            <value>
                <elementReference>Address_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Phone</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneType</name>
            <value>
                <elementReference>PhoneType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Salutation</name>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Use_Mailing_Address</name>
            <value>
                <elementReference>Config_ContactUseMailingAddress</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Logs</assignToReference>
            <name>Logs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogsJSON</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Platform_Key_Flow</name>
        <label>Set Platform Key</label>
        <locationX>490</locationX>
        <locationY>1142</locationY>
        <flowName>md_npsp_pack__MoveData_Donation_Helper_Set_Contact_Platform_Key</flowName>
        <inputAssignments>
            <name>Errors</name>
            <value>
                <elementReference>Errors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PlatformKey</name>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stage</name>
            <value>
                <stringValue>pre</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Errors</assignToReference>
            <name>Errors</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Address_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_QualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Address_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Birthday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_ContactAddressInheritAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressOverwriteAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressQualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Config_ContactIgnoreAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactIgnoreAddressWhenNotEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactIgnoreDoNotContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactIgnoreEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactIgnorePhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_ContactIgnoreSalutation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactUseMailingAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_QualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Newsletter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ParentAccount_MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccount_MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccount_MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccount_MailingAddress_QualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentAccount_MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccount_MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
