force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Contact_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Affiliation_if_required</name>
        <label>Create Affiliation (if required)</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>md_npsp_pack__CreateAffiliationComponent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecord</name>
            <value>
                <elementReference>ParentAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactRecord</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__CreateAffiliationComponent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Errors</name>
        <label>Has Errors?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Affiliation_if_required</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>HasErrors</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Errors})&gt;0, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>MoveData_Donation_Campaign_Post {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Contact - Post Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Platform_Key_Flow</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Set_Platform_Key_Flow</name>
        <label>Set Platform Key</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Has_Errors</targetReference>
        </connector>
        <flowName>md_npsp_pack__MoveData_Donation_Helper_Set_Contact_Platform_Key</flowName>
        <inputAssignments>
            <name>Config_MoveDataEngine</name>
            <value>
                <elementReference>Config_MoveDataEngine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Errors</name>
            <value>
                <elementReference>Errors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PlatformKey</name>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stage</name>
            <value>
                <stringValue>post</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Errors</assignToReference>
            <name>Errors</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Config_MoveDataEngine</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
