force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Campaign_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Local_End_Date</name>
        <label>Get Local End Date</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <actionName>movedata__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_End_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__ConvertToLocalDateFlowComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Local_Start_Date</name>
        <label>Get Local Start Date</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <actionName>movedata__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Start_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>StartDateFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__ConvertToLocalDateFlowComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Account_md_npsp_pack</name>
        <label>Set Account (md_npsp_pack)</label>
        <locationX>182</locationX>
        <locationY>4310</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Determine_Platform_Name</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>CampaignAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>md_npsp_pack__Fundraising_Account__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Campaign_URL_md_npsp_pack</name>
        <label>Set Campaign URL (md_npsp_pack)</label>
        <locationX>182</locationX>
        <locationY>3638</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Contact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>PageUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>md_npsp_pack__Campaign_URL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Contact_md_npsp_pack</name>
        <label>Set Contact (md_npsp_pack)</label>
        <locationX>182</locationX>
        <locationY>3974</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>CampaignContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>md_npsp_pack__Fundraising_Contact__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Active</name>
        <label>Set Active</label>
        <locationX>94</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Target_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Campaign_Name</name>
        <label>Set Campaign Name</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimmedCampaignName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_has_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Campaign_Name_0</name>
        <label>Set Campaign Name</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_has_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Description</name>
        <label>Set Description</label>
        <locationX>182</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Campaign_Url</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_End_Date.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive</name>
        <label>Set Inactive</label>
        <locationX>622</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Target_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Campaign_0</name>
        <label>Set Parent Campaign</label>
        <locationX>336</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform</name>
        <label>Set Platform</label>
        <locationX>446</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>Record.movedata__Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Platform_Key_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Key_New</name>
        <label>Set Platform Key</label>
        <locationX>314</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>Record.movedata__Platform_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Platform_Label</name>
        <label>Set Platform Label</label>
        <locationX>182</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>Record.movedata__Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Platform_Key_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Start_Date.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Target_Amount</name>
        <label>Set Target Amount</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>Record.ExpectedRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Default</name>
        <label>Set Type to Default</label>
        <locationX>534</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Config_CampaignDefaultType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Protected_Parent_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Parent</name>
        <label>Set Type to Parent</label>
        <locationX>270</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Protected_Parent_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Platform_Name</name>
        <label>Determine Platform Name</label>
        <locationX>314</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>Set_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Platform]</defaultConnectorLabel>
        <rules>
            <name>Yes_Platform_Label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatformLabel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Label</targetReference>
            </connector>
            <label>Label</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Status</name>
        <label>Determine Status</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Has_Target_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Others]</defaultConnectorLabel>
        <rules>
            <name>Ignore_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_IgnoreDefaultCampaignStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Target_Amount</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Aborted_Determine_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Target_Amount</targetReference>
            </connector>
            <label>Aborted</label>
        </rules>
        <rules>
            <name>Live_Determine_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>Archive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>archive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Inactive</targetReference>
            </connector>
            <label>Archive</label>
        </rules>
        <rules>
            <name>Completed_Determine_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inactive</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account</name>
        <label>Has Account</label>
        <locationX>314</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>Determine_Platform_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCampaignAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_md_npsp_pack</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Campaign_Url</name>
        <label>Has Campaign URL</label>
        <locationX>314</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Has_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_Url</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PageUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_URL_md_npsp_pack</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contact</name>
        <label>Has Contact</label>
        <locationX>314</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Has_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCampaignContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_md_npsp_pack</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Description</name>
        <label>Has Description</label>
        <locationX>314</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>Has_Campaign_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_End_Date</name>
        <label>Notification End Date</label>
        <locationX>314</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Has_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_End_Date</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.EndDate</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.EndDate</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Name</name>
        <label>Has Name</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Parent_has_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Default_Has_Name</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_Name_0</targetReference>
            </connector>
            <label>Default</label>
        </rules>
        <rules>
            <name>Yes_Has_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Parent_Campaign_0</name>
        <label>Has Parent Campaign</label>
        <locationX>468</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Determine_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Parent_Campaign_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCampaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Campaign_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Protected_Name</name>
        <label>Has Protected Name</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Parent_has_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Ignore_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_IgnoreCampaignName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_has_Type</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Protected_Name_No</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Record.movedata__Protect_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Has_Name</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Protected_Parent_Campaign</name>
        <label>Has Protected Parent Campaign</label>
        <locationX>314</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Has_Parent_Campaign_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Protect_Parent_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.movedata__Protect_Campaign_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Start_Date</name>
        <label>Notification Start Date</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Has_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Start_Date</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>StartDateFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.StartDate</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.StartDate</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Target_Amount</name>
        <label>Has Target Amount</label>
        <locationX>314</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Has_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Target_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TargetAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Target_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_has_Type</name>
        <label>Parent has Type</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Set_Type_to_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Type_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_IgnoreDefaultCampaignType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Protected_Parent_Campaign</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Type_Inherit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCampaign.Type</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCampaign.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Parent</targetReference>
            </connector>
            <label>Inherit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDateValueFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!EndDate})</expression>
    </formulas>
    <formulas>
        <name>NotificationDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!CreatedAt}) == FALSE, {!CreatedAt}, {!ModifiedAt})</expression>
    </formulas>
    <formulas>
        <name>StartDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!StartDate}) == FALSE, {!StartDate}, IF(ISBLANK({!EndDate}) == FALSE, {!EndDate}, {!NotificationDateFormula}))</expression>
    </formulas>
    <formulas>
        <name>StartDateValueFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!StartDateFormula})</expression>
    </formulas>
    <formulas>
        <name>TrimmedCampaignName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!CampaignName}),
    NULL,
    IF(
        LEN({!CampaignName}) &gt; 80,
        LEFT({!CampaignName}, 77) + &apos;...&apos;,
        {!CampaignName}
    )
)</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Campaign - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Campaign - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Protected_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CampaignAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CampaignContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_CampaignDefaultType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_IgnoreCampaignName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_IgnoreDefaultCampaignStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_IgnoreDefaultCampaignType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_MoveDataEngine</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreatedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasCampaignAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasCampaignContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ModifiedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
