force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Helper_Set_Contact_Platform_Key.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Platform_Key_Helper</name>
        <label>Upsert Platform Key</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>movedata__PlatformKeyCreateComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ErrorIfDifferentObjectId</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlatformKey</name>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__PlatformKeyCreateComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Raise_Error</name>
        <label>Raise Error</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Platform_Key_Helper.Error</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Must execute once the contact has been saved.
Can be &quot;pre&quot; or &quot;post&quot; stage.</description>
        <name>Ensure_Post_event</name>
        <label>Ensure &quot;Post&quot; event and Key Present</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>post</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatformKeyLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform_Key_Helper</targetReference>
            </connector>
            <label>&quot;Post&quot; stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Error</name>
        <label>Has Error</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform_Key_Helper.Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>PlatformKeyLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!PlatformKey})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MoveData_Donation_Helper_Get_Contact_ID {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Helper - Set Contact Platform Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ensure_Post_event</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Config_MoveDataEngine</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKeyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>movedata__Contact_Platform_Key__c</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
