force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Donation_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Current_Local_Date</name>
        <label>Convert NOW to Local Date</label>
        <locationX>1766</locationX>
        <locationY>2858</locationY>
        <actionName>md_npsp_pack__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_as_NOW</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__ConvertToLocalDateFlowComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Refund_Details</name>
        <label>Log: Refund Details</label>
        <locationX>1766</locationX>
        <locationY>3806</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Refund_Payment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>CalculatedAmount: {!CalculatedAmount} / CalculatedRefundAmount: {!CalculatedRefundAmount} / RefundAmount: {!RefundAmount}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Refund Details</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Skipping_Failed_Donation</name>
        <label>Log: Skipping Failed Donation</label>
        <locationX>2162</locationX>
        <locationY>3482</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Offline_Cancel_Processing_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Status = &quot;failed&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Skipping Failed Donation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Skipping_Offline_Donation</name>
        <label>Log: Skipping Offline Donation</label>
        <locationX>314</locationX>
        <locationY>3374</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Offline_Cancel_Processing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Status = &quot;offline&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Skipping Offline Donation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Skipping_Refund_Record_Amount</name>
        <label>Log: Skipping: Refund &gt; Record Amount</label>
        <locationX>1370</locationX>
        <locationY>3482</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Offline_Cancel_Processing_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Value: {!Amount} / Record.Amount: {!Record.Amount}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Skipping: Refund greater than Record Amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Currency</name>
        <label>Set Currency</label>
        <locationX>1634</locationX>
        <locationY>3158</locationY>
        <actionName>md_npsp_pack__SetCurrencyValueFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Determine_Donation_Status</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CurrencyCode</name>
            <value>
                <elementReference>CurrencyType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__SetCurrencyValueFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>StartDate_Local_Date</name>
        <label>Convert Start Date to Local Date</label>
        <locationX>1502</locationX>
        <locationY>2858</locationY>
        <actionName>md_npsp_pack__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_as_Start_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__ConvertToLocalDateFlowComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Determine_Refund_Amount</name>
        <label>Determine Refund Amount</label>
        <locationX>1766</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>RefundAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Refund_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Rollback processing due to &quot;Offline&quot;</description>
        <name>Offline_Cancel_Processing</name>
        <label>Cancel Processing</label>
        <locationX>314</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Rollback processing due to &quot;Offline&quot;</description>
        <name>Offline_Cancel_Processing_0</name>
        <label>Cancel Processing</label>
        <locationX>1370</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Rollback processing due to &quot;Offline&quot;</description>
        <name>Offline_Cancel_Processing_0_0</name>
        <label>Cancel Processing</label>
        <locationX>2162</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Process_Donation</name>
        <label>Process Donation</label>
        <locationX>842</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Failure</name>
        <label>Process Failure</label>
        <locationX>2426</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Pledge</name>
        <label>Process Pledge</label>
        <locationX>2690</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_As_Lost</name>
        <label>Set As Lost</label>
        <locationX>1106</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_NOW</name>
        <label>Set as NOW</label>
        <locationX>1766</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Local_Date.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Start_Date</name>
        <label>Set as Start Date</label>
        <locationX>1502</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate_Local_Date.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_As_Won</name>
        <label>Set As Won</label>
        <locationX>1898</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Description</name>
        <label>Set Description</label>
        <locationX>1502</locationX>
        <locationY>7298</locationY>
        <assignmentItems>
            <assignToReference>Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donor_Account</name>
        <label>Set Donor Account</label>
        <locationX>1502</locationX>
        <locationY>6998</locationY>
        <assignmentItems>
            <assignToReference>Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donor_Contact</name>
        <label>Set Donor Contact</label>
        <locationX>1502</locationX>
        <locationY>6698</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Donor_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employer_Account</name>
        <label>Set Employer (Account)</label>
        <locationX>1370</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Matched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employer_Contact</name>
        <label>Set Employer (Contact)</label>
        <locationX>1634</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedContact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Matched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fee</name>
        <label>Set Fee</label>
        <locationX>1502</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Platform_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Fee</name>
        <label>Set Gateway Fee</label>
        <locationX>1502</locationX>
        <locationY>5798</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Gateway_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeGateway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Gateway_Fee_Tax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Fee_Tax</name>
        <label>Set Gateway Fee Tax</label>
        <locationX>1502</locationX>
        <locationY>6098</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Gateway_Fee_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxGateway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Anonymous</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matched_Record</name>
        <label>Set Matched Record</label>
        <locationX>1348</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedRecordEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.npsp__Matching_Gift_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedRecordEntry.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Missing_Opportunity_Error</name>
        <label>Set Missing Opportunity Error</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Errors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cannot Refund due to missing original Donation.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This will be replaced by a trigger.</description>
        <name>Set_Name_with_Temp_Value</name>
        <label>Set Name with Temp Value</label>
        <locationX>1502</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Temp Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Fee</name>
        <label>Set Platform Fee</label>
        <locationX>1502</locationX>
        <locationY>4898</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Platform_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeePlatform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Platform_Fee_Tax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Fee_Tax</name>
        <label>Set Platform Fee Tax</label>
        <locationX>1502</locationX>
        <locationY>5198</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Platform_Fee_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxPlatform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Tax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Key</name>
        <label>Set Platform Key</label>
        <locationX>1634</locationX>
        <locationY>7706</locationY>
        <assignmentItems>
            <assignToReference>Record.movedata__Platform_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Refund_Amount</name>
        <label>Set Refund Amount</label>
        <locationX>1766</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>Record.Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculatedRefundAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Refund_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Refund_Amount_0</name>
        <label>Set Refund Amount</label>
        <locationX>974</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Positive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Remaining_Values</name>
        <label>Set Remaining Values</label>
        <locationX>1634</locationX>
        <locationY>7598</locationY>
        <assignmentItems>
            <assignToReference>Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonationCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Platform_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax</name>
        <label>Set Tax</label>
        <locationX>1502</locationX>
        <locationY>5498</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Gateway_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Anonymous</name>
        <label>Set to Anonymous</label>
        <locationX>1502</locationX>
        <locationY>6398</locationY>
        <assignmentItems>
            <assignToReference>Record.IsPrivate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Donor_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Refund_Amount</name>
        <label>Subtract Refund Amount</label>
        <locationX>1766</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>RefundAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Refund_Amount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Refund_is_not_greater_than_Amount</name>
        <label>Check Refund is not greater than Amount</label>
        <locationX>1568</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>Determine_Refund_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than / Equal To</defaultConnectorLabel>
        <rules>
            <name>Greater_Than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatedAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Record.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Skipping_Refund_Record_Amount</targetReference>
            </connector>
            <label>Greater Than</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Close_Date</name>
        <label>Determine Close Date</label>
        <locationX>1634</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Current_Local_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Determine_Close_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartDate_Local_Date</targetReference>
            </connector>
            <label>Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Donation_Status</name>
        <label>Determine Donation Status</label>
        <locationX>1634</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Other]</defaultConnectorLabel>
        <rules>
            <name>Offline_Determine_Donation_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_IgnoreOfflineDonations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Skipping_Offline_Donation</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
        <rules>
            <name>Success_Determine_Donation_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Process_Donation</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Static</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>static</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Existing_Record</targetReference>
            </connector>
            <label>Static</label>
        </rules>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Refund_is_not_greater_than_Amount</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Failed_Donations</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
        <rules>
            <name>Pledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pledge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Pledge</targetReference>
            </connector>
            <label>Pledge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Matched</name>
        <label>Determine Matched</label>
        <locationX>1634</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Determine_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matched_Platform_Key</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Recurring</name>
        <label>Determine Recurring</label>
        <locationX>1634</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Has_Matched_Party</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Get_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Recurring_ID</targetReference>
            </connector>
            <label>Get Key</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Matched_Record</name>
        <label>Found Matched Record</label>
        <locationX>1480</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Determine_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matched_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_or_Contact</name>
        <label>Has Account or Contact</label>
        <locationX>1634</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Is_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Contact_or_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DonorContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Description</name>
        <label>Has Description</label>
        <locationX>1634</locationX>
        <locationY>7190</locationY>
        <defaultConnector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_DonationSetDescription</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Donor_Account</name>
        <label>Has Donor Account</label>
        <locationX>1634</locationX>
        <locationY>6890</locationY>
        <defaultConnector>
            <targetReference>Has_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Donor_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donor_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Donor_Contact</name>
        <label>Has Donor Contact</label>
        <locationX>1634</locationX>
        <locationY>6590</locationY>
        <defaultConnector>
            <targetReference>Has_Donor_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Donor_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donor_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Fee</name>
        <label>Has Fee</label>
        <locationX>1634</locationX>
        <locationY>4490</locationY>
        <defaultConnector>
            <targetReference>Has_Platform_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Gateway_Fee</name>
        <label>Has Gateway Fee</label>
        <locationX>1634</locationX>
        <locationY>5690</locationY>
        <defaultConnector>
            <targetReference>Has_Gateway_Fee_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Gateway_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Gateway_Fee_Tax</name>
        <label>Has Gateway Fee Tax</label>
        <locationX>1634</locationX>
        <locationY>5990</locationY>
        <defaultConnector>
            <targetReference>Is_Anonymous</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Gateway_Fee_Tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Fee_Tax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matched_Party</name>
        <label>Has Matched Party</label>
        <locationX>1634</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Determine_Matched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Matched_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Employer_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Matched_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Employer_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Platform_Fee</name>
        <label>Has Platform Fee</label>
        <locationX>1634</locationX>
        <locationY>4790</locationY>
        <defaultConnector>
            <targetReference>Has_Platform_Fee_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Platform_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatformKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Platform_Fee_Tax</name>
        <label>Has Platform Fee Tax</label>
        <locationX>1634</locationX>
        <locationY>5090</locationY>
        <defaultConnector>
            <targetReference>Has_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Platform_Fee_Tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxPlatform</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Fee_Tax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Tax</name>
        <label>Has Tax</label>
        <locationX>1634</locationX>
        <locationY>5390</locationY>
        <defaultConnector>
            <targetReference>Has_Gateway_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tax</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Anonymous</name>
        <label>Is Anonymous</label>
        <locationX>1634</locationX>
        <locationY>6290</locationY>
        <defaultConnector>
            <targetReference>Has_Donor_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Anonymous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Anonymous</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_DonationSetAnonymousAsPrivate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Anonymous</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Existing_Record</name>
        <label>Is Existing Record</label>
        <locationX>974</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>Set_Refund_Amount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Full_Refund</name>
        <label>Is Full Refund?</label>
        <locationX>1766</locationX>
        <locationY>4022</locationY>
        <defaultConnector>
            <targetReference>Set_As_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Full_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_As_Lost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record</label>
        <locationX>1634</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Determine_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name_with_Temp_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Positive</name>
        <label>Is Positive Amount</label>
        <locationX>974</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Set_As_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Donation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Refund_with_Missing_Opportunity</name>
        <label>Is Refund with Missing Opportunity</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Missing_Donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Missing_Opp_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Missing_Opportunity_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Donor</name>
        <label>Missing Donor</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Has_Account_or_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Ignore]</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Anon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Anonymous</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_AnonymousContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Anonymous_Contact_from_Config</targetReference>
            </connector>
            <label>Yes (Is Anon)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Recurring_ID</name>
        <label>Missing Recurring ID</label>
        <locationX>1458</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Get_Recurring_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Recurring_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.npe03__Recurring_Donation__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.npe03__Recurring_Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Matched_Party</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Failed_Donations</name>
        <label>Skip Failed Donations</label>
        <locationX>2294</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>Process_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip_Failed_Donations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_IgnoreFailedDonations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Skipping_Failed_Donation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!Config_DonationAmountSubtractFeePlatform}==TRUE, {!DefaultedAmount} - {!CalculatedFeePlatform}, {!Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedFeePlatform</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!FeePlatformPublic}),{!DefaultedFeePlatform}, {!FeePlatformPublic})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedRefundAmount</name>
        <dataType>Currency</dataType>
        <expression>0 - {!CalculatedAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!Amount}), 0, {!Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedFee</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!Fee}), 0, {!Fee})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedFeeGateway</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!FeeGateway}), 0, {!FeeGateway})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedFeePlatform</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!FeePlatform}), 0, {!FeePlatform})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedTax</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!Tax}), 0, {!Tax})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedTaxGateway</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!TaxGateway}), 0, {!TaxGateway})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultedTaxPlatform</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!FeeGateway}), 0, {!FeeGateway})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[MoveData] Donation: Donation - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Donation - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Refund_Payment</name>
        <label>Create Refund Payment</label>
        <locationX>1766</locationX>
        <locationY>3914</locationY>
        <connector>
            <targetReference>Is_Full_Refund</targetReference>
        </connector>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>CalculatedRefundAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Anonymous_Contact_from_Config</name>
        <label>Get Anonymous Contact from Config</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Account_or_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Config_AnonymousContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>DonorContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record_Type</name>
        <label>Get Donation Record Type</label>
        <locationX>1634</locationX>
        <locationY>7490</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Remaining_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DonationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recurring_Object_ID</name>
        <label>Get Recurring Object ID</label>
        <locationX>1546</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Matched_Party</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>md_npsp_pack__Platform_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecurringPlatformKey</elementReference>
            </value>
        </filters>
        <object>npe03__Recurring_Donation__c</object>
        <outputAssignments>
            <assignToReference>Record.npe03__Recurring_Donation__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MatchedRecord</name>
        <label>Get Matched Opportunity</label>
        <locationX>1480</locationX>
        <locationY>2258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Matched_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>md_npsp_pack__Platform_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedPlatformKey</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>MatchedRecordEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Record</name>
        <label>Update Payment Record</label>
        <locationX>842</locationX>
        <locationY>3482</locationY>
        <connector>
            <targetReference>Set_Refund_Amount_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>CalculatedAmount</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Refund_with_Missing_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Get_Account_ID</name>
        <label>Get Account ID</label>
        <locationX>1502</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <flowName>md_npsp_pack__MoveData_Donation_Helper_Get_Account_ID</flowName>
        <inputAssignments>
            <name>DonorAccount</name>
            <value>
                <elementReference>DonorAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DonorContact</name>
            <value>
                <elementReference>DonorContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>Result</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Matched_Platform_Key</name>
        <label>Get Matched Platform Key</label>
        <locationX>1480</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>MatchedRecord</targetReference>
        </connector>
        <flowName>md_npsp_pack__MoveData_Donation_Donation_Key</flowName>
        <inputAssignments>
            <name>Key</name>
            <value>
                <elementReference>MatchedKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MatchedPlatformKey</assignToReference>
            <name>Result</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Recurring_Key</name>
        <label>Get Recurring Key</label>
        <locationX>1546</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_Recurring_Object_ID</targetReference>
        </connector>
        <flowName>md_npsp_pack__MoveData_Donation_Recurring_Key</flowName>
        <inputAssignments>
            <name>Key</name>
            <value>
                <elementReference>ParentKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Result</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecurringPlatformKey</assignToReference>
            <name>Result</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Anonymous</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_AnonymousContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationAmountSubtractFeePlatform</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSetAnonymousAsPrivate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSetDescription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_IgnoreFailedDonations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_IgnoreOfflineDonations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_MoveDataEngine</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrencyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DonationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonorAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DonorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeeGateway</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeePlatform</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeePlatformPublic</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MatchedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MatchedKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchedPlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchedRecordEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecurringPlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RefundedFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RefundedFeeGateway</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RefundedFeePlatform</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RefundedTaxGateway</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RefundedTaxPlatform</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RefundTax</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tax</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaxGateway</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaxPlatform</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
