force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Helper_Set_Contact_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Address_Force_Overwrite</name>
        <label>Log: Address Force Overwrite</label>
        <locationX>336</locationX>
        <locationY>2750</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Existing_Values_On_Address_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Force Overwrite: {!ForceOverwriteAddress}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Address Force Overwrite (when any address value exists)</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Has_Existing_Data_False</name>
        <label>Log: Address Has Existing Data</label>
        <locationX>644</locationX>
        <locationY>3050</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Eval_Street_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Address - Has Existing Data</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Has_Existing_Data_True</name>
        <label>Log: Address Has Existing Data</label>
        <locationX>336</locationX>
        <locationY>3050</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Overwrite_All_Address_Ignore_Address_When_Not_Empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Mailing Address - Has Existing Data</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Quality_Index</name>
        <label>Log: Address Quality Index</label>
        <locationX>358</locationX>
        <locationY>2150</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Force_Overwrite_All_Address_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Skipping Address - Below Quality Index ({!MailingAddress_QualityIndex} &lt; {!Config_ContactAddressQualityIndex})</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Address Quality Index</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_NPSP_Home_Email</name>
        <label>Set NPSP Home Email</label>
        <locationX>446</locationX>
        <locationY>1850</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Address_Quality_Score</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>Trimmed_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>npe01__HomeEmail__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_NPSP_Work_Email</name>
        <label>Set NPSP Work Email</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <actionName>movedata__SetValueComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Address_Quality_Score</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StringValue</name>
            <value>
                <elementReference>Trimmed_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldName</name>
            <value>
                <stringValue>npe01__WorkEmail__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__SetValueComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Birthday</name>
        <label>Set Birthday</label>
        <locationX>358</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Record.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email</name>
        <label>Set Email</label>
        <locationX>710</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Address_Quality_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Name</name>
        <label>Set First Name</label>
        <locationX>358</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Last_Name_Is_Absent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ForceIgnoreAddress_to_True</name>
        <label>Set ForceIgnoreAddress to True</label>
        <locationX>204</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>ForceIgnoreAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Street_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ForceOverwriteAddress_to_True</name>
        <label>Set ForceOverwriteAddress to True</label>
        <locationX>204</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>ForceOverwriteAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Address_Force_Overwrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Email</name>
        <label>Set Home Email</label>
        <locationX>446</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_NPSP_Home_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Phone</name>
        <label>Set Home Phone</label>
        <locationX>578</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Name</name>
        <label>Set Last Name</label>
        <locationX>226</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Birthday</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Name_0</name>
        <label>Default Last Name</label>
        <locationX>490</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnknownLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Birthday</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mailing_City</name>
        <label>Set Mailing City</label>
        <locationX>314</locationX>
        <locationY>4250</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mailing_Country</name>
        <label>Set Mailing Country</label>
        <locationX>314</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mailing_Postcode</name>
        <label>Set Mailing Postcode</label>
        <locationX>358</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Mailing_State</name>
        <label>Set Mailing State</label>
        <locationX>314</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mailing_Street_Address</name>
        <label>Set Mailing Street Address</label>
        <locationX>314</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile</name>
        <label>Set Mobile</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile_0</name>
        <label>Set Mobile</label>
        <locationX>842</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_City</name>
        <label>Set Other City</label>
        <locationX>930</locationX>
        <locationY>4250</locationY>
        <assignmentItems>
            <assignToReference>Record.OtherCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Country</name>
        <label>Set Other Country</label>
        <locationX>930</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>Record.OtherCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Postcode</name>
        <label>Set Other Postcode</label>
        <locationX>1150</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>Record.OtherPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Other_State</name>
        <label>Set Other State</label>
        <locationX>930</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>Record.OtherState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Street_Address</name>
        <label>Set Other Street Address</label>
        <locationX>930</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>Record.OtherStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone</name>
        <label>Set Work Phone</label>
        <locationX>314</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Salutation</name>
        <label>Set Salutation</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_First_Name_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Email</name>
        <label>Set Work Email</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trimmed_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_NPSP_Work_Email</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>UnknownLastName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>[Unknown]</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Eval_Birthday</name>
        <label>Eval Birthday</label>
        <locationX>490</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Eval_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Birthday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Birthday</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Birthday</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_City</name>
        <label>Eval City</label>
        <locationX>490</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>Eval_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Mailing_City</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_City</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Mailing_City</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Exists_Other_City</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_City</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Other_City</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Country</name>
        <label>Eval Country</label>
        <locationX>490</locationX>
        <locationY>5018</locationY>
        <defaultConnector>
            <targetReference>Eval_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Mailing_Country</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Country</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Mailing_Country</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Exists_Other_Country</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Country</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Other_Country</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Email</name>
        <label>Eval Email</label>
        <locationX>490</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Address_Quality_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Address_Quality_Score</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Email_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Email</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Exists_Email_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Email</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Exists_Phone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LenEmail</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email</targetReference>
            </connector>
            <label>[Default]</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_First_Name_Null_Check</name>
        <label>Eval First Name</label>
        <locationX>490</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Eval_Last_Name_Is_Absent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>FirstName_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LenFirstName</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Name</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Last_Name_Is_Absent</name>
        <label>Eval Last Name</label>
        <locationX>490</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Eval_Birthday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retain</defaultConnectorLabel>
        <rules>
            <name>Exists_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LenLastName</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Name</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>Default</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Record.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Name_0</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <decisions>
        <description>Support for Australian Mobile number detection.</description>
        <name>Eval_Phone</name>
        <label>Eval Phone</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Eval_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnorePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Email</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Phone_Mobile</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PhoneType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+61 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+614</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mobile</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Exists_Phone_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Phone</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Exists_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LenPhone</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mobile_0</targetReference>
            </connector>
            <label>[Default]</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Postcode</name>
        <label>Eval Postcode</label>
        <locationX>490</locationX>
        <locationY>5510</locationY>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Mailing_Postcode</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Postcode</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Mailing_Postcode</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Exists_Other_Postcode</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Postcode</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Other_Postcode</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Salutation</name>
        <label>Eval Salutation</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Eval_First_Name_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Salutation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LenSalutation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreSalutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Salutation</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_State</name>
        <label>Eval State</label>
        <locationX>490</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>Eval_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Mailing_State</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_State</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Mailing_State</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Exists_Other_State</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_State</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Attribute_Other_State</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Street_Address</name>
        <label>Eval Street Address</label>
        <locationX>490</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>Eval_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_Street_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Exists_Mailing_Street</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Street</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_Street_Evaluate_Attribute</targetReference>
            </connector>
            <label>Mailing</label>
        </rules>
        <rules>
            <name>Exists_Other_Street</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Street</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceOverwriteAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Street_Evaluate_Attribute</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Address_Quality_Score</name>
        <label>Evaluate Address Quality Score</label>
        <locationX>490</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Force_Overwrite_All_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing / Greater Than Quality Index</defaultConnectorLabel>
        <rules>
            <name>Log_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_Quality_Index</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Mailing_City</name>
        <label>Evaluate Attribute</label>
        <locationX>138</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Set_Mailing_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Mailing_City</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Mailing_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Mailing_Country</name>
        <label>Evaluate Attribute</label>
        <locationX>138</locationX>
        <locationY>5126</locationY>
        <defaultConnector>
            <targetReference>Set_Mailing_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Mailing_Country</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Mailing_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Mailing_Postcode</name>
        <label>Evaluate Attribute</label>
        <locationX>94</locationX>
        <locationY>5618</locationY>
        <defaultConnector>
            <targetReference>Set_Mailing_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Mailing_Postcode</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Mailing_Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Mailing_State</name>
        <label>Evaluate Attribute</label>
        <locationX>138</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>Set_Mailing_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Mailing_State</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Mailing_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Other_City</name>
        <label>Evaluate Attribute</label>
        <locationX>754</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Set_Other_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Other_City</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.OtherCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OtherCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Other_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_State</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Other_Country</name>
        <label>Evaluate Attribute</label>
        <locationX>754</locationX>
        <locationY>5126</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Other_Country</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.OtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OtherCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Other_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Postcode</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Other_Postcode</name>
        <label>Evaluate Attribute</label>
        <locationX>886</locationX>
        <locationY>5618</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Other_Postcode</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.OtherPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OtherPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Other_Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attribute_Other_State</name>
        <label>Evaluate Attribute</label>
        <locationX>754</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>Set_Other_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Ignore_When_Not_Empty_Other_State</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.OtherState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OtherState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Below_Quality_Index_Other_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Country</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Existing_Values_On_Address_Fields</name>
        <label>Evaluate Existing Values On Address Fields</label>
        <locationX>490</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Log_Address_Has_Existing_Data_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Existing_Values_Mailing</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9) OR (10 AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>Use_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_Has_Existing_Data_True</targetReference>
            </connector>
            <label>True (Mailing)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Force_Overwrite_All_Address_Fields</name>
        <label>Evaluate Force Overwrite All Address Fields</label>
        <locationX>490</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Existing_Values_On_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Force_Overwrite_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressOverwriteAll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_Any_Address_Values</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Overwrite_All_Address_Ignore_Address_When_Not_Empty</name>
        <label>Evaluate Overwrite All Address &amp; Ignore Address When Not Empty</label>
        <locationX>336</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Eval_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactAddressOverwriteAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressOverwriteAll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ForceIgnoreAddress_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Any_Address_Values</name>
        <label>Have Any Address Values</label>
        <locationX>336</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Log_Address_Force_Overwrite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Have_Any_Address_Values_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LenMailingAddress_Street</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LenMailingAddress_City</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LenMailingAddress_State</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LenMailingAddress_Postcode</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LenMailingAddress_Country</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ForceOverwriteAddress_to_True</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mailing_Street_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>138</locationX>
        <locationY>3650</locationY>
        <defaultConnector>
            <targetReference>Set_Mailing_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Mailing_Street_Ignore_When_Not_Empty</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.MailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Mailing_Street_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Config_ContactAddressQualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Street_Evaluate_Attribute</name>
        <label>Evaluate Attribute</label>
        <locationX>754</locationX>
        <locationY>3650</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Value</defaultConnectorLabel>
        <rules>
            <name>Other_Street_Ignore_When_Not_Empty</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.OtherStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OtherStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactIgnoreAddressWhenNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceIgnoreAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Ignore When Not Empty</label>
        </rules>
        <rules>
            <name>Other_Street_Below_Quality_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_QualityIndex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_ContactAddressQualityIndex</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MailingAddress_QualityIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_City</targetReference>
            </connector>
            <label>Below Quality Index</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LenEmail</name>
        <dataType>Number</dataType>
        <expression>LEN({!Email})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenFirstName</name>
        <dataType>Number</dataType>
        <expression>LEN({!FirstName})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenLastName</name>
        <dataType>Number</dataType>
        <expression>LEN({!LastName})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenMailingAddress_City</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_City})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenMailingAddress_Country</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Country})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenMailingAddress_Postcode</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Postcode})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenMailingAddress_State</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_State})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenMailingAddress_Street</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Street})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenPhone</name>
        <dataType>Number</dataType>
        <expression>LEN({!Phone})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenRecordLastName</name>
        <dataType>Number</dataType>
        <expression>LEN({!Record.LastName})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LenSalutation</name>
        <dataType>Number</dataType>
        <expression>LEN({!Salutation})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Trimmed_Email</name>
        <dataType>String</dataType>
        <expression>IF({!LenEmail} == 0,
    NULL,
    IF({!LenEmail} &gt; 80,
        LEFT({!Email}, 80),
        {!Email}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_FirstName</name>
        <dataType>String</dataType>
        <expression>IF({!LenFirstName} == 0,
    NULL,
    IF({!LenFirstName} &gt; 40,
        LEFT({!FirstName}, 40),
        {!FirstName}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_LastName</name>
        <dataType>String</dataType>
        <expression>IF({!LenLastName} == 0,
    NULL,
    IF({!LenLastName} &gt; 80,
        LEFT({!LastName}, 80),
        {!LastName}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_MailingAddress_City</name>
        <dataType>String</dataType>
        <expression>IF({!LenMailingAddress_City} == 0,
    NULL,
    IF({!LenMailingAddress_City} &gt; 40,
        LEFT({!MailingAddress_City}, 40),
        {!MailingAddress_City}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_MailingAddress_Country</name>
        <dataType>String</dataType>
        <expression>IF({!LenMailingAddress_Country} == 0,
    NULL,
    IF({!LenMailingAddress_Country} &gt; 80,
        LEFT({!MailingAddress_Country}, 80),
        {!MailingAddress_Country}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <expression>IF({!LenMailingAddress_Postcode} == 0,
    NULL,
    IF({!LenMailingAddress_Postcode} &gt; 20,
        LEFT({!MailingAddress_Postcode}, 20),
        {!MailingAddress_Postcode}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_MailingAddress_State</name>
        <dataType>String</dataType>
        <expression>IF({!LenMailingAddress_State} == 0,
    NULL,
    IF({!LenMailingAddress_State} &gt; 20,
        LEFT({!MailingAddress_State}, 20),
        {!MailingAddress_State}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_MailingAddress_Street</name>
        <dataType>String</dataType>
        <expression>IF({!LenMailingAddress_Street} == 0,
    NULL,
    IF({!LenMailingAddress_Street} &gt; 255,
        LEFT({!MailingAddress_Street}, 255),
        {!MailingAddress_Street}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Trimmed_Phone</name>
        <dataType>String</dataType>
        <expression>IF({!LenPhone} == 0,
    NULL,
    IF({!LenPhone} &gt; 40,
        LEFT({!Phone}, 40),
        {!Phone}
    )
)</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Helper - Set Contact Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Helper - Set Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Eval_Salutation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Birthday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_ContactAddressOverwriteAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactAddressQualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Config_ContactIgnoreAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_ContactIgnoreAddressWhenNotEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_ContactIgnoreEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_ContactIgnorePhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_ContactIgnoreSalutation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ForceIgnoreAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ForceOverwriteAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_QualityIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Use_Mailing_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
