force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Donation_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Campaign_Member_for_Donor</name>
        <label>Create Campaign Member for Donor</label>
        <locationX>94</locationX>
        <locationY>1310</locationY>
        <actionName>md_npsp_pack__CreateCampaignMemberComponentWithLogs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Matched_Donation_Lookup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CampaignIdList</name>
            <value>
                <elementReference>CampaignIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>DonorContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Value</name>
            <value>
                <elementReference>Config_CampaignMemberLabelDonor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ValueHeirarchy</name>
            <value>
                <elementReference>CampaignMemberValueHeirarchy</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__CreateCampaignMemberComponentWithLogs</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Interferes with NPSP trigger that build the record&apos;s name.  Deleting it from the object prevents any issues.</description>
        <name>Delete_Name_from_Record</name>
        <label>Delete Name from Record</label>
        <locationX>94</locationX>
        <locationY>398</locationY>
        <actionName>md_npsp_pack__ClearFieldFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Persist_Questions</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__Record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldList</name>
            <value>
                <elementReference>FieldList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__ClearFieldFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Initialise_Campaign_Member</name>
        <label>Initialise Campaign Member</label>
        <locationX>94</locationX>
        <locationY>1070</locationY>
        <actionName>md_npsp_pack__InitialiseCampaignMemberComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Populate_Campaign_Member_Value_Hierarchy</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CampaignId</name>
            <value>
                <elementReference>DonationCampaign.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DeleteOtherCampaignMemberStatuses</name>
            <value>
                <elementReference>Config_CampaignMemberDeleteExistingStatuses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamLeaderLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelTeamLeader</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FundraiserLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecurringDonorLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelRecurringDonor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DonorLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelDonor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProspectLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelProspect</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__InitialiseCampaignMemberComponent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Process_Opportunity_Contact_Roles</name>
        <label>Process Opportunity Contact Roles</label>
        <locationX>94</locationX>
        <locationY>2438</locationY>
        <actionName>md_npsp_pack__OppContactRoleSoftCreditFlowComponent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TopCampaignIdString</name>
            <value>
                <elementReference>Campaign_CampaignRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TopContact</name>
            <value>
                <elementReference>Campaign_CampaignContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Campaign</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Campaign</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Campaign_CampaignTeamFundraiser</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Campaign_CampaignTeamFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Campaign_CampaignFundraiser</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Campaign_CampaignFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Campaign_CampaignTeam</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Campaign_CampaignTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamCampaignIdString</name>
            <value>
                <elementReference>Campaign_TeamRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamContact</name>
            <value>
                <elementReference>Campaign_TeamContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Team</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Team</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Team_CampaignTeamFundraiser</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Team_CampaignTeamFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Team_CampaignTeam</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Team_CampaignTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FundraiserCampaignIdString2</name>
            <value>
                <elementReference>Campaign_FundraiserRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FundraiserContact</name>
            <value>
                <elementReference>Campaign_FundraiserContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Fundraiser</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Fundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Fundraiser_CampaignTeamFundraiser</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Fundraiser_CampaignTeamFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Fundraiser_CampaignFundraiser</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Fundraiser_CampaignFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DonorContact</name>
            <value>
                <elementReference>DonorContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SoftCredit_Role_Donor</name>
            <value>
                <elementReference>Config_DonationSoftCredit_Role_Donor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__OppContactRoleSoftCreditFlowComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_Questions</name>
        <label>Process Questions</label>
        <locationX>94</locationX>
        <locationY>734</locationY>
        <actionName>md_npsp_pack__ProcessQuestionsFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Campaign_and_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountIdFieldName</name>
            <value>
                <stringValue>Account__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AnswerFieldName</name>
            <value>
                <stringValue>Answer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactIdFieldName</name>
            <value>
                <stringValue>Contact__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DonationId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DonationIdFieldName</name>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParentRecordId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParentRecordIdFieldName</name>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonInput</name>
            <value>
                <elementReference>QuestionsJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>QuestionFieldName</name>
            <value>
                <stringValue>Question__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SObjectTypeName</name>
            <value>
                <stringValue>Question_Response__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__ProcessQuestionsFlowComponent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Name_to_Field_List</name>
        <label>Add Name to Field List</label>
        <locationX>94</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>FieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Name_from_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Campaign_Member_Value_Hierarchy</name>
        <label>Populate Campaign Member Value Hierarchy</label>
        <locationX>94</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelTeamLeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelFundraiser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelRecurringDonor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelDonor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelProspect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member_for_Donor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Matched_Record_Lookup</name>
        <label>Update Matched Record Lookup</label>
        <locationX>138</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>MatchedDonation.npsp__Matching_Gift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Matched_Donation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Soft_Credits</name>
        <label>Create Soft Credits</label>
        <locationX>226</locationX>
        <locationY>2318</locationY>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Contact_Roles_Soft_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_DonationOpportunityContactRoleSoftCredit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Opportunity_Contact_Roles</targetReference>
            </connector>
            <label>Opportunity Contact Roles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Campaign_and_Contact</name>
        <label>Has Campaign and Contact</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Has_Matched_Donation_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonationCampaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonationCampaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_CreateCampaignMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Campaign_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matched_Donation_Lookup</name>
        <label>Has Matched Donation Lookup</label>
        <locationX>226</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Create_Soft_Credits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matched_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.npsp__Matching_Gift__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.npsp__Matching_Gift__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchedDonation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Name</name>
        <label>Has Name</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Persist_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Name</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Name_to_Field_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Links_to_Current_Record</name>
        <label>Links to Current Record</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Update_Matched_Record_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matched_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedDonation.npsp__Matching_Gift__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Soft_Credits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persist_Questions</name>
        <label>Persist Questions</label>
        <locationX>226</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Has_Campaign_and_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Persist_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_DonationQuestionsSuppress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Questions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Campaign_CampaignRecordId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Campaign_CampaignRecord.Id}), NULL, {!Campaign_CampaignRecord.Id})</expression>
    </formulas>
    <formulas>
        <name>Campaign_FundraiserRecordId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Campaign_FundraiserRecord.Id}), NULL, {!Campaign_FundraiserRecord.Id})</expression>
    </formulas>
    <formulas>
        <name>Campaign_TeamRecordId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Campaign_TeamRecord.Id}), NULL, {!Campaign_TeamRecord.Id})</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Donation - Post Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Donation - Post Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MatchedDonation</name>
        <label>Get Matched Donation</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Links_to_Current_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.npsp__Matching_Gift__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>npsp__Matching_Gift__c</queriedFields>
        <queriedFields>npsp__Matching_Gift_Account__c</queriedFields>
        <queriedFields>npsp__Matching_Gift_Employer__c</queriedFields>
        <queriedFields>npsp__Matching_Gift_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Matched_Donation</name>
        <label>Update Matched Donation</label>
        <locationX>138</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Create_Soft_Credits</targetReference>
        </connector>
        <inputReference>MatchedDonation</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Campaign_CampaignContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Campaign_CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Campaign_FundraiserContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Campaign_FundraiserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Campaign_TeamContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Campaign_TeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberValueHeirarchy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_CampaignMemberDeleteExistingStatuses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelDonor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Donor</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fundraiser</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Prospect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelRecurringDonor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Recurring Donor</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelTeamLeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Team Leader</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CreateCampaignMembers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationOpportunityContactRoleSoftCredit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationQuestionsSuppress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Soft Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Campaign_CampaignFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Campaign_CampaignTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Campaign_CampaignTeamFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Donor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Donor</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Fundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Soft Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Fundraiser_CampaignFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Fundraiser_CampaignTeamFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Team</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Soft Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Team_CampaignTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSoftCredit_Role_Team_CampaignTeamFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DonorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FieldList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestionsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
