force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Campaign_Duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Platform_Key</name>
        <label>Get Platform Key</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>movedata__PlatformKeyLookupComponent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ObjectType</name>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PlatformKey</name>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__PlatformKeyLookupComponent</nameSegment>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Return_Salesforce_Key</name>
        <label>Return Salesforce Key</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesforceKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Salesforce_Key</name>
        <label>Has Salesforce Key</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Platform_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SF_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesforceKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Salesforce_Key</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[MoveData] Donation: Campaign - Duplicate Detection {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Campaign - Record Match</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Salesforce_Key</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Config_MoveDataEngine</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Fields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesforceKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
