force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Recurring_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Campaign_Member_for_Recurring_Donor</name>
        <label>Create Campaign Member for Recurring Donor</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>md_npsp_pack__CreateCampaignMemberComponentWithLogs</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CampaignIdList</name>
            <value>
                <elementReference>CampaignIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>DonorContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Value</name>
            <value>
                <elementReference>Config_CampaignMemberLabelRecurringDonor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ValueHeirarchy</name>
            <value>
                <elementReference>CampaignMemberValueHeirarchy</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__CreateCampaignMemberComponentWithLogs</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Initialise_Campaign_Member</name>
        <label>Initialise Campaign Member</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>md_npsp_pack__InitialiseCampaignMemberComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Populate_Campaign_Member_Value_Hierarchy</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CampaignId</name>
            <value>
                <elementReference>DonationCampaign.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DeleteOtherCampaignMemberStatuses</name>
            <value>
                <elementReference>Config_CampaignMemberDeleteExistingStatuses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamLeaderLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelTeamLeader</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FundraiserLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelFundraiser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecurringDonorLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelRecurringDonor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DonorLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelDonor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProspectLabel</name>
            <value>
                <elementReference>Config_CampaignMemberLabelProspect</elementReference>
            </value>
        </inputParameters>
        <nameSegment>md_npsp_pack__InitialiseCampaignMemberComponent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_Campaign_Member_Value_Hierarchy</name>
        <label>Populate Campaign Member Value Hierarchy</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelTeamLeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelFundraiser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelRecurringDonor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelDonor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberValueHeirarchy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Config_CampaignMemberLabelProspect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member_for_Recurring_Donor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Campaign_and_Contact</name>
        <label>Has Campaign and Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonationCampaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonationCampaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_CreateCampaignMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Campaign_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>[MoveData] Donation: Recurring - Post Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Recurring - Post Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Campaign_and_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CampaignIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberValueHeirarchy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Config_CampaignMemberDeleteExistingStatuses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelDonor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Donor</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelFundraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fundraiser</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Prospect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelRecurringDonor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Recurring Donor</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CampaignMemberLabelTeamLeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Team Leader</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_CreateCampaignMembers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DonationCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DonorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
</Flow>
