force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Helper_Set_Account_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Billing_City</name>
        <label>Set Billing City</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Country</name>
        <label>Set Billing Country</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Postcode</name>
        <label>Set Billing Postcode</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Billing_State</name>
        <label>Set Billing State</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Street_Address</name>
        <label>Set Billing Street Address</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Type</name>
        <label>Set Default Type</label>
        <locationX>270</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Street_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone</name>
        <label>Set Phone</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Website</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_City</name>
        <label>Set Shipping City</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Country</name>
        <label>Set Shipping Country</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Postcode</name>
        <label>Set Shipping Postcode</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Shipping_State</name>
        <label>Set Shipping State</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Street_Address</name>
        <label>Set Shipping Street Address</label>
        <locationX>314</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Website</name>
        <label>Set Website</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Record.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Eval_City</name>
        <label>Eval City</label>
        <locationX>314</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>Eval_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Billing_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_CityLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_City</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Exists_Shipping_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_CityLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_City</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Country</name>
        <label>Eval Country</label>
        <locationX>314</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Eval_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Billing_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_CountryLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Country</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Exists_Shipping_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_CountryLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Country</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Phone</name>
        <label>Eval Phone</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Eval_Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Postcode</name>
        <label>Eval Postcode</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Billing_Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_PostcodeLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Postcode</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Exists_Shipping_Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_PostcodeLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Postcode</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_State</name>
        <label>Eval State</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Eval_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Billing_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_StateLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_State</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Exists_Shipping_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_StateLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_State</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Street_Address</name>
        <label>Eval Street Address</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Eval_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Billing_Street</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_StreetLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Street_Address</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Exists_Shipping_Street</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_StreetLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Billing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Street_Address</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Type</name>
        <label>Eval Type</label>
        <locationX>314</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Eval_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Ignore_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IgnoreType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Street_Address</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
        <rules>
            <name>Default_Type</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Type</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Type</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Type</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Website</name>
        <label>Eval Website</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Eval_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Exists_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WebsiteLength</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Website</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>MailingAddress_CityLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_City})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MailingAddress_CountryLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Country})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MailingAddress_PostcodeLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Postcode})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MailingAddress_StateLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_State})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MailingAddress_StreetLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Street})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PhoneLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Phone})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TypeLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Type})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WebsiteLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Website})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[MoveData] Donation: Helper - Set Account Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Helper - Set Account Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Eval_Phone</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IgnoreType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Use_Billing_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
