force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Account_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_General_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Protect_Name</name>
        <label>Protect Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Protect_Name_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.movedata__Protect_Name__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.movedata__Protect_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_General_Values</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>GeneralPlatformKey</name>
        <dataType>String</dataType>
        <expression>{!Platform}</expression>
    </formulas>
    <interviewLabel>[Move Data] Stage: Account - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Account - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Protect_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Set_General_Values</name>
        <label>Set General Values</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Set_Platform_Key_Flow</targetReference>
        </connector>
        <flowName>md_npsp_pack__MoveData_Donation_Helper_Set_Account_Details</flowName>
        <inputAssignments>
            <name>IgnoreType</name>
            <value>
                <elementReference>Config_AccountIgnoreType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_City</name>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_Country</name>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_Postcode</name>
            <value>
                <elementReference>MailingAddress_Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_State</name>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MailingAddress_Street</name>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Phone</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>Config_AccountDefaultType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Use_Billing_Address</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Website</name>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Platform_Key_Flow</name>
        <label>Set Platform Key</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <flowName>md_npsp_pack__MoveData_Donation_Helper_Set_Account_Platform_Key</flowName>
        <inputAssignments>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PlatformKey</name>
            <value>
                <elementReference>PlatformKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stage</name>
            <value>
                <stringValue>pre</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Record</assignToReference>
            <name>Record</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Config_AccountDefaultType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>Config_AccountIgnoreType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
