force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Campaign_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Return_Existing_Name</name>
        <label>Return Existing Name</label>
        <locationX>959</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Name</name>
        <label>Return Provided Name</label>
        <locationX>374</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Three_Tier_Campaign_Name</name>
        <label>Return Three-Tier Campaign Name</label>
        <locationX>1225</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreeTierCampaignName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Two_Tier_Name</name>
        <label>Return Two-Tier Name</label>
        <locationX>664</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TwoTierNameFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Campaign_Code_as_Parent_Name</name>
        <label>Set Campaign Code as Parent Name</label>
        <locationX>542</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>ParentCampaignName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.movedata__Campaign_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Two_Tier_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name_as_Parent_Name</name>
        <label>Set Name as Parent Name</label>
        <locationX>779</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>ParentCampaignName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Two_Tier_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Name_from_Parent</name>
        <label>Determine Name from Parent</label>
        <locationX>663</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>Set_Name_as_Parent_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name</defaultConnectorLabel>
        <rules>
            <name>Campaign_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.movedata__Campaign_Code__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCampaign.movedata__Campaign_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Config_CampaignNameIgnoreCampaignCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_Code_as_Parent_Name</targetReference>
            </connector>
            <label>Campaign Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Campaign_Type</name>
        <label>Evaluate Campaign Type</label>
        <locationX>663</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Return_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign</defaultConnectorLabel>
        <rules>
            <name>Type_Fundraiser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fundraiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Three_Tier_Campaign</targetReference>
            </connector>
            <label>Fundraiser</label>
        </rules>
        <rules>
            <name>Type_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Name_from_Parent</targetReference>
            </connector>
            <label>Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Protected_Name</name>
        <label>Has Protected Name</label>
        <locationX>663</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Campaign_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Protected_Name_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.movedata__Protect_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Existing_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Three_Tier_Campaign</name>
        <label>Is Three-Tier Campaign</label>
        <locationX>982</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Determine_Name_from_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Three_Tier_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Three_Tier_Campaign_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ThreeTierCampaignName</name>
        <dataType>String</dataType>
        <expression>{!ParentCampaign.Name} &amp; &apos; - &apos; &amp; {!Name}</expression>
    </formulas>
    <formulas>
        <name>TwoTierNameFormula</name>
        <dataType>String</dataType>
        <expression>{!ParentCampaignName} &amp; &apos;: &apos; &amp; {!Name}</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Campaign - Name {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Campaign - Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_Protected_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CampaignCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CampaignIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Config_CampaignNameIgnoreCampaignCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>ParentCampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
