force-app/main/default/flows/md_npsp_pack__MoveData_Donation_Campaign_Key.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Typed_Platform_Key</name>
        <label>Set Typed Platform Key</label>
        <locationX>177</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypedPlatformKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Untyped_Platform_Key</name>
        <label>Set Untyped Platform Key</label>
        <locationX>452</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UntypedPlatformKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Salesforce_Key</name>
        <label>Has Salesforce Key</label>
        <locationX>168</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesforceKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Untyped_Platform_Key</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Type</name>
        <label>Has Type</label>
        <locationX>170</locationX>
        <locationY>454</locationY>
        <defaultConnectorLabel>No Key</defaultConnectorLabel>
        <rules>
            <name>Has_Type_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Typed_Platform_Key</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>TypedPlatformKey</name>
        <dataType>String</dataType>
        <expression>{!Platform}&amp;&apos;:&apos;&amp;{!Type}&amp;&apos;:&apos;&amp;{!Key}</expression>
    </formulas>
    <formulas>
        <name>UntypedPlatformKey</name>
        <dataType>String</dataType>
        <expression>{!Platform}&amp;&apos;:&apos;&amp;{!Key}</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Campaign - Platform Key {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[MoveData] Donation: Campaign - Platform Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_Salesforce_Key</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesforceKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
