force-app/main/default/flows/MoveData_Donation_Contact_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_Contact_Phone_Numbers</name>
        <label>Format Contact Phone Numbers</label>
        <locationX>226</locationX>
        <locationY>2942</locationY>
        <actionName>ContactPhoneFormatComponent</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Note_Phone_Number_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactPhoneFormatComponent</nameSegment>
        <outputParameters>
            <assignToReference>Record</assignToReference>
            <name>record</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Note_Phone_Number_Failure</name>
        <label>Log: Note Phone Number Failure</label>
        <locationX>578</locationX>
        <locationY>3050</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Mobile_to_NULL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Phone: &quot;{!Phone}&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Vertic Phone Number Conversion Failure</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Capitalised_City_Address</name>
        <label>Set Capitalised City Address</label>
        <locationX>94</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapitaliseCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Capitalised_First_Name</name>
        <label>Set Capitalised First Name</label>
        <locationX>94</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapitaliseFirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Capitalised_Last_Name</name>
        <label>Set Capitalised Last Name</label>
        <locationX>94</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapitaliseLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Street_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Capitalised_Street_Address</name>
        <label>Set Capitalised Street Address</label>
        <locationX>94</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapitaliseStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_City_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email</name>
        <label>Set Email</label>
        <locationX>50</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>Record.npe01__HomeEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Preferred_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Fields_for_Duplicate_Check</name>
        <label>Set Email Fields for Duplicate Check</label>
        <locationX>94</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.npe01__HomeEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Phone_Fields_for_Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile</name>
        <label>Set Mobile</label>
        <locationX>50</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Preferred_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile_Preferred_Phone</name>
        <label>Set Mobile</label>
        <locationX>138</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>Record.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Format_Contact_Phone_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile_to_NULL</name>
        <label>Set Mobile to NULL</label>
        <locationX>578</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Phone_Fields_for_Duplicate_Check</name>
        <label>Set Phone Fields for Duplicate Check</label>
        <locationX>94</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Preferred_Email</name>
        <label>Set Preferred Email</label>
        <locationX>138</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Phone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_City_Address</name>
        <label>Assess City Address</label>
        <locationX>226</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Is_Duplicate_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_City_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Capitalised_City_Address</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Email</name>
        <label>Assess Email</label>
        <locationX>226</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Assess_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_First_Name</name>
        <label>Assess First Name</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Capitalised_First_Name</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Last_Name</name>
        <label>Assess Last Name</label>
        <locationX>226</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Assess_Street_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Capitalised_Last_Name</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Phone</name>
        <label>Assess Phone</label>
        <locationX>226</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Format_Contact_Phone_Numbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mobile</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Preferred_Email</name>
        <label>Assess Preferred Email</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Set_Preferred_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Preferred_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Phone</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Preferred_Phone</name>
        <label>Assess Preferred Phone</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Set_Mobile_Preferred_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Preferred_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_Contact_Phone_Numbers</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Street_Address</name>
        <label>Assess Street Address</label>
        <locationX>226</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assess_City_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Street_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Capitalised_Street_Address</targetReference>
            </connector>
            <label>Exists Street Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Duplicate_Check</name>
        <label>Is Duplicate Check</label>
        <locationX>226</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Assess_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Duplicate_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Fields_for_Duplicate_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Removed support to invalidate email for Production install</description>
    <environments>Default</environments>
    <formulas>
        <name>CapitaliseCity</name>
        <dataType>String</dataType>
        <expression>INITCAP({!MailingAddress_City})</expression>
    </formulas>
    <formulas>
        <name>CapitaliseFirstName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!FirstName})</expression>
    </formulas>
    <formulas>
        <name>CapitaliseLastName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!LastName})</expression>
    </formulas>
    <formulas>
        <name>CapitaliseStreet</name>
        <dataType>String</dataType>
        <expression>INITCAP({!MailingAddress_Street})</expression>
    </formulas>
    <interviewLabel>[MoveData Extension] Donation: Contact - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Contact - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_First_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DuplicateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
