force-app/main/default/flows/MoveData_Donation_Campaign_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Fundraiser_Category</name>
        <label>Log: Fundraiser Category</label>
        <locationX>641</locationX>
        <locationY>998</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Fundraiser_Category</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>FundraiserCustom_Funraisin_EventCategory: {!FundraiserCustom_Funraisin_EventCategory}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Fundraiser Category</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Fundraiser_Category_Found</name>
        <label>Log: Fundraiser Category Found</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Fundraiser Category Found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_IAFA</name>
        <label>Log: IAFA</label>
        <locationX>345</locationX>
        <locationY>782</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Team_Category</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: IAFA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_IAFA_Direct</name>
        <label>Log: IAFA Direct</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <elementReference>Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: IAFA Direct</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Not_IAFA</name>
        <label>Log: Not IAFA</label>
        <locationX>2602</locationX>
        <locationY>782</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Not IAFA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Platform</name>
        <label>Log: Platform</label>
        <locationX>2169</locationX>
        <locationY>242</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Platform</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Platform</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Team_Category_Found</name>
        <label>Log: Team Category Found</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Team Category Found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Team_Fundraiser_Category_Not_Found</name>
        <label>Log: Team / Fundraiser Category Not Found</label>
        <locationX>968</locationX>
        <locationY>1214</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Key</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Team / Fundraiser Category Not Found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Type</name>
        <label>Log: Type</label>
        <locationX>1473</locationX>
        <locationY>566</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_I_Am_For_Animals</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Type</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Inherit_Parent_Campaign_Channel</name>
        <label>Inherit Parent Campaign Channel</label>
        <locationX>2671</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp_plus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.npsp_plus__Channel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Parent_Campaign_Program</name>
        <label>Inherit Parent Campaign Program</label>
        <locationX>2671</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Program__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Parent_Campaign_Purpose</name>
        <label>Inherit Parent Campaign Purpose</label>
        <locationX>2737</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>Record.Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Parent_Campaign_Recurring_Gift_Program</name>
        <label>Inherit Parent Campaign Recurring Gift Program</label>
        <locationX>2737</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>Record.Recurring_Gift_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Recurring_Gift_Program__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Inherit_Parent_Campaign_RT</name>
        <label>Inherit Parent Campaign RT</label>
        <locationX>2671</locationX>
        <locationY>3026</locationY>
        <assignmentItems>
            <assignToReference>Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Parent_Campaign_Segment</name>
        <label>Inherit Parent Campaign Segment</label>
        <locationX>2737</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>Record.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Recurring_Gift_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Parent_Campaign_Type</name>
        <label>Inherit Parent Campaign Type</label>
        <locationX>2671</locationX>
        <locationY>4610</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCampaign.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Purpose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Value_Channel</name>
        <label>Set Default Value</label>
        <locationX>2935</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp_plus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer-to-Peer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Value_Program</name>
        <label>Set Default Value</label>
        <locationX>2935</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community and Events</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Value_Type</name>
        <label>Set Default Value</label>
        <locationX>2935</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community Fundraising</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Purpose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_RT</name>
        <label>Set Fundraising RT</label>
        <locationX>2935</locationX>
        <locationY>3242</locationY>
        <assignmentItems>
            <assignToReference>Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fundraising_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent</name>
        <label>Set Parent</label>
        <locationX>2162</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Campaign_Mapping_Table.Salesforce_Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Fundraiser</name>
        <label>Set Parent</label>
        <locationX>1282</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Campaign_Mapping_Table_Fundraiser.Salesforce_Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_IAFA_Donation</name>
        <label>Set Parent</label>
        <locationX>1722</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Campaign_Mapping_Table_IAFA_Donation.Salesforce_Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Team</name>
        <label>Set Parent</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Campaign_Mapping_Table_Team.Salesforce_Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform</name>
        <label>Set Platform</label>
        <locationX>2169</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funraisin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Grassrootz</name>
        <label>Set Platform</label>
        <locationX>3042</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grassrootz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Raisely</name>
        <label>Set Platform</label>
        <locationX>3306</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raisely</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Criteria_to_set_Default_Value_Channel</name>
        <label>Assess Criteria to set Default Value</label>
        <locationX>3067</locationX>
        <locationY>4118</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Criteria_to_set_Default_Value_Channel</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funraisin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>iamforanimals:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>iamforanimals:funraisin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Value_Channel</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Criteria_to_set_Default_Value_Program</name>
        <label>Assess Criteria to set Default Value</label>
        <locationX>3067</locationX>
        <locationY>3626</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Criteria_to_set_Default_Value_Program</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funraisin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>iamforanimals:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>iamforanimals:funraisin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Value_Program</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Criteria_to_set_Default_Value_Type</name>
        <label>Assess Criteria to set Default Value</label>
        <locationX>3067</locationX>
        <locationY>4610</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_Purpose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Criteria_to_set_Default_Value_Type</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funraisin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>iamforanimals:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>iamforanimals:funraisin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Value_Type</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Donation_Date</name>
        <label>Assess Donation Date</label>
        <locationX>2074</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Call_Campaign_Mapping_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Donation_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donation_StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Campaign_Mapping_Table_IAFA_Donation</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Fundraiser_Category</name>
        <label>Assess Fundraiser - Category</label>
        <locationX>641</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Log_Team_Fundraiser_Category_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Mem_In_Cel_Fundraiser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FundraiserCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>birthday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundraiserCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wedding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundraiserCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>anniversary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundraiserCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>celebration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundraiserCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>remembering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Fundraiser_Category_Found</targetReference>
            </connector>
            <label>In Mem / In Cel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Fundraiser_Created</name>
        <label>Assess Fundraiser - Created</label>
        <locationX>1744</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Assess_Donation_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Fundraiser_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FundraiserCreatedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Campaign_Mapping_Table_Fundraiser</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Fundraising_RT</name>
        <label>Assess Fundraising RT</label>
        <locationX>3067</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Fundraising_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fundraising_RT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_RT</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_I_Am_For_Animals</name>
        <label>Assess I Am For Animals</label>
        <locationX>1473</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Log_Not_IAFA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>I_Am_For_Animals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>iamforanimals:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_IAFA</targetReference>
            </connector>
            <label>I Am For Animals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Key</name>
        <label>Assess Key</label>
        <locationX>968</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assess_Team_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iamforanimals_funraisin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iamforanimals:funraisin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_IAFA_Direct</targetReference>
            </connector>
            <label>iamforanimals:funraisin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_Channel</name>
        <label>Assess Parent Campaign Channel</label>
        <locationX>2869</locationX>
        <locationY>4010</locationY>
        <defaultConnector>
            <targetReference>Assess_Criteria_to_set_Default_Value_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.npsp_plus__Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_Channel</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_Program</name>
        <label>Assess Parent Campaign Program</label>
        <locationX>2869</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Assess_Criteria_to_set_Default_Value_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_Program</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_Purpose</name>
        <label>Assess Parent Campaign Purpose</label>
        <locationX>2869</locationX>
        <locationY>4994</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_Segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_Purpose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.Purpose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_Purpose</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_Recurring_Gift_Program</name>
        <label>Assess Parent Campaign Recurring Gift Program</label>
        <locationX>2869</locationX>
        <locationY>5594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_Recurring_Gift_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.Recurring_Gift_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_Recurring_Gift_Program</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_RT</name>
        <label>Assess Parent Campaign RT</label>
        <locationX>2869</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Get_Fundraising_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_RT</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_Segment</name>
        <label>Assess Parent Campaign Segment</label>
        <locationX>2869</locationX>
        <locationY>5294</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_Recurring_Gift_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_Segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_Segment</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Parent_Campaign_Type</name>
        <label>Assess Parent Campaign Type</label>
        <locationX>2869</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>Assess_Criteria_to_set_Default_Value_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Parent_Campaign_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCampaign.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Parent_Campaign_Type</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>2869</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funraisin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funraisin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Platform</targetReference>
            </connector>
            <label>Funraisin</label>
        </rules>
        <rules>
            <name>Grassrootz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grassrootz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Grassrootz</targetReference>
            </connector>
            <label>Grassrootz</label>
        </rules>
        <rules>
            <name>Raisely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>raisely</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Raisely</targetReference>
            </connector>
            <label>Raisely</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result</name>
        <label>Assess Result</label>
        <locationX>2294</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Campaign_Mapping_Table.Salesforce_Campaign_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Fundraiser</name>
        <label>Assess Result</label>
        <locationX>1414</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Fundraiser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Campaign_Mapping_Table_Fundraiser.Salesforce_Campaign_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Fundraiser</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_IAFA_Donation</name>
        <label>Assess Result</label>
        <locationX>1854</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_IAFA_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Campaign_Mapping_Table_IAFA_Donation.Salesforce_Campaign_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_IAFA_Donation</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Team</name>
        <label>Assess Result</label>
        <locationX>974</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Campaign_Mapping_Table_Team.Salesforce_Campaign_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Team</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Team_Category</name>
        <label>Assess Team - Category</label>
        <locationX>345</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Log_Fundraiser_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Mem_In_Cel_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TeamCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>birthday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wedding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>anniversary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>celebration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamCustom_Funraisin_EventCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>remembering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Team_Category_Found</targetReference>
            </connector>
            <label>In Mem / In Cel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Team_Created</name>
        <label>Assess Team - Created</label>
        <locationX>1359</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assess_Fundraiser_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Team_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamCreatedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Campaign_Mapping_Table_Team</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Type</name>
        <label>Assess Type</label>
        <locationX>2169</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assess_Parent_Campaign_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Type</targetReference>
            </connector>
            <label>Campaign</label>
        </rules>
    </decisions>
    <description>Added support to default Program, Channel, Type for certain IAFA campaigns</description>
    <environments>Default</environments>
    <formulas>
        <name>FinancialYearDonation</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(DATEVALUE({!Donation_StartDate}) &gt;= DATE(2022,07,01),DATEVALUE({!Donation_StartDate}) &lt;= DATE(2023,06,30)),&apos;FY22/23&apos;,
    (
        IF((AND(DATEVALUE({!Donation_StartDate}) &gt;= DATE(2023,07,01),DATEVALUE({!Donation_StartDate}) &lt;= DATE(2024,06,30))),&apos;FY23/24&apos;,
        (
            IF((AND(DATEVALUE({!Donation_StartDate}) &gt;= DATE(2024,07,01),DATEVALUE({!Donation_StartDate}) &lt;= DATE(2025,06,30))),&apos;FY24/25&apos;,
            (
                IF((AND(DATEVALUE({!Donation_StartDate}) &gt;= DATE(2025,07,01),DATEVALUE({!Donation_StartDate}) &lt;= DATE(2026,06,30))),&apos;FY25/26&apos;,
                (
                    IF((AND(DATEVALUE({!Donation_StartDate}) &gt;= DATE(2026,07,01),DATEVALUE({!Donation_StartDate}) &lt;= DATE(2027,06,30))),&apos;FY26/27&apos;,
                    &apos;&apos;)
                ))
            ))
        ))
    )
)</expression>
    </formulas>
    <formulas>
        <name>FinancialYearFundraiser</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(DATEVALUE({!FundraiserCreatedAt}) &gt;= DATE(2022,07,01),DATEVALUE({!FundraiserCreatedAt}) &lt;= DATE(2023,06,30)),&apos;FY22/23&apos;,
    (
        IF((AND(DATEVALUE({!FundraiserCreatedAt}) &gt;= DATE(2023,07,01),DATEVALUE({!FundraiserCreatedAt}) &lt;= DATE(2024,06,30))),&apos;FY23/24&apos;,
        (
            IF((AND(DATEVALUE({!FundraiserCreatedAt}) &gt;= DATE(2024,07,01),DATEVALUE({!FundraiserCreatedAt}) &lt;= DATE(2025,06,30))),&apos;FY24/25&apos;,
            (
                IF((AND(DATEVALUE({!FundraiserCreatedAt}) &gt;= DATE(2025,07,01),DATEVALUE({!FundraiserCreatedAt}) &lt;= DATE(2026,06,30))),&apos;FY25/26&apos;,
                (
                    IF((AND(DATEVALUE({!FundraiserCreatedAt}) &gt;= DATE(2026,07,01),DATEVALUE({!FundraiserCreatedAt}) &lt;= DATE(2027,06,30))),&apos;FY26/27&apos;,
                    &apos;&apos;)
                ))
            ))
        ))
    )
)</expression>
    </formulas>
    <formulas>
        <name>FinancialYearTeam</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(DATEVALUE({!TeamCreatedAt}) &gt;= DATE(2022,07,01),DATEVALUE({!TeamCreatedAt}) &lt;= DATE(2023,06,30)),&apos;FY22/23&apos;,
    (
        IF((AND(DATEVALUE({!TeamCreatedAt}) &gt;= DATE(2023,07,01),DATEVALUE({!TeamCreatedAt}) &lt;= DATE(2024,06,30))),&apos;FY23/24&apos;,
        (
            IF((AND(DATEVALUE({!TeamCreatedAt}) &gt;= DATE(2024,07,01),DATEVALUE({!TeamCreatedAt}) &lt;= DATE(2025,06,30))),&apos;FY24/25&apos;,
            (
                IF((AND(DATEVALUE({!TeamCreatedAt}) &gt;= DATE(2025,07,01),DATEVALUE({!TeamCreatedAt}) &lt;= DATE(2026,06,30))),&apos;FY25/26&apos;,
                (
                    IF((AND(DATEVALUE({!TeamCreatedAt}) &gt;= DATE(2026,07,01),DATEVALUE({!TeamCreatedAt}) &lt;= DATE(2027,06,30))),&apos;FY26/27&apos;,
                    &apos;&apos;)
                ))
            ))
        ))
    )
)</expression>
    </formulas>
    <formulas>
        <name>FinancialYearToday</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(DATEVALUE({!$Flow.CurrentDateTime}) &gt;= DATE(2022,07,01),DATEVALUE({!$Flow.CurrentDateTime}) &lt;= DATE(2023,06,30)),&apos;FY22/23&apos;,
    (
        IF((AND(DATEVALUE({!$Flow.CurrentDateTime}) &gt;= DATE(2023,07,01),DATEVALUE({!$Flow.CurrentDateTime}) &lt;= DATE(2024,06,30))),&apos;FY23/24&apos;,
        (
            IF((AND(DATEVALUE({!$Flow.CurrentDateTime}) &gt;= DATE(2024,07,01),DATEVALUE({!$Flow.CurrentDateTime}) &lt;= DATE(2025,06,30))),&apos;FY24/25&apos;,
            (
                IF((AND(DATEVALUE({!$Flow.CurrentDateTime}) &gt;= DATE(2025,07,01),DATEVALUE({!$Flow.CurrentDateTime}) &lt;= DATE(2026,06,30))),&apos;FY25/26&apos;,
                (
                    IF((AND(DATEVALUE({!$Flow.CurrentDateTime}) &gt;= DATE(2026,07,01),DATEVALUE({!$Flow.CurrentDateTime}) &lt;= DATE(2027,06,30))),&apos;FY26/27&apos;,
                    &apos;&apos;)
                ))
            ))
        ))
    )
)</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Campaign - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Campaign - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Call_Campaign_Mapping_Table</name>
        <label>Call Campaign Mapping Table</label>
        <locationX>2294</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Event_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMMFUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialYearToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Campaign_Mapping_Table__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salesforce_Campaign_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Campaign_Mapping_Table_Fundraiser</name>
        <label>Call Campaign Mapping Table</label>
        <locationX>1414</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Fundraiser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Event_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMMFUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialYearFundraiser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Campaign_Mapping_Table__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salesforce_Campaign_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Campaign_Mapping_Table_IAFA_Donation</name>
        <label>Call Campaign Mapping Table</label>
        <locationX>1854</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_IAFA_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Event_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMMFUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialYearDonation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Campaign_Mapping_Table__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salesforce_Campaign_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Campaign_Mapping_Table_Team</name>
        <label>Call Campaign Mapping Table</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Event_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMMFUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialYearTeam</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Campaign_Mapping_Table__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salesforce_Campaign_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fundraising_RT</name>
        <label>Get Fundraising RT</label>
        <locationX>3067</locationX>
        <locationY>3026</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Fundraising_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2743</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Donation_StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundraiserCreatedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundraiserCustom_Funraisin_EventCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>TeamCreatedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamCustom_Funraisin_EventCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
