force-app/main/default/flows/MoveData_Donation_Donation_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cancel_Processing_Contribution</name>
        <label>Cancel Processing</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cancel_Processing_Matched</name>
        <label>Cancel Processing</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>General_Assignment</name>
        <label>General Assignment</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Platform_Fee_Net_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Fee_GST</name>
        <label>Set Gateway Fee GST</label>
        <locationX>688</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Gateway_Fee_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GSTGatewayFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Gateway_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_ID</name>
        <label>Set Gateway ID</label>
        <locationX>842</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessorTransactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Gateway_PayPal</name>
        <label>Set Gateway</label>
        <locationX>974</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Platform_for_Fee_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Stripe</name>
        <label>Set Gateway</label>
        <locationX>710</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Platform_for_Fee_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Net_Amount_Gateway_Fee_Only</name>
        <label>Set Net Amount</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetAmountGatewayFeeOnly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Gateway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Net_Amount_Platform_Fee_And_Gateway_Fee</name>
        <label>Set Net Amount</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetAmountPlatformFeeAndGatewayFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Gateway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Net_Amount_Platform_Fee_Only</name>
        <label>Set Net Amount</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetAmountPlatformFeeOnly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Gateway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Fee_GST</name>
        <label>Set Platform Fee GST</label>
        <locationX>688</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Record.md_npsp_pack__Platform_Fee_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GSTPlatformFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Gateway_Fee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Donation_Type</name>
        <label>Assess Donation Type</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>General_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Funraisin_DonationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Processing_Contribution</targetReference>
            </connector>
            <label>Contribution</label>
        </rules>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Funraisin_DonationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>matched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Processing_Matched</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gateway</name>
        <label>Assess Gateway</label>
        <locationX>974</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Assess_Platform_for_Fee_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stripe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Processor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>stripe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Stripe</targetReference>
            </connector>
            <label>Stripe</label>
        </rules>
        <rules>
            <name>PayPal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Processor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>paypal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_PayPal</targetReference>
            </connector>
            <label>PayPal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gateway_Fee</name>
        <label>Assess Gateway Fee</label>
        <locationX>820</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Assess_Gateway_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Gateway_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Fee_GST</targetReference>
            </connector>
            <label>Exists Gateway Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gateway_Fee_Net_Amount_No_Platform_Fee</name>
        <label>Assess Gateway Fee</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assess_Gateway</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Gateway_Fee_Net_Amount_No_Platform_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Net_Amount_Gateway_Fee_Only</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gateway_Fee_Net_Amount_Yes_Platform_Fee</name>
        <label>Assess Gateway Fee</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Net_Amount_Platform_Fee_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Gateway_Fee_Net_Amount_Yes_Platform_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Net_Amount_Platform_Fee_And_Gateway_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gateway_ID</name>
        <label>Assess Gateway ID</label>
        <locationX>974</locationX>
        <locationY>1934</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Gateway_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessorTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_ID</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform_Fee</name>
        <label>Assess Platform Fee</label>
        <locationX>820</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Assess_Gateway_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Platform_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeePlatform</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeePlatform</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Fee_GST</targetReference>
            </connector>
            <label>Exists Platform Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform_Fee_Net_Amount</name>
        <label>Assess Platform Fee</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assess_Gateway_Fee_Net_Amount_No_Platform_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Platform_Fee_Net_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeePlatform</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Gateway_Fee_Net_Amount_Yes_Platform_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform_for_Fee_Processing</name>
        <label>Assess Platform for Fee Processing</label>
        <locationX>974</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Assess_Gateway_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funraisin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>funraisin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Platform_Fee</targetReference>
            </connector>
            <label>Funraisin</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GSTGatewayFee</name>
        <dataType>Currency</dataType>
        <expression>{!FeeGateway}/11</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GSTPlatformFee</name>
        <dataType>Currency</dataType>
        <expression>{!FeePlatform}/11</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NetAmountGatewayFeeOnly</name>
        <dataType>Currency</dataType>
        <expression>{!Amount}-{!FeeGateway}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NetAmountPlatformFeeAndGatewayFee</name>
        <dataType>Currency</dataType>
        <expression>{!Amount}-{!FeePlatform}-{!FeeGateway}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NetAmountPlatformFeeOnly</name>
        <dataType>Currency</dataType>
        <expression>{!Amount}-{!FeePlatform}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[MoveData] Donation: Donation - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Donation - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Donation_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Custom_Funraisin_DonationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeGateway</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeePlatform</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Processor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessorTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
