force-app/main/default/flows/npsp_plus__Create_Campaign_Member_NPSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign_Member</name>
        <label>Assign Campaign Member</label>
        <locationX>719</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberVar.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberVar.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Campaign_Member_Id</name>
        <label>Return Campaign Member Id</label>
        <locationX>929</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMemberVar.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Existing_Campaign_Member_Id</name>
        <label>Return Existing Campaign Member Id</label>
        <locationX>1043</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Campaign_Member.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Test_Campaign_Member</name>
        <label>Test Campaign Member</label>
        <locationX>709</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Return_Existing_Campaign_Member_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_Member</targetReference>
            </connector>
            <label>No Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Donation</name>
        <label>Test Donation</label>
        <locationX>309</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_and_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaignId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Campaign_Member</targetReference>
            </connector>
            <label>Has Contact and Campaign</label>
        </rules>
    </decisions>
    <interviewLabel>Create Campaign Member (NPSP+) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Campaign Member (NPSP+)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>719</locationX>
        <locationY>868</locationY>
        <connector>
            <targetReference>Return_Campaign_Member_Id</targetReference>
        </connector>
        <inputReference>CampaignMemberVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Campaign_Member</name>
        <label>Retrieve Campaign Member</label>
        <locationX>317</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Test_Donation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>campaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
