force-app/main/default/flows/npsp_plus__Upsert_Campaign_NPSP_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>723</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_IsCreated</name>
        <label>Set IsCreated</label>
        <locationX>381</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>IsCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsUpserted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_IsUpdated</name>
        <label>Set IsUpdated</label>
        <locationX>665</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>IsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsUpserted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Campaign</name>
        <label>Campaign</label>
        <locationX>374</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignVar.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign</name>
        <label>Check Campaign</label>
        <locationX>179</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>No Id and Name</defaultConnectorLabel>
        <rules>
            <name>Has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignVar.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaignVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>Has Id</label>
        </rules>
        <rules>
            <name>Has_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignVar.Name</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>campaignVar.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_By_Name</targetReference>
            </connector>
            <label>Has Name</label>
        </rules>
    </decisions>
    <interviewLabel>Upsert Campaign (NPSP+ Template) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Upsert Campaign (NPSP+ Template)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>383</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Set_IsCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>campaignVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_By_Name</name>
        <label>Find By Name</label>
        <locationX>190</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignVar.Name</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>campaignVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>513</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Set_IsUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>campaignVar</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>61</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Check_Campaign</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>campaignVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsUpserted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
