force-app/main/default/flows/npsp_plus__callout_stripe_get_charge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Charge_Amount</name>
        <label>Get Charge Amount</label>
        <locationX>497</locationX>
        <locationY>836</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Stripe_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Charge.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Charge_Created_Date</name>
        <label>Get Charge Created Date</label>
        <locationX>489</locationX>
        <locationY>982</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Stripe_Created_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Charge.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Charge_Created_Date_0</name>
        <label>Get Charge Created Date</label>
        <locationX>492</locationX>
        <locationY>1301</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Charge_Paid_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isBoolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Charge.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>paid</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <outputParameters>
            <assignToReference>isStripeChargePaid</assignToReference>
            <name>booleanValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Charge_Failure_Code</name>
        <label>Get Charge Failure Code</label>
        <locationX>496</locationX>
        <locationY>684</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Charge_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Charge.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>failure_code</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargeFailureCode</assignToReference>
            <name>stringValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Charge_Failure_Message</name>
        <label>Get Charge Failure Message</label>
        <locationX>495</locationX>
        <locationY>561</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Charge_Failure_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Charge.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>failure_message</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargeErrorMessage</assignToReference>
            <name>stringValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Charge_Payment_Method_Type</name>
        <label>Get Charge Payment Method Type</label>
        <locationX>490</locationX>
        <locationY>1140</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Charge_Created_Date_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Charge.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>payment_method_details.type</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargePaymentMethodType</assignToReference>
            <name>stringValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Intent_Amount</name>
        <label>Get Payment Intent Amount</label>
        <locationX>33</locationX>
        <locationY>763</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Stripe_Amount_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Payment_Intent.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Intent_Created_Date</name>
        <label>Get Payment Intent Created Date</label>
        <locationX>29</locationX>
        <locationY>950</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Stripe_Created_Date_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Payment_Intent.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Intent_Status</name>
        <label>Get Payment Intent Status</label>
        <locationX>30</locationX>
        <locationY>576</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Payment_Intent_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Payment_Intent.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>status</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Stripe_Charge</name>
        <label>Get Stripe Charge</label>
        <locationX>495</locationX>
        <locationY>368</locationY>
        <actionName>npsp_plus__StripeGetEntityInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Charge_Failure_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeEntity</name>
            <value>
                <stringValue>charges</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeEntityId</name>
            <value>
                <elementReference>stripeChargeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeGetEntityInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Stripe_Payment_Intent</name>
        <label>Get Stripe Payment Intent</label>
        <locationX>31</locationX>
        <locationY>363</locationY>
        <actionName>npsp_plus__StripeGetEntityInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Payment_Intent_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeEntity</name>
            <value>
                <stringValue>payment_intents</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeEntityId</name>
            <value>
                <elementReference>stripePaymentIntentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeGetEntityInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Stripe_Amount</name>
        <label>Parse Stripe Amount</label>
        <locationX>916</locationX>
        <locationY>845</locationY>
        <actionName>npsp_plus__StripeParseAmountInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Charge_Created_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeAmount</name>
            <value>
                <elementReference>Get_Charge_Amount.stringValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseAmountInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargeAmount</assignToReference>
            <name>parsedAmount</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Stripe_Amount_0</name>
        <label>Parse Stripe Amount</label>
        <locationX>259</locationX>
        <locationY>763</locationY>
        <actionName>npsp_plus__StripeParseAmountInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Payment_Intent_Created_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeAmount</name>
            <value>
                <elementReference>Get_Payment_Intent_Amount.stringValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseAmountInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargeAmount</assignToReference>
            <name>parsedAmount</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Stripe_Created_Date</name>
        <label>Parse Stripe Created Date</label>
        <locationX>918</locationX>
        <locationY>1018</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Charge_Payment_Method_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>Get_Charge_Created_Date.stringValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargeCreatedDate</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Stripe_Created_Date_0</name>
        <label>Parse Stripe Created Date</label>
        <locationX>262</locationX>
        <locationY>957</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payment_Intent_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>Get_Payment_Intent_Created_Date.stringValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeChargeCreatedDate</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Stripe_Get_Payment_Intent_Attempts</name>
        <label>Stripe Get Payment Intent Attempts</label>
        <locationX>958</locationX>
        <locationY>1631</locationY>
        <actionName>npsp_plus__StripeGetPaymentIntentAttemptsInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripePaymentIntentId</name>
            <value>
                <elementReference>stripePaymentIntentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeGetPaymentIntentAttemptsInvocable</nameSegment>
        <outputParameters>
            <assignToReference>isStripeCustomRetryAllowed</assignToReference>
            <name>isRetryAllowed</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>797</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Charge_Error</name>
        <label>Set Charge Error</label>
        <locationX>94</locationX>
        <locationY>1335</locationY>
        <assignmentItems>
            <assignToReference>stripeChargeErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The PaymentIntent Status: {!Get_Payment_Intent_Status.stringValue}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Charge_Id</name>
        <label>Charge Id</label>
        <locationX>247</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Get_Stripe_Charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>stripeChargeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripeChargeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripeChargeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stripe_Payment_Intent</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Charge_Paid_Status</name>
        <label>Charge Paid Status</label>
        <locationX>484</locationX>
        <locationY>1471</locationY>
        <defaultConnector>
            <targetReference>Charge_Payment_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Paid</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isStripeChargePaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Charge_Payment_Method</name>
        <label>Charge Payment Method</label>
        <locationX>702</locationX>
        <locationY>1549</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BECS_Direct_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stripeChargePaymentMethodType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>au_becs_debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stripe_Get_Payment_Intent_Attempts</targetReference>
            </connector>
            <label>BECS Direct Debit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Intent_Status</name>
        <label>Payment Intent Status</label>
        <locationX>258</locationX>
        <locationY>1177</locationY>
        <defaultConnector>
            <targetReference>Set_Charge_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not succeeded</defaultConnectorLabel>
        <rules>
            <name>succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Intent_Status.stringValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>succeeded</stringValue>
                </rightValue>
            </conditions>
            <label>succeeded</label>
        </rules>
    </decisions>
    <interviewLabel>callout_stripe_get_charge {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>callout_stripe_get_charge_or_payment_intent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>129</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Charge_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isStripeChargePaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isStripeCustomRetryAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stripeChargeCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeFailureCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeChargePaymentMethodType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>card</stringValue>
        </value>
    </variables>
    <variables>
        <name>stripePaymentIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
