force-app/main/default/flows/npsp_plus__invoice_payment_failed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Invoice_Created_Date_0</name>
        <label>Parse Stripe Invoice Created Date</label>
        <locationX>453</locationX>
        <locationY>292</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_or_Create_Invoice_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeInvoiceCreatedAt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>stripeInvoiceCreatedDate</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Schedule_DD_Retry</name>
        <label>Schedule DD Retry</label>
        <locationX>1052</locationX>
        <locationY>1525</locationY>
        <actionName>npsp_plus__StripeRetryInvoiceProc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Opportunity_Retrying</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>anchorDate</name>
            <value>
                <elementReference>stripeChargeCreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeRetryInvoiceProc</nameSegment>
        <outputParameters>
            <assignToReference>retryVAPId</assignToReference>
            <name>vapId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Payment</name>
        <label>Upsert Payment</label>
        <locationX>831</locationX>
        <locationY>1094</locationY>
        <actionName>npsp_plus__UpsertInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payment_Method_Type</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>npe01__OppPayment__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__record</typeName>
            <typeValue>npe01__OppPayment__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>paymentVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__UpsertInvocable</nameSegment>
        <outputParameters>
            <assignToReference>paymentVar</assignToReference>
            <name>record</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>1112</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Opportunity_Closed_Lost</name>
        <label>Opportunity =&gt; Closed Lost</label>
        <locationX>604</locationX>
        <locationY>1591</locationY>
        <assignmentItems>
            <assignToReference>invoiceOpportunityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityToUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Retrying</name>
        <label>Opportunity =&gt; Retrying</label>
        <locationX>1052</locationX>
        <locationY>1723</locationY>
        <assignmentItems>
            <assignToReference>invoiceOpportunityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityToUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrying</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assignment</name>
        <label>Payment Assignment</label>
        <locationX>818</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeChargeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npsp_plus__Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeChargeErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentMethodFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeChargeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeChargeCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeInvoiceCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npsp_plus__Failure_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeChargeFailureCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npsp__Gateway_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeChargeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stripe_Charge_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Payment_Intent_Id_as_Gateway_Id</name>
        <label>Store Payment Intent Id as Gateway Id</label>
        <locationX>1030</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripePaymentIntentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_By_Charge_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Throw_Error_0</name>
        <label>Throw Error</label>
        <locationX>379</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found or unable to create Invoice Opportunity: {!Find_or_Create_Invoice_Opportunity.FlowFaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Custom_Retry</name>
        <label>Custom Retry</label>
        <locationX>1045</locationX>
        <locationY>1373</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isStripeCustomRetryAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_DD_Retry</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Invoice_0</name>
        <label>Opportunity Invoice</label>
        <locationX>595</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Throw_Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_or_Create_Invoice_Opportunity.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Assignment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_by_Charge_Id</name>
        <label>Payment by Charge Id</label>
        <locationX>818</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Get_Unpaid_Payment_with_blank_Charge_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentVar.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paymentVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Payment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Method_Type</name>
        <label>Payment Method Type</label>
        <locationX>824</locationX>
        <locationY>1254</locationY>
        <defaultConnector>
            <targetReference>Retry_Attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BECS_Direct_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stripeChargePaymentMethodType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>au_becs_debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Retry</targetReference>
            </connector>
            <label>BECS Direct Debit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retry_Attempt</name>
        <label>Retry Attempt</label>
        <locationX>599</locationX>
        <locationY>1372</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Retrying</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Scheduled</defaultConnectorLabel>
        <rules>
            <name>Last</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>stripeInvoiceNextPaymentAttempt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripeInvoiceNextPaymentAttempt</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Lost</targetReference>
            </connector>
            <label>Last</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stripe_Charge_Id</name>
        <label>Stripe Charge Id</label>
        <locationX>811</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_By_Charge_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>stripeChargeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripeChargeId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>stripeChargeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Payment_Intent_Id_as_Gateway_Id</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <formulas>
        <name>paymentMethodFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!stripeChargePaymentMethodType},
&quot;au_becs_debit&quot;, &quot;ACH/EFT&quot;,
&quot;Credit Card&quot;
)</expression>
    </formulas>
    <interviewLabel>invoice.payment_failed {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>invoice.payment_failed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_By_Charge_Id</name>
        <label>Get Payment By Charge Id</label>
        <locationX>825</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_by_Charge_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp_plus__Gateway_Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stripeChargeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp_plus__Gateway_Transaction_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</elementReference>
            </value>
        </filters>
        <object>npe01__OppPayment__c</object>
        <outputAssignments>
            <assignToReference>paymentVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unpaid_Payment_with_blank_Charge_Id</name>
        <label>Get Unpaid Payment with blank Charge Id</label>
        <locationX>562</locationX>
        <locationY>1011</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upsert_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp_plus__Gateway_Transaction_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_or_Create_Invoice_Opportunity.invoiceOpportunityVar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Scheduled_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stripeChargeCreatedDate</elementReference>
            </value>
        </filters>
        <object>npe01__OppPayment__c</object>
        <outputAssignments>
            <assignToReference>paymentVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Opportunity</name>
        <label>Update Invoice Opportunity</label>
        <locationX>844</locationX>
        <locationY>1914</locationY>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>invoiceOpportunityToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>7</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Parse_Invoice_Created_Date_0</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Find_or_Create_Invoice_Opportunity</name>
        <label>Find or Create Invoice Opportunity</label>
        <locationX>609</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Opportunity_Invoice_0</targetReference>
        </connector>
        <flowName>npsp_plus__Find_or_Create_Invoice_Opportunity</flowName>
        <inputAssignments>
            <name>initialCloseDate</name>
            <value>
                <elementReference>stripeInvoiceCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeInvoiceId</name>
            <value>
                <elementReference>stripeInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeSubscriptionId</name>
            <value>
                <elementReference>stripeSubscriptionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invoiceOpportunityToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>isStripeCustomRetryAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>retryVAPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stripeChargeCreatedAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeChargeCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeChargeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeChargeFailureCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeChargeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeChargePaymentMethodType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>card</stringValue>
        </value>
    </variables>
    <variables>
        <name>stripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeInvoiceCreatedAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeInvoiceCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>stripeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeInvoiceNextPaymentAttempt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
