force-app/main/default/flows/npsp_plus__Find_or_Create_Invoice_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upsert_Opportunity</name>
        <label>Upsert Opportunity</label>
        <locationX>1191</locationX>
        <locationY>968</locationY>
        <actionName>npsp_plus__UpsertInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Is_Upserted</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>invoiceOpportunityVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__UpsertInvocable</nameSegment>
        <outputParameters>
            <assignToReference>invoiceOpportunityVar</assignToReference>
            <name>record</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>235</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Opportunity_Invoice_Assignment</name>
        <label>Opportunity Invoice Assignment</label>
        <locationX>862</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_By_Id.npe03__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.npe03__Recurring_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_By_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_By_Id.npe03__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_By_Id.npe03__Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_By_Id.npe03__Recurring_Donation_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.npsp_plus__Stripe_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Invoice_Assignment_0</name>
        <label>Opportunity Invoice Initial Assignment</label>
        <locationX>431</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialStageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceOpportunityVar.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialCloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_By_Invoice_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_Found</name>
        <label>Set Is Found</label>
        <locationX>390</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>isFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Is_Upserted</name>
        <label>Set Is Upserted</label>
        <locationX>1321</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>isUpserted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Throw_Error_0</name>
        <label>Throw Error</label>
        <locationX>490</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Subscription with Stripe Id: &quot;{!stripeSubscriptionId}&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Opportunity_Invoice</name>
        <label>Opportunity Invoice</label>
        <locationX>572</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Subscription_By_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceOpportunityVar.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Found</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RD_Subscription</name>
        <label>RD Subscription</label>
        <locationX>678</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>Throw_Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_By_Id.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Invoice_Assignment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Find or Create Recurring Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Find or Create Invoice Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Pledged_Opportunity</name>
        <label>Find Pledged Opportunity</label>
        <locationX>1020</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upsert_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_By_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </filters>
        <filters>
            <field>npsp_plus__Stripe_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceOpportunityVar.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceOpportunityVar.CloseDate</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>invoiceOpportunityVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>invoiceOpportunityVar.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record_Type</name>
        <label>Get Donation Record Type</label>
        <locationX>863</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Pledged_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>invoiceOpportunityVar.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_By_Invoice_Id</name>
        <label>Get Opportunity By Invoice Id</label>
        <locationX>572</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp_plus__Stripe_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stripeInvoiceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp_plus__Stripe_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>invoiceOpportunityVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_By_Id</name>
        <label>Get Subscription By Id</label>
        <locationX>686</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RD_Subscription</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp_plus__Stripe_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stripeSubscriptionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp_plus__Stripe_Subscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Opportunity_Invoice_Assignment_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>initialCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>initialName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Recurring Donation</stringValue>
        </value>
    </variables>
    <variables>
        <name>initialStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pledged</stringValue>
        </value>
    </variables>
    <variables>
        <name>invoiceOpportunityVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>isFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isUpserted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>stripeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
