force-app/main/default/flows/npsp_plus__Upsert_Account_NPSP_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upsert_Account</name>
        <label>Upsert Account</label>
        <locationX>378</locationX>
        <locationY>215</locationY>
        <actionName>npsp_plus__UpsertInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Is_Upserted</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isDeduplicate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>accountVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__UpsertInvocable</nameSegment>
        <outputParameters>
            <assignToReference>IsCreated</assignToReference>
            <name>isCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IsUpdated</assignToReference>
            <name>isUpdated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountVar</assignToReference>
            <name>record</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>377</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Is_Upserted</name>
        <label>Set Is Upserted</label>
        <locationX>549</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>IsUpserted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>179</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>No Id and Name</defaultConnectorLabel>
        <rules>
            <name>Has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountVar.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Account</targetReference>
            </connector>
            <label>Has Id</label>
        </rules>
        <rules>
            <name>Has_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountVar.Name</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountVar.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Account</targetReference>
            </connector>
            <label>Has Name</label>
        </rules>
    </decisions>
    <interviewLabel>Upsert Account (NPSP+ Template) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Upsert Account (NPSP+ Template)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>61</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsUpserted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
