force-app/main/default/flows/npsp_plus__Create_Campaign_Member_on_Processed_Form_Submission_NPSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Test_Form_Submission</name>
        <label>Test Form Submission</label>
        <locationX>592</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_One_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Form_Submission.npsp_plus__Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Donation</targetReference>
            </connector>
            <label>Is One-Off</label>
        </rules>
        <rules>
            <name>Is_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Form_Submission.npsp_plus__Recurring_Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Recurring_Donation</targetReference>
            </connector>
            <label>Is Recurring</label>
        </rules>
    </decisions>
    <interviewLabel>Create Campaign Member on Processed Form Submission (NPSP+) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Campaign Member on Processed Form Submission (NPSP+)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Donation</name>
        <label>Retrieve Donation</label>
        <locationX>910</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_for_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Form_Submission.npsp_plus__Donation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Form_Submission</name>
        <label>Retrieve Form Submission</label>
        <locationX>260</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Form_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formSubmissionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp_plus__Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Recurring_Donation</name>
        <label>Retrieve Recurring Donation</label>
        <locationX>600</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign_Member_for_Recurring_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Form_Submission.npsp_plus__Recurring_Donation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Retrieve_Form_Submission</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Campaign_Member_for_Donation</name>
        <label>Create Campaign Member for Donation</label>
        <locationX>1107</locationX>
        <locationY>179</locationY>
        <flowName>npsp_plus__Create_Campaign_Member_NPSP</flowName>
        <inputAssignments>
            <name>campaignId</name>
            <value>
                <elementReference>Retrieve_Donation.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Retrieve_Donation.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Campaign_Member_for_Recurring_Donation</name>
        <label>Create Campaign Member for Recurring Donation</label>
        <locationX>601</locationX>
        <locationY>706</locationY>
        <flowName>npsp_plus__Create_Campaign_Member_NPSP</flowName>
        <inputAssignments>
            <name>campaignId</name>
            <value>
                <elementReference>Retrieve_Recurring_Donation.npe03__Recurring_Donation_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Retrieve_Recurring_Donation.npe03__Contact__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>formSubmissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
