force-app/main/default/flows/npsp_plus__npsp_Send_Donation_ReceiptFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Donation_Receipt</name>
        <label>Send Donation Receipt</label>
        <locationX>1035</locationX>
        <locationY>478</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Acknowledged_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <elementReference>emailTemplateFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>Retrieve_Settings.npsp_plus__Default_Org_Wide_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>targetId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Primary_Contact_As_Target</name>
        <label>Set Account Primary Contact As Target</label>
        <locationX>735</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Acknowledged_Status</name>
        <label>Set Acknowledged Status</label>
        <locationX>1202</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>$Record.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.npsp__Acknowledgment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Acknowledgment_Status_0</name>
        <label>Set To Be Acknowledge Status</label>
        <locationX>296</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>$Record.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Acknowledged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.npsp__Acknowledgment_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Contact_As_Target</name>
        <label>Set Primary Contact As Target</label>
        <locationX>730</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Settings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>568</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Set_Acknowledgment_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unable to Send Email</defaultConnectorLabel>
        <rules>
            <name>Email_Can_Be_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Contact_As_Target</targetReference>
            </connector>
            <label>Email Can Be Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_0</name>
        <label>Check Contact</label>
        <locationX>576</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Set_Acknowledgment_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unable to Send Email</defaultConnectorLabel>
        <rules>
            <name>Email_Can_Be_Sent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Primary_Contact_As_Target</targetReference>
            </connector>
            <label>Email Can Be Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation</name>
        <label>Donation</label>
        <locationX>168</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>No Contact or Account</defaultConnectorLabel>
        <rules>
            <name>Individual_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact</targetReference>
            </connector>
            <label>Individual Donation</label>
        </rules>
        <rules>
            <name>Company_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_0</targetReference>
            </connector>
            <label>Company Donation</label>
        </rules>
    </decisions>
    <formulas>
        <name>emailTemplateFormula</name>
        <dataType>String</dataType>
        <expression>IF(
OR(ISBLANK({!$Record.CampaignId}), ISBLANK({!$Record.Campaign.npsp_plus__Donation_Receipt_Email_Template_Name__c})), {!Retrieve_Settings.npsp_plus__Donation_Receipt_Email_Template_Name__c},
{!$Record.Campaign.npsp_plus__Donation_Receipt_Email_Template_Name__c}
)</expression>
    </formulas>
    <interviewLabel>npsp+ Send Donation Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>npsp+ Send Donation Receipt Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Settings</name>
        <label>Retrieve Settings</label>
        <locationX>909</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Donation_Receipt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Acknowledgment_Status_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp_plus__Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Donation</name>
        <label>Update Donation</label>
        <locationX>826</locationX>
        <locationY>1027</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Donation</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND (4 OR 5))</filterLogic>
        <filters>
            <field>npsp__Acknowledgment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Acknowledgment Now</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>targetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
