force-app/main/default/flows/Opportunity_Contact_Role_Membership_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Contact_Values</name>
        <label>ASSIGN Contact Values</label>
        <locationX>632</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>GET_Contact.npo02__LastMembershipDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.npo02__LastMembershipLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.npe01__Member_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.npo02__LastMembershipOrigin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.npe01__Membership_Origin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Contact.npo02__NumberOfMembershipOpps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Memberships_Add_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_Membership_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Contact_Values_0</name>
        <label>ASSIGN Contact Values</label>
        <locationX>815</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>GET_Contact.npo02__MembershipEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.npe01__Membership_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_Membership_Join_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Contact_Values_0_0</name>
        <label>ASSIGN Contact Values</label>
        <locationX>1267</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>GET_Contact.npo02__MembershipJoinDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_Membership_End_Date</name>
        <label>DECISION Membership End Date</label>
        <locationX>807</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>DECISION_Membership_Join_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_End_Date_Last_Membership_End_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.npe01__Membership_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Contact.npo02__MembershipEndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.npo02__MembershipEndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Contact_Values_0</targetReference>
            </connector>
            <label>Membership End Date &gt; Last Membership End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Membership_Join_Date</name>
        <label>DECISION Membership Join Date</label>
        <locationX>1036</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>UPDATE_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_Join_Date_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contact.npo02__MembershipJoinDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Contact_Values_0_0</targetReference>
            </connector>
            <label>Membership Join Date = NULL</label>
        </rules>
    </decisions>
    <description>On create triggered flow updates related Contact with Membership details.</description>
    <environments>Default</environments>
    <formulas>
        <name>Number_of_Memberships_Add_1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Contact.npo02__NumberOfMembershipOpps__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity Contact Role - Membership Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Role - Membership Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET Contact</label>
        <locationX>632</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Contact_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Contact</name>
        <label>UPDATE Contact</label>
        <locationX>1267</locationX>
        <locationY>874</locationY>
        <inputReference>GET_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>508</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GET_Contact</targetReference>
        </connector>
        <filterFormula>OR(
       AND(ISNEW(), TEXT({!$Record.Role})=&quot;Member&quot;),
       AND(ISCHANGED({!$Record.Role}), TEXT({!$Record.Role})=&quot;Member&quot;)
)</filterFormula>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
