force-app/main/default/flows/Opportunity_Assign_Recurring_Giving_Campaign_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Campaign_ID</name>
        <label>ASSIGN Campaign ID</label>
        <locationX>774</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>$Record.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Campaign_Setting.Default_Recurring_Giving_Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DECISION_Record_Type</name>
        <label>DECISION Record Type</label>
        <locationX>768</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Developer_Name_Donation_AND_Not_First_Installment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe03__Recurring_Donation__r.npe03__Total_Paid_Installments__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Campaign_Setting</targetReference>
            </connector>
            <label>Record Type Developer Name = Donation AND Not First Installment</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Campaign_Setting</name>
        <label>VALIDATE Campaign Setting</label>
        <locationX>767</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Setting_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Campaign_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Campaign_ID</targetReference>
            </connector>
            <label>Campaign Setting Found</label>
        </rules>
    </decisions>
    <description>BEFORE Insert triggered flow that assigns the defined Campaign ID from custom metadata setting to recurring giving Opportunities</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Assign Recurring Giving Campaign ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Recurring Giving Campaign ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Campaign_Setting</name>
        <label>GET Campaign Setting</label>
        <locationX>775</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Campaign_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DECISION_Record_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
