force-app/main/default/flows/Portal_Log_Foster_Carer_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_to_SOV</name>
        <label>assign to SOV</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_to_get_ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foster Care</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_Details2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Interaction_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NotesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_NotesToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_get_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_to_SOV</name>
        <label>Copy 1 of assign to SOV</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_selected_animals.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foster Care</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Note_Details2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Interaction_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Interaction_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NotesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_NotesToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_selected_animals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_to_SOV</name>
        <label>assign to SOV</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foster Care</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_Details1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NotesToCreate.animalos__Interaction_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NotesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_NotesToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notes</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>single_or_multiple</name>
        <label>single or multiple</label>
        <locationX>368</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Animals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Animal</targetReference>
            </connector>
            <label>single</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_was_clicked</name>
        <label>what was clicked</label>
        <locationX>686</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>copy_button_clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CopyNoteButton.buttonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_AddNotesScreen</targetReference>
            </connector>
            <label>copy button clicked</label>
        </rules>
        <rules>
            <name>specific_button_was_clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddNoteButton.buttonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_to_get_ids</targetReference>
            </connector>
            <label>specific button was clicked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Portal - Log Foster Carer Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Log Foster Carer Note</label>
    <loops>
        <name>loop_selected_animals</name>
        <label>loop selected animals</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>SelectAnimalsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_assign_to_SOV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_to_get_ids</name>
        <label>loop to get ids</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <collectionReference>SelectAnimalsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddNotesScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>368</locationX>
        <locationY>1142</locationY>
        <inputReference>SOC_NotesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal</name>
        <label>Get Animal</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DetailsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>animalos__Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Animals</name>
        <label>Get Animals</label>
        <locationX>686</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectAnimalsScreen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>10.0</numberValue>
        </limit>
        <object>animalos__Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AddNotesScreen</name>
        <label>AddNotesScreen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_to_SOV</targetReference>
        </connector>
        <fields>
            <name>AnimalName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Create Note for: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!loop_to_get_ids.animalos__Animal_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interaction_Date2</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Interaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Note_Details2</name>
            <fieldText>Note Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_AddNotesScreen</name>
        <label>Copy 1 of AddNotesScreen</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_selected_animals</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AnimalName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Create Note for: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;All Animals&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Interaction_Date2</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Interaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Note_Details2</name>
            <fieldText>Note Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DetailsScreen</name>
        <label>DetailsScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_assign_to_SOV</targetReference>
        </connector>
        <fields>
            <name>Interaction_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Interaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Note_Details1</name>
            <fieldText>Note Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAnimalsScreen</name>
        <label>SelectAnimalsScreen</label>
        <locationX>686</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>what_was_clicked</targetReference>
        </connector>
        <fields>
            <name>ChooseAnimals</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.FlowStyles_Box}Select the animals you want to add notes to. You can either create one note and copy it to multiple animals or log specific notes for each selected animal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectAnimalsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>animalos__Animal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Animals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Animals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;animalos__Animal_Name__c&quot;,&quot;guid&quot;:&quot;column-faa5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectAnimalsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectAnimalsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddNoteButton</name>
                    <extensionName>c:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Add Different Note to Each Animal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonClass</name>
                        <value>
                            <stringValue>slds-size_12-of-12</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectAnimalsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CopyNoteButton</name>
                    <extensionName>c:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Copy Note to All Selected Animals</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonClass</name>
                        <value>
                            <stringValue>slds-size_12-of-12</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>242</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>single_or_multiple</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOC_NotesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal_Note__c</objectType>
    </variables>
    <variables>
        <name>SOV_NotesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal_Note__c</objectType>
    </variables>
</Flow>
