force-app/main/default/flows/Portal_Log_Weight_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_to_animalSOV</name>
        <label>assign to animalSOV</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SOV_AnimalToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Animals_to_Log.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_AnimalToUpdate.animalos__Current_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Weight_Kg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_AnimalsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_AnimalToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Animals_to_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_SOV</name>
        <label>assign to action SOV</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SOV_AnimalActionsToCreate.animalos__Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Animals_to_Log.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_AnimalActionsToCreate.animalos__Weight_KG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Weight_Kg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_AnimalActionsToCreate.animalos__Date_Time_Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Date_Logged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_AnimalActionsToCreate.animalos__Action_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_AnimalActionsToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Weight_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_AnimalActionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_AnimalActionsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_animalSOV</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Single_or_More_Selected</name>
        <label>Single or More Selected</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_All_Animals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Animal</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Portal - Log Weight Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Log Weight Subflow</label>
    <loops>
        <name>Loop_Animals_to_Log</name>
        <label>Loop Animals to Log</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>SelectAnimalsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Log_Weight</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Weight_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Weight_Record</name>
        <label>Create Weight Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Animal</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Weight_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Action_Status__c</field>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Animal__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Date_Time_Action_Completed__c</field>
            <value>
                <elementReference>Date_Logged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>animalos__Weight_KG__c</field>
            <value>
                <elementReference>Weight_Kg</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Animal_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Weight_Records</name>
        <label>Create Weight Records</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_Animals</targetReference>
        </connector>
        <inputReference>SOC_AnimalActionsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Animals</name>
        <label>Get All Animals</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectAnimalsScreen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>animalos__Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Animal</name>
        <label>get Animal</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Weight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>animalos__Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Weight_Record_Type_ID</name>
        <label>Get Weight Record Type ID</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Single_or_More_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Animal_Action__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Weigh In</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal</name>
        <label>Update Animal</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>animalos__Current_Weight__c</field>
            <value>
                <elementReference>Weight_Kg</elementReference>
            </value>
        </inputAssignments>
        <object>animalos__Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animals</name>
        <label>Update Animals</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <inputReference>SOC_AnimalsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Log_Weight</name>
        <label>Copy 1 of Log Weight</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_to_SOV</targetReference>
        </connector>
        <fields>
            <name>LogWeightText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Log weight for &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Loop_Animals_to_Log.animalos__Animal_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Date_Logged</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date Logged</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Weight_Kg</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop_Animals_to_Log.animalos__Current_Weight__c</elementReference>
            </defaultValue>
            <fieldText>Weight (Kg)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Log_Weight</name>
        <label>Log Weight</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Weight_Record</targetReference>
        </connector>
        <fields>
            <name>LogWeightTextSingle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Log weight for &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!get_Animal.animalos__Animal_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Logged</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date Logged</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Weight_Kg</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>get_Animal.animalos__Current_Weight__c</elementReference>
            </defaultValue>
            <fieldText>Weight (Kg)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectAnimalsScreen</name>
        <label>selectAnimalsScreen</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Animals_to_Log</targetReference>
        </connector>
        <fields>
            <name>selectMultipleWeightText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Multiple Animals to Update Weight&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectAnimalsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>animalos__Animal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Animals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2236&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Animal ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;animalos__Animal_Name__c&quot;,&quot;guid&quot;:&quot;column-43b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;animalos__Current_Weight__c&quot;,&quot;guid&quot;:&quot;column-5cc5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Current Weight&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;animalos__Type__c&quot;,&quot;guid&quot;:&quot;column-107e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_All_Animals</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Weight_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOC_AnimalActionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>SOC_AnimalsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal__c</objectType>
    </variables>
    <variables>
        <name>SOV_AnimalActionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>SOV_AnimalToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal__c</objectType>
    </variables>
</Flow>
