force-app/main/default/flows/Postcodes_Import.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_LGA_Found</name>
        <label>Is LGA Found?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LGA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LGA_By_Code_And_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Postcode</targetReference>
            </connector>
            <label>LGA Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Postcode_Found</name>
        <label>Is Postcode Found?</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Postcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postcode_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postcode.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Postcode Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Postcodes Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Postcodes Import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Postcode</name>
        <label>Create Postcode</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!postcode} - {!suburb}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_LGA__c</field>
            <value>
                <elementReference>Get_LGA_By_Code_And_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Postcode__c</field>
            <value>
                <elementReference>postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_State__c</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aos_Suburb__c</field>
            <value>
                <elementReference>suburb</elementReference>
            </value>
        </inputAssignments>
        <object>aos_Postcode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_LGA_By_Code_And_Name</name>
        <label>Get LGA By Code And Name</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_LGA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aos_LGA_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LGACode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LGAName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>aos_LGA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Postcode</name>
        <label>Get Postcode</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Postcode_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aos_Postcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>postcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>aos_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </filters>
        <filters>
            <field>aos_Suburb__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>suburb</elementReference>
            </value>
        </filters>
        <filters>
            <field>aos_LGA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LGA_By_Code_And_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>aos_Postcode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LGA_By_Code_And_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LGACode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LGAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
