force-app/main/default/flows/Record_Trigger_Account_Before_Save_Populate_LGA_based_on_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_LGA_AND_PHN_from_BillingCity</name>
        <label>Assign LGA AND PHN from BillingCity</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.LGA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postcode_Record_by_BillingCity.LGA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postcode_Record_by_BillingCity.PHN__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_LGA_AND_PHN_from_BillingPostalCode</name>
        <label>Assign LGA AND PHN from BillingPostalCode</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.LGA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postcode_Record_by_BillingPostalCode.LGA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postcode_Record_by_BillingPostalCode.PHN__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Found_by_MailingCity</name>
        <label>If Found by MailingCity</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Postcode_Record_by_BillingPostalCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Postcode_found_by_BillingCity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postcode_Record_by_BillingCity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LGA_AND_PHN_from_BillingCity</targetReference>
            </connector>
            <label>Postcode found by BillingCity</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Found_by_MailingPostalCode</name>
        <label>If Found by MailingPostalCode</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Postcode_found_by_BillingPostalCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postcode_Record_by_BillingPostalCode.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LGA_AND_PHN_from_BillingPostalCode</targetReference>
            </connector>
            <label>Postcode found by BillingPostalCode</label>
        </rules>
    </decisions>
    <description>A record trigger flow is triggered before-save when BillingCity OR BillingPostalCode is not null or when it is changed to assign LGA AND PHN. https://verticconsulting.atlassian.net/browse/RQLD-63</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula converts the BillingCity to all upper case to match Postcode.Locality__c</description>
        <name>UpperBillingCity</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.BillingCity})</expression>
    </formulas>
    <interviewLabel>Record Trigger: &lt;Account&gt; Before Save - Populate LGA based on Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: &lt;Account&gt; Before Save - Populate LGA based on Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Postcode_Record_by_BillingCity</name>
        <label>Get Postcode Record by BillingCity</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Found_by_MailingCity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Locality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpperBillingCity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postcode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Postcode_Record_by_BillingPostalCode</name>
        <label>Get Postcode Record by BillingPostalCode</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Found_by_MailingPostalCode</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postcode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Postcode_Record_by_BillingCity</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 4)</filterLogic>
        <filters>
            <field>BillingCity</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
