force-app/main/default/flows/Record_Trigger_Contact_After_Save_Deceased_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_FaultMessage</name>
        <label>Assign FaultMessage</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Primary_Contact_NULL</name>
        <label>Set Primary Contact = NULL</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.npe01__One2OneContact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Deceased_Contact_Primary_Contact</name>
        <label>Is Deceased Contact = Primary Contact?</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Related_Account.npe01__One2OneContact__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Contact_NULL</targetReference>
            </connector>
            <label>Is Primary Contact</label>
        </rules>
    </decisions>
    <description>A record trigger flow is triggered after-save when npsp__Deceased__c = TRUE, it will assign Contact Opt Out related values to stop contacting the contact and removes the contact as Primary Contact. https://verticconsulting.atlassian.net/browse/RQLD-81</description>
    <environments>Default</environments>
    <interviewLabel>Record-Trigger: &lt;Contact&gt; After Save - Deceased Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: &lt;Contact&gt; After Save - Deceased Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Deceased_Contact_Primary_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_FaultMessage</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Assign Opt-Out Related Fields on Contact</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_FaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Mail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfFax</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Do_Not_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
