force-app/main/default/flows/Recurring_Donation_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Trigger_Send_for_Recurring_Gift_Rescue_Team</name>
        <label>Email Trigger Send for Recurring Gift (Rescue Team)</label>
        <locationX>272</locationX>
        <locationY>887</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Welcome_Rescue_Team_1690263569556</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Recurring_Gift_Wildlife</name>
        <label>Recurring Gift Wildlife</label>
        <locationX>269</locationX>
        <locationY>646</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Welcome_Wildlife_1690263188724</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Email_for_Recurring_Gift_Amount_Lowered</name>
        <label>Trigger Email for Recurring Gift Amount Lowered</label>
        <locationX>399</locationX>
        <locationY>1077</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Amount_Lowered_1690180639042</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Email_for_Recurring_Gift_Amount_Raised</name>
        <label>Trigger Email for Recurring Gift Amount Raised</label>
        <locationX>140</locationX>
        <locationY>768</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Amount_Raised_v1_1690517897344</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Email_Send_0</name>
        <label>Trigger Email Send</label>
        <locationX>915</locationX>
        <locationY>756</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Suspended_1690239928468</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Email_Send_1</name>
        <label>Trigger Email Send</label>
        <locationX>795</locationX>
        <locationY>888</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Cancelled_1690238099018</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Email_Send_for_Recurring_Gift_Change_of_Payment_Method</name>
        <label>Trigger Email Send for Recurring Gift Change of Payment Method</label>
        <locationX>677</locationX>
        <locationY>1079</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Recurring_Gift_Change_of_Payment_Method_v2_1690497020971</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>supportercare@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.npe03__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DECISION_Routing</name>
        <label>DECISION Routing</label>
        <locationX>528</locationX>
        <locationY>764</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Email is null</label>
        </rules>
        <rules>
            <name>Recurring_Gift_Welcome_Wildlife</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Recurring_Donation_Campaign__r.Recurring_Gift_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wildlife</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pledge_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Export_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Gift_Wildlife</targetReference>
            </connector>
            <label>Recurring Gift Welcome (Wildlife)</label>
        </rules>
        <rules>
            <name>Recurring_Gift_Welcome_Rescue_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Recurring_Donation_Campaign__r.Recurring_Gift_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescue Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pledge_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Export_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Trigger_Send_for_Recurring_Gift_Rescue_Team</targetReference>
            </connector>
            <label>Recurring Gift Welcome (Rescue Team)</label>
        </rules>
        <rules>
            <name>Recurring_Donation_Status_Paused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Email_Send_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Recurring Donation Status = Paused</label>
        </rules>
        <rules>
            <name>Recurring_Donation_Status_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Export_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Email_Send_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Recurring Donation Status = Cancelled</label>
        </rules>
        <rules>
            <name>Recurring_Donation_Change_Of_Payment_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__PaymentMethod__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Email_Send_for_Recurring_Gift_Change_of_Payment_Method</targetReference>
            </connector>
            <label>Recurring Donation Change Of Payment Method</label>
        </rules>
        <rules>
            <name>Recurring_Gift_Amount_Raised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe03__Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe03__Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Email_for_Recurring_Gift_Amount_Raised</targetReference>
            </connector>
            <label>Recurring Gift Amount Raised</label>
        </rules>
        <rules>
            <name>Recurring_Gift_Amount_Lowered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe03__Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe03__Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe03__Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Email_for_Recurring_Gift_Amount_Lowered</targetReference>
            </connector>
            <label>Recurring Gift Amount Lowered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pause_Decision</name>
        <label>Pause_Decision</label>
        <locationX>469</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getcontact.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DECISION_Routing</targetReference>
            </connector>
            <label>Is_Email_Bounced</label>
        </rules>
    </decisions>
    <description>Record triggered flow that triggers various email sends based on defined criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Recurring Donation - Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recurring Donation - Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getcontact</name>
        <label>getcontact</label>
        <locationX>292</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pause_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe03__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>398</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getcontact</targetReference>
        </connector>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
