force-app/main/default/flows/Send_Volunteer_Assignment_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Async_Process_Invocable</name>
        <label>Send Email Async Process Invocable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendEmailAsyncProcessInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactVar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailParametersMap</name>
            <value>
                <elementReference>emailParametersMap</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>qldjobs@rspcaqld.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailAsyncProcessInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recipient</name>
        <label>Assign Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Recipient.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_Email</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>contentPreviewJSONParams</name>
        <dataType>String</dataType>
        <expression>&apos;{\&quot;cmp\&quot;: \&quot;VolunteerRescueRequestReceipt\&quot;, \&quot;jobId\&quot;: \&quot;&apos;
+ {!recordId.Id}
+ &apos;\&quot;, \&quot;contactId\&quot;: \&quot;&apos;
+ {!contactVar.Id}
+ &apos;\&quot;, \&quot;renderAs\&quot;: \&quot;pdf\&quot;, \&quot;fileName\&quot;: \&quot;Volunteer Rescue Request\&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>emailParametersMap</name>
        <dataType>String</dataType>
        <expression>&apos;vfComponent=VolunteerRescueRequestReceipt;jobId=&apos; &amp; {!recordId.Id}
&amp; &apos;;contactId=&apos; &amp; {!contactVar.Id}</expression>
    </formulas>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Volunteer Rescue Request&apos; &amp; &apos; &apos; &amp; {!recordId.Name}</expression>
    </formulas>
    <interviewLabel>Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Volunteer Assignment Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Preview_Email</name>
        <label>Preview Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email_Async_Process_Invocable</targetReference>
        </connector>
        <fields>
            <name>vertic_ContentPreview</name>
            <extensionName>c:vertic_ContentPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paramsJSON</name>
                <value>
                    <elementReference>contentPreviewJSONParams</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iFrameHeight</name>
                <value>
                    <stringValue>720px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Recipient</name>
        <label>Select Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Recipient</targetReference>
        </connector>
        <fields>
            <name>Contact_Recipient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MasterRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Recipient (Contact)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Recipient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Job__c</objectType>
    </variables>
</Flow>
