force-app/main/default/flows/Start_Referral_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Animal_JSON</name>
        <label>Get Animal JSON</label>
        <locationX>1854</locationX>
        <locationY>1574</locationY>
        <actionName>animalos__GetSObjectJSONInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Flags_for_Next_Steps</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>animalos__Animal__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>animalVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>animalos__GetSObjectJSONInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Referral_JSON</name>
        <label>Get Referral JSON</label>
        <locationX>1854</locationX>
        <locationY>1466</locationY>
        <actionName>animalos__GetSObjectJSONInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Animal_JSON</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>animalos__Referral__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>animalos__GetSObjectJSONInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_SObject_Type</name>
        <label>Get SObject Type</label>
        <locationX>1854</locationX>
        <locationY>134</locationY>
        <actionName>GetSObjectTypeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Id_sObject_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSObjectTypeInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Emergency_Boarding_Default_Values</name>
        <label>Assign Emergency Boarding Default Values</label>
        <locationX>1546</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>referralVar.animalos__Animal_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Emergency Boarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Referral_Emergency_Boarding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Specific_Default_Values</name>
        <label>Assign Job Specific Default Values</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>referralVar.animalos__Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Flags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Koala_Rescue_Default_Values</name>
        <label>Assign Koala Rescue Default Values</label>
        <locationX>3130</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>animalVar.animalos__Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wildlife</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalVar.animalos__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Native Marsupial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalVar.animalos__Primary_Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>koalaBreedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Koala_Rescue_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_and_Scheduled_Date_Time</name>
        <label>Assign Record Type and Scheduled Date Time</label>
        <locationX>1854</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>referralVar.animalos__Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referralVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referralRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Default_Values</name>
        <label>Assign Return Default Values</label>
        <locationX>1810</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>referralVar.animalos__Animal_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Returns</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Referral_Return</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Flags</name>
        <label>Check Flags</label>
        <locationX>1854</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Default_Record_Type_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Flag</defaultConnectorLabel>
        <rules>
            <name>Is_Rescue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRescue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rescue_Record_Type_Selection</targetReference>
            </connector>
            <label>Is Rescue</label>
        </rules>
        <rules>
            <name>Is_Inspectorate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInspectorate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspectorate_Animal_Referral_Record_Type_1</targetReference>
            </connector>
            <label>Is Inspectorate</label>
        </rules>
        <rules>
            <name>Is_Domestic_Rescue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDomesticRescue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Domestic_Rescue_Referral_Record_Type</targetReference>
            </connector>
            <label>Is Domestic Rescue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Flags_for_Next_Steps</name>
        <label>Check Flags for Next Steps</label>
        <locationX>1854</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Start_Referral_Flow_Step_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Flag</defaultConnectorLabel>
        <rules>
            <name>Is_Rescue1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRescue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wildlife_Animal_Intake_Flow_Step_Screen</targetReference>
            </connector>
            <label>Is Rescue</label>
        </rules>
        <rules>
            <name>Is_Inspectorate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInspectorate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Flow_Step_Screen</targetReference>
            </connector>
            <label>Is Inspectorate</label>
        </rules>
        <rules>
            <name>Is_Domestic_Rescue1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDomesticRescue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Flow_Step_Screen</targetReference>
            </connector>
            <label>Is Domestic Rescue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Id_sObject_Type</name>
        <label>Record Id sObject Type</label>
        <locationX>1854</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_Flags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sObject_Type_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SObject_Type.sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>animalos__Job__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Specific_Default_Values</targetReference>
            </connector>
            <label>sObject Type = Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Record_Type</name>
        <label>Selected Record Type</label>
        <locationX>1854</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>No_Configured_Flow_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adoption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adoption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Adoption</targetReference>
            </connector>
            <label>Adoption</label>
        </rules>
        <rules>
            <name>Inbound_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound_Animal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_JSON</targetReference>
            </connector>
            <label>Inbound Animal</label>
        </rules>
        <rules>
            <name>Outbound_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound_Animal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Outbound_Animal</targetReference>
            </connector>
            <label>Outbound Animal</label>
        </rules>
        <rules>
            <name>Animal_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Animal_Intake_Bequests_incoming_offspring_and_Transfer_In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Animal_Intake</targetReference>
            </connector>
            <label>Animal Intake</label>
        </rules>
        <rules>
            <name>Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information_Pre_surrender_Pet_Reunite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Information</targetReference>
            </connector>
            <label>Information</label>
        </rules>
        <rules>
            <name>Inspectorate_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspectorate_Animal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Inspectorate_Animal</targetReference>
            </connector>
            <label>Inspectorate Animal</label>
        </rules>
        <rules>
            <name>Emergency_Boarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programs_Emergency_Boarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Emergency_Boarding_Default_Values</targetReference>
            </connector>
            <label>Emergency Boarding</label>
        </rules>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return_Animals_returned_less_that_14_days_post_adoption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Return_Default_Values</targetReference>
            </connector>
            <label>Return</label>
        </rules>
        <rules>
            <name>Surrender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surrender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Surrender</targetReference>
            </connector>
            <label>Surrender</label>
        </rules>
        <rules>
            <name>Stray</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stray</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Stray</targetReference>
            </connector>
            <label>Stray</label>
        </rules>
        <rules>
            <name>Emergency_Boarding_Secure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programs_Emergency_Boarding_Secure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Emergency_Boarding_Secure</targetReference>
            </connector>
            <label>Emergency Boarding Secure</label>
        </rules>
        <rules>
            <name>Wildlife_Rescue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wildlife_Rescue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Referral_Wildlife_Rescue</targetReference>
            </connector>
            <label>Wildlife Rescue</label>
        </rules>
        <rules>
            <name>Koala_Rescue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Koala_Rescue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Koala_Breed</targetReference>
            </connector>
            <label>Koala Rescue</label>
        </rules>
        <rules>
            <name>Domestic_Rescue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic_Rescue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Domestic_Rescue_Subflow</targetReference>
            </connector>
            <label>Domestic Rescue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Referral_Record_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Referral__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adoption</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound_Animal</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Animal</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Animal_Intake_Bequests_incoming_offspring_and_Transfer_In</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Information_Pre_surrender_Pet_Reunite</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspectorate_Animal</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programs_Emergency_Boarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return_Animals_returned_less_that_14_days_post_adoption</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stray</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surrender</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programs_Emergency_Boarding_Secure</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wildlife_Rescue</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>referralRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>referralRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rescue_Referral_Record_Type_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Referral__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Rescue</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Domestic_Rescue</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>referralRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>referralRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Start Referral (Custom) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Referral (Custom)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Domestic_Rescue_Referral_Record_Type</name>
        <label>Get Domestic Rescue Referral Record Type</label>
        <locationX>1986</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_and_Scheduled_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic_Rescue</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Referral__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>referralRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>referralRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspectorate_Animal_Referral_Record_Type_1</name>
        <label>Get Inspectorate Animal Referral Record Type</label>
        <locationX>1722</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_and_Scheduled_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspectorate_Animal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalos__Referral__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>referralRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>referralRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Koala_Breed</name>
        <label>Get Koala Breed</label>
        <locationX>3130</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Koala_Rescue_Default_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Koala</stringValue>
            </value>
        </filters>
        <object>animalos__Breed__c</object>
        <outputAssignments>
            <assignToReference>koalaBreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Default_Record_Type_Selection</name>
        <label>Default Record Type Selection</label>
        <locationX>2250</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Type_and_Scheduled_Date_Time</targetReference>
        </connector>
        <fields>
            <name>Referral_Record_Type</name>
            <choiceReferences>Referral_Record_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultRecordType</elementReference>
            </defaultValue>
            <fieldText>Referral Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Configured_Flow_Screen</name>
        <label>No Configured Flow Screen</label>
        <locationX>3658</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Flow_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Selected &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Record Type&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; has no related &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Start Referral Flow&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Please contact your System Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rescue_Record_Type_Selection</name>
        <label>Rescue Record Type Selection</label>
        <locationX>1458</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Type_and_Scheduled_Date_Time</targetReference>
        </connector>
        <fields>
            <name>Rescue_Referral_Record_Type</name>
            <choiceReferences>Rescue_Referral_Record_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultRecordType</elementReference>
            </defaultValue>
            <fieldText>Rescue Referral Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Referral_Flow_Step_Screen</name>
        <label>Start Referral Flow Step Screen</label>
        <locationX>1854</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StartReferralFlowStep</name>
            <extensionName>animalos:StartReferralFlowStep</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>referralJSON</name>
                <value>
                    <elementReference>Get_Referral_JSON.recordJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wildlife_Animal_Intake_Flow_Step_Screen</name>
        <label>Wildlife Animal Intake Flow Step Screen</label>
        <locationX>1546</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AnimalWildlifeIntakeFlowStep</name>
            <extensionName>c:WildlifeAnimalIntakeFlowStep</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>referralJSON</name>
                <value>
                    <elementReference>Get_Referral_JSON.recordJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>animalJSON</name>
                <value>
                    <elementReference>Get_Animal_JSON.recordJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SObject_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Domestic_Rescue_Subflow</name>
        <label>Domestic Rescue Subflow</label>
        <locationX>3394</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Domestic_Rescue</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Koala_Rescue_Subflow</name>
        <label>Koala Rescue Subflow</label>
        <locationX>3130</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Koala_Rescue</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Adoption</name>
        <label>Start Referral - Adoption</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Adoption_Custom</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Animal_Intake</name>
        <label>Start Referral - Animal Intake</label>
        <locationX>754</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Animal_Intake</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Emergency_Boarding</name>
        <label>Start Referral - Emergency Boarding</label>
        <locationX>1546</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Emergency_Boarding</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Emergency_Boarding_Secure</name>
        <label>Start Referral - Emergency Boarding Secure</label>
        <locationX>2602</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Emergency_Boarding_Secure</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Information</name>
        <label>Start Referral - Information</label>
        <locationX>1018</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Information</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Inspectorate_Animal</name>
        <label>Start Referral - Inspectorate Animal</label>
        <locationX>1282</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Inspectorate_Animal</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Outbound_Animal</name>
        <label>Start Referral - Outbound Animal</label>
        <locationX>490</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Outbound_Animal_Custom</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Return</name>
        <label>Start Referral - Return</label>
        <locationX>1810</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Return</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Stray</name>
        <label>Start Referral - Stray</label>
        <locationX>2338</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Stray</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Surrender</name>
        <label>Start Referral - Surrender</label>
        <locationX>2074</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Surrender</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Start_Referral_Wildlife_Rescue</name>
        <label>Start Referral - Wildlife Rescue</label>
        <locationX>2866</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Referral_JSON</targetReference>
        </connector>
        <flowName>Start_Referral_Wildlife</flowName>
        <inputAssignments>
            <name>referralVar</name>
            <value>
                <elementReference>referralVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>referralVar</assignToReference>
            <name>referralVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>animalVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Animal__c</objectType>
    </variables>
    <variables>
        <name>DefaultRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDomesticRescue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isInspectorate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRescue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>koalaBreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalos__Referral__c</objectType>
    </variables>
</Flow>
