force-app/main/default/flows/Start_Referral_Stray.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Referral_Values</name>
        <label>Assign Referral Values</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>referralVar.Location_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_All_Required_Fields_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Postcode</name>
        <label>Set Postcode</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>referralVar.Postcode_Suburb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postcode_Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_All_Required_Fields_Populated</name>
        <label>Are All Required Fields Populated?</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Postcode_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Required_Fields_Are_Not_Populated</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>referralVar.animalos__Animal_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.Referral_Address__Street__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.How_Stray_Was_Found__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.Referral_Address__PostalCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.animalos__Entry_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.animalos__Scheduled_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.animalos__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referralVar.animalos__Referral_Organisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Fields_Are_Not_Populated</targetReference>
            </connector>
            <label>All Required Fields Are Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Postcode_Found</name>
        <label>Is Postcode Found?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postcode_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postcode_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Postcode</targetReference>
            </connector>
            <label>Postcode is Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>missingFields</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
OR(ISNULL({!referralVar.animalos__Contact__c}), ISBLANK({!referralVar.animalos__Contact__c})),
 OR(ISNULL({!referralVar.animalos__Referral_Organisation__c}), ISBLANK({!referralVar.animalos__Referral_Organisation__c}))),
    &apos;Contact OR Referral Organisation must be added, &apos;,
    &apos;&apos;
)
&amp;
IF(
    OR(ISNULL(TEXT({!referralVar.animalos__Animal_Source__c})), ISBLANK(TEXT({!referralVar.animalos__Animal_Source__c}))),
    &apos;Animal Source, &apos;,
    &apos;&apos;
)
&amp;
IF(
    OR(ISNULL({!referralVar.Referral_Address__Street__s}), ISBLANK({!referralVar.Referral_Address__Street__s})),
    &apos;Street, &apos;,
    &apos;&apos;
)
&amp;
IF(
    OR(ISNULL(TEXT({!referralVar.How_Stray_Was_Found__c})), ISBLANK(TEXT({!referralVar.How_Stray_Was_Found__c}))),
    &apos;How Stray Was Found, &apos;,
    &apos;&apos;
)
&amp;
IF(
    ISNULL({!referralVar.animalos__Scheduled_Date_Time__c}),
    &apos;Scheduled Date/Time, &apos;,
    &apos;&apos;
)
&amp;
IF(
    OR(ISNULL({!referralVar.Referral_Address__PostalCode__s}), ISBLANK({!referralVar.Referral_Address__PostalCode__s})),
    &apos;Postcode/Suburb, &apos;,
    &apos;&apos;
)
&amp;
IF(
    OR(ISNULL({!referralVar.animalos__Entry_Site__c}), ISBLANK({!referralVar.animalos__Entry_Site__c})),
    &apos;Entry Site&apos;,
    &apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Start Referral - Stray {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Referral - Stray</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Postcode_Record</name>
        <label>Get Postcode Record</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Postcode_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Postcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>referralVar.Referral_Address__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suburb__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>referralVar.Referral_Address__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>New__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postcode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Referral_Fields</name>
        <label>Referral Fields</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Referral_Values</targetReference>
        </connector>
        <fields>
            <name>Referral_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Referral_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.animalos__Contact__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.animalos__Animal_Source__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.How_Stray_Was_Found__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Location_Information</name>
                    <fieldText>Location Information</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.animalos__Scheduled_Date_Time__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Referral_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.animalos__Referral_Organisation__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.Referral_Address__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>referralVar.animalos__Entry_Site__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Fields_Are_Not_Populated</name>
        <label>Required Fields Are Not Populated</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Go back to previous screen and populate next fields: {!missingFields}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Referral_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>referralVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>animalos__Referral__c</objectType>
    </variables>
</Flow>
