force-app/main/default/flows/websiteIntegration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Output_Assignment_0</name>
        <label>Output Assignment</label>
        <locationX>2025</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonationVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>splitPaymentOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftVar.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>FaultMessage_Animal</name>
        <label>FaultMessage Animal</label>
        <locationX>1893</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Output_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Animal Successful</defaultConnectorLabel>
        <rules>
            <name>Animal_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Animal Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Campaign</name>
        <label>FaultMessage Campaign</label>
        <locationX>438</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Or_updated_Split_Payment_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign Successful</defaultConnectorLabel>
        <rules>
            <name>Campaign_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Campaign Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Contact</name>
        <label>FaultMessage Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Successful</defaultConnectorLabel>
        <rules>
            <name>Contact_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Donation</name>
        <label>FaultMessage Donation</label>
        <locationX>1216</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Gift</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donation Successful</defaultConnectorLabel>
        <rules>
            <name>Donation_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Donation Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Donation_0</name>
        <label>FaultMessage Donation</label>
        <locationX>1464</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gift Successful</defaultConnectorLabel>
        <rules>
            <name>Donation_Error_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Gift Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Payment</name>
        <label>FaultMessage Payment</label>
        <locationX>1695</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Create_Related_Animal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Successful</defaultConnectorLabel>
        <rules>
            <name>Payment_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Payment Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Recurring</name>
        <label>FaultMessage Recurring</label>
        <locationX>960</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Successful</defaultConnectorLabel>
        <rules>
            <name>Recurring_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Recurring Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Split_Payment_Opportunity</name>
        <label>FaultMessage Split Payment Opportunity</label>
        <locationX>700</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign Successful</defaultConnectorLabel>
        <rules>
            <name>Campaign_Error_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Campaign Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Amount</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!donationAmount}, {!recurringDonationAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>setId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!giftVar.Id}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Website Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>438</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>FaultMessage_Campaign</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>campaignVar</assignToReference>
            <name>campaign</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>FaultMessage_Contact</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactVar</assignToReference>
            <name>contact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>1216</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>FaultMessage_Donation</targetReference>
        </connector>
        <flowName>Create_Donation</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donation</name>
            <value>
                <elementReference>donationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>gift</name>
            <value>
                <elementReference>giftVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentOpportunityId</name>
            <value>
                <elementReference>splitPaymentOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonation</name>
            <value>
                <elementReference>recurringDonationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmObject</name>
            <value>
                <elementReference>utmVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>donationVar</assignToReference>
            <name>donation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>donationVar.Id</assignToReference>
            <name>donationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>receiptNumber</assignToReference>
            <name>receiptNumber</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Gift</name>
        <label>Create Gift</label>
        <locationX>1464</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>FaultMessage_Donation_0</targetReference>
        </connector>
        <flowName>Create_Gift</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationVar</name>
            <value>
                <elementReference>donationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftCard</name>
            <value>
                <elementReference>giftVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentOpportunityID</name>
            <value>
                <elementReference>splitPaymentOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recuringDonationVar</name>
            <value>
                <elementReference>recurringDonationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmObject</name>
            <value>
                <elementReference>utmVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>giftVar</assignToReference>
            <name>giftCard</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>giftVar.Id</assignToReference>
            <name>giftId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Or_updated_Split_Payment_Opportunity</name>
        <label>Create Or updated Split Payment Opportunity</label>
        <locationX>700</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>FaultMessage_Split_Payment_Opportunity</targetReference>
        </connector>
        <flowName>Create_Split_Payment_Opportunity</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donation</name>
            <value>
                <elementReference>donationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>gift</name>
            <value>
                <elementReference>giftVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentVar</name>
            <value>
                <elementReference>paymentVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonation</name>
            <value>
                <elementReference>recurringDonationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utm</name>
            <value>
                <elementReference>utmVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>splitPaymentOpportunity</assignToReference>
            <name>splitPaymentOpportunityId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>1695</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>FaultMessage_Payment</targetReference>
        </connector>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationVar</name>
            <value>
                <elementReference>donationVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftVar</name>
            <value>
                <elementReference>giftVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentOpportunityId</name>
            <value>
                <elementReference>splitPaymentOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentVar</name>
            <value>
                <elementReference>paymentVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonationId</name>
            <value>
                <elementReference>recurringDonationVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringVar</name>
            <value>
                <elementReference>recurringDonationVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Recurring</name>
        <label>Create Recurring</label>
        <locationX>960</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>FaultMessage_Recurring</targetReference>
        </connector>
        <flowName>Create_recurring</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentVar</name>
            <value>
                <elementReference>paymentVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonation</name>
            <value>
                <elementReference>recurringDonationVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paymentVar</assignToReference>
            <name>paymentVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recurringDonationVar</assignToReference>
            <name>recurringDonation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recurringDonationVar.Id</assignToReference>
            <name>recurringDonationId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Related_Animal</name>
        <label>Create Related Animal</label>
        <locationX>1893</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>FaultMessage_Animal</targetReference>
        </connector>
        <flowName>Created_Related_Animal</flowName>
        <inputAssignments>
            <name>GiftVar</name>
            <value>
                <elementReference>giftVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityVar</name>
            <value>
                <elementReference>donationVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowFaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>relatedAnimalId</assignToReference>
            <name>relatedAnimalId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>animalVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countRequestSOQLAfter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>countRequestSOQLBefore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationAnimalAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAnimalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>donationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>giftAnimalAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftClosedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>giftEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftFromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftGiftCardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftlastGiftCard</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftmultipleGiftCards</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDateEstablished</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringDonationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringNextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedAnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>splitPaymentOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>splitPaymentOpportunityUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ticketAduitAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketChild</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketChildAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ticketFamily</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketFamilyAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticketLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketsConcession</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketsConcessionAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
